<head>

	%include templates/parts/head.html

			
</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

    <div class="page-header" style="backgroud-color:#cdbfe3">
    	<div class="container">
   			<div>
				<div id="headerText" style="padding-bottom:15px;">
					<div class="h1" style="margin-top:0px;font-size:40px;">
                        Bonus programs
					</div>
					<div>
						Summer 2019
					</div>
				</div>
	          
	        </div>
		</div>
	</div>



	<!-- Main Content -->
	<div class="container">

		<div class="section" id="schedule">
            %include templates/parts/bonusTable.html
            <hr/>

		</div>

		



		

		%include templates/parts/footer.html

	</div>
</body>
