% rebase('templates/en/template.ptl', title="Home")

<div class="page-header" style="backgroud-color:#cdbfe3">
	<div class="container">
			<div>
        	<div id="logo">
				<img id="logoImg" src="{{pathToRoot}}img/logo.png"/>
			</div>
			<div id="headerText" style="padding-bottom:15px;">
				<div class="h1" style="margin-top:0px;font-size:40px;">
					Intro to Computer Science
				</div>
				<div>
					Summer 2020
				</div>
				<div>
					August 4th to August 20th, online
				</div>
			</div>
          
        </div>
	</div>
</div>
	
<br />

<%
import os
import csv
with open("templates/announcements/times.csv", 'r') as f:
  reader = csv.reader(f, delimiter=',')
  header = next(reader)
%>

% for row in reader:
  % datetime_start, datetime_end, alert_type, fname = row
  <div class="alert {{alert_type}} visible-during" data-visible-start="{{datetime_start}}" data-visible-end="{{datetime_end}}">
    % with open(os.path.join("templates", "announcements", fname), 'r') as f:
        {{!f.read()}}   
    % end
  </div>
% end

<div class="alert alert-warning visible-default">
  % with open(os.path.join("templates", "announcements", "default.ptl"), 'r') as f:
      {{!f.read()}}
  % end
</div>


<!-- <div class="alert alert-success">
	<b>Who are you?</b> Fill in the <a href="https://stanforduniversity.qualtrics.com/jfe/form/SV_1BKsIM6dKTTW0JL">class survey</a>.
</div> -->

<!--
<div class="alert alert-info">
	Add to the class playlist here: <a href="https://open.spotify.com/user/1251835474/playlist/2E1ccnzfMTqDv2D1JEoFF3">Spotify Playlist</a>
</div>
-->

<div>
<!-- <center>
	<img style="width: 100%;" src="{{pathToRoot}}img/fun/classPhoto.jpg"></img>
</center> -->

<!--
	<div class="alert alert-success">
	  Finishing up your final project?  Please fill out this survey as we reach the end of CS Bridge: <a href="https://stanforduniversity.qualtrics.com/jfe/form/SV_9QQCN0ZyMq3Ly3r">click here</a>.
	</div>
-->

	<h2>
		The Idea of the Course
	</h2>

	<p>The point of this three week course is to teach you the fundamentals of computer programming to the point where you can go and learn on your own. It is taught by a collaboration of instructors from Stanford University, CTU, and Koç. You will learn to program using material for Stanford's Introduction to Computer Science course.</p>
</div>



<hr/>

<!-- Daily schedule / list of programs -->
<div class="section" id="schedule">
	<h2>Programs</h2>
  <!--
	<div class="alert alert-info">
	  Here are instructions for how to work on the programs below during labs: <a href="{{pathToRoot}}en/handouts/eclipse.html">click here</a>.
	</div>
  -->
	%include templates/en/programTable.ptl
</div>

<hr/>

<!-- Course Staff -->
<div class="section" id="staff">
	<h2>Teachers</h2>
	<%
	# A list of the rows of staff members.
	# Each row is a list of the staff members to display photos for,
	# with each staff member being a (name, image file) tuple.  The
	# image files are assumed to live in img/peeps/.
	courseStaff = [
		[
	      ("Nick T.", "nickt.jpg"),
		  ("Ondra", "ondra.jpg"),
	      ("Ayca", "Ayca.jpg"),
	      ("Chris", "chris.jpg"),
	      ("Nick M.", "nickm.jpg"),
	      ("Josef", "Josef.jpg"),
		],
		[
	      ("Yosefa", "Yosefa.JPG"),
	      ("Burcu", "default.jpg"),
		  ("Lisa", "lisa.jpg"),
		  ("Ceren", "ceren.PNG"),
	      ("Ahmet", "Ahmet.png"),
		  ("Anna", "Anna.jpg"),
		],
		[
		("Demet", "Demet.jpeg"),
	      ("Eddie", "Eddie.jpg"),
		  ("Eliška", "Eliška.jpg"),
	      ("Emilia", "Emilia.jpg"),
		  ("Emirhan", "Emirhan.jpg"),
	      ("Eren", "Eren.jpeg"),
		  
		],
		[
		("Ezgi", "Ezgi.jpg"),
	      ("Gaby", "Gaby.jpeg"),
	      ("Gül Sena", "Gül Sena.JPG"),
	      ("Honza", "Honza.jpeg"),
	      ("Jan", "Jan.jpg"),
	      ("Jaroslav", "jaroslav.jpg"),
	      
		],
		[
		("Jillian", "jillian.jpg"),
	      ("Julie", "Julie.jpeg"),
		  ("Melis", "Melis.jpg"),
	      ("Necla", "Necla.jpg"),
	      ("Okan", "Okan.png"),
	      ("Oya", "Oya.jpg"),
	      
		],
		[
		("Ozan", "Ozan.jpg"),
	      ("Pinar", "Pinar.jpeg"),
		  ("Radek", "Radek.jpg")
	    ],
	]
	%>

	% for i in range(len(courseStaff)):
	  	<div class="row">
			% for staffMember in courseStaff[i]:
		  		<div class="col-xs-2">
					<div class="thumbnail">
			  			<img class="thumbnailImg" src="{{pathToRoot}}img/peeps/{{staffMember[1]}}" alt="profile picture">
				  		<div class="caption">
							<b>{{staffMember[0]}}</b>
				  		</div>
					</div>
		  		</div>
			% end
	  	</div>
	% end
</div>

<hr/>

<!-- Curriculum Overview -->
<div class="section" id="playWithKarel">
	<h2>Curriculum</h2>
	<img src = "{{pathToRoot}}img/icons/curriculum.jpg" style="width:100%"></img>
</div>


<!--<div class="section" id="playWithKarel">
	<h2>
		Play With Karel
	</h2>

	<p>Meet Karel, The Java Robot that Stanford uses to introduce university students to programming. </p>

	<p>Use Karel's commands to get her to move the beeper to the top of the ledge. Normally you will write your programs in an application called Eclipse, but to get you started we made a mini-eclipse for our website:
	</p>

	%include templates/parts/playWithKarel.ptl
</div>-->
