<head>

	%include templates/parts/head.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Beeper Line
			</h1>
			<p>
				Writen by Chris Piech
			</p>

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				<p>
					Your goal is to fill the first row of Karel's world with beepers. You can assume that Karel starts in the bottom left corner, facing east. For example, if you ran your program on the world on the left, it should produce the world on the right.
					<p>
					<center>
						<img style="width:600px"  src="{{pathToRoot}}img/projects/beeperLine/beeperLine1.png">	
					</center>
					</p>
					Your program should also work for worlds of different sizes. For example if we run the EXACT same program on this slightly larger world, Karel should still be able to place a full line of beepers without crashing. This means we can't use a for loop. We don't know before hand how big the world is going to be!
					<p>
					<center>
						<img style="width:700px"  src="{{pathToRoot}}img/projects/beeperLine/beeperLine2.png">	
					</center>
					</p>
				</p>
				
				
			</div>

		</div>

		<div class="row">
			<div class="col-md-12">
				<h2>Solution</h2>


<pre id="editor" style="height:320px">/**
 * Program: BeeperLine
 * -------------------
 * Fill the first row with beepers. Assumes that Karel starts out in
 * the bottom left corner of the screen, facing east.
 */
public class BeeperLine extends SuperKarel {
	
	public void run() {
		while(frontIsClear()) {
			putBeeper();
			move();
		}
		// This line is necessary to place the final beeper. The number
		// of times Karel moves is one less than the number of times karel
		// places a beeper (if the world is five squares wide, we place
		// 5 beepers but only move 4 times
		putBeeper();
	}
}</pre>
    
<script src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
   editor.setTheme('ace/theme/eclipse');
   editor.getSession().setMode("ace/mode/java");
   editor.setReadOnly(true);
   editor.renderer.setShowGutter(false); 
    /*editor.setTheme("ace/theme/eclipse");
    editor.getSession().setMode("ace/mode/java");*/
</script>

			</div>
		</div>

		
		%include templates/parts/footer.html

	</div>
</body>
