<head>

	%include templates/parts/head.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Optical Illusion
			</h1>
			<p>
				Based on an idea by Steve Cooper. Written by Chris Piech.
			</p>
			<p>
				Handouts:
				<a href ="{{pathToRoot}}handouts/graphics.html">Graphics Reference</a>
				<br/>
				Worked Example: 
				<a href="{{pathToRoot}}projects/stringArt.html">String Art</a>
			</p>

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				<p>
					Sometimes repeating patters can cause our eyes to see things that aren't there. Look at the picture below. Can you see little grey squares in the intersections of the white lines? Write a GraphicsProgram that create the optical illusion:
				</p>
				
				<p>
					<center>
						<img style="width:500px" src="{{pathToRoot}}img/projects/illusion/illusion1.png">	
					</center>
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<h2>Constants</h2>
				<p>
					You may notice that the starter code for this project has the lines:
					<div class="well"><code>private static final int SIZE = 100; <br/>private static final int GAP = 10;</code></div>
					which are written outside the run method (much like th random number generator). These lines define constants: variables whose values never change and since they are defined outside a method you can read their value from any point in the program. Though you <i>could</i> write this optical illusion using the numbers 100 and 10 directly in, using constants makes your program much easier to read.
					<!--<div class="well"><code>private drawSquare(int row, int col) {
						<br/>&nbsp;&nbsp;&nbsp;//code for drawing a square at the position row, col
						<br/>}</code></div>-->
				</p>
			</div>
		</div>


		<div class="row">
			<div class="col-md-12">
				<h2>Double For Loop</h2>
				<p>
					This problem requires using a for loop inside a for loop. Remember to use a different iterator variable for the inner loop. For example if your outer loop is of the form
					<div class="well"><code>for(int i = 0; i &lt; 100; i++)</code></div>
					The loop in the body must iterate through a variable other than i.
					<!--<div class="well"><code>private drawSquare(int row, int col) {
						<br/>&nbsp;&nbsp;&nbsp;//code for drawing a square at the position row, col
						<br/>}</code></div>-->
				</p>
			</div>
		</div>

		<!--<div class="row">
			<div class="col-md-12">
				<h2>Decomposition</h2>
				<p>
					This problem has a logical group of commands that draws a square that should be decomposed into its own method. The challenge is, that the method needs extra information, the row and column where it should be drawn. This problem can be addressed by using parameter passing. In your program, implement and use a method with the following prototype:
					<div class="well"><code>private drawSquare(int row, int col) {
						<br/>&nbsp;&nbsp;&nbsp;//code for drawing a square at the position row, col
						<br/>}</code></div>
				</p>
			</div>
		</div>-->

		<div class="row">
			<div class="col-md-12">
				<h2>Extension</h2>
				<p>
					If you have time, try creating this optical illusion! Note that all the squares are the same size and all lines are horizontal! Think about how to decompose your solution.
				</p>
				
				<p>
					<center>
						<img style="width:500px" src="{{pathToRoot}}img/projects/illusion/illusion2.png">	
					</center>
				</p>

				<p>If you are stuck, try drawing each row with the first black square always starting at x = 0. Then try to figure out how to create the offset pattern.</p>
			</div>
		</div>


		
		%include templates/parts/footer.html

	</div>
</body>
