<head>

	%include templates/parts/head.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Make Your Own
			</h1>
			<p>
				Written by You
			</p>
			

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				<p>
					For the final project you can also design a program to do whatever you like. 
				</p>
				<p>
					Before you get started you must have your idea approved by one of the teachers! Think of a few, incase one is too hard or too easy. 
				</p>
				

				
			</div>

		</div>

		
		%include templates/parts/footer.html

	</div>
</body>
