<head>

	%include templates/parts/head.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Random Painter
			</h1>
			<p>
				Writen by Chris Piech
			</p>

			<p>
				Handouts: 
				<a href ="{{pathToRoot}}handouts/karel.html">KarelReference</a>
				<br/>Worked Examples: 
				<a href="{{pathToRoot}}projects/invert.html">Invert</a>,
				<a href="{{pathToRoot}}projects/unKarel.html">UN Karel</a>
			</p>

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				<p>
					Karel is starting to find her world too black and white. Help her fill it with color.
					<p>
					<center>
						<img style="width:100%"  src="{{pathToRoot}}img/projects/randomPainter/long.png">	
					</center>
					</p>
				</p>
				<h2>Paint and Random</h2>
				<p>
					Karel has a few commands up her sleeve. She can paint the corner on which she is standing using the instruction
<div class="well"><code>paintCorner(color);</code></div>
The value enclosed in the parentheses, which is called an argument in the terminology
of programming languages, may be any of the following:
                 <span style="color:red;">RED</span>&nbsp;&nbsp;  
                 <span style="color:orange;">ORANGE</span>&nbsp;&nbsp;
                 <span style="color:green;">GREEN</span>&nbsp;&nbsp;
                 <span style="color:cyan;">CYAN</span>&nbsp;&nbsp;
                 <span style="color:blue;">BLUE</span>&nbsp;&nbsp;
                 <span style="color:magenta;">MAGENTA</span>
                 and more...             
				</p>
				<p>
					Karel also defines a new condition random, which is true half the time, but in an unpredictable way. Like flipping a coin, sometimes it returns true and sometimes it returns false. For example the code 
					<div class="well"><code>if(random()) {<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;putBeeper();<br/>
					}</code></div>
					Will place a beeper, or will not, with equal probability.

				</p>
				<h2>Painter</h2>
				<p>
					Use these new abilities to have karel randomly paint each corner of a world one of two colors. You can chose any two colors you would like, we chose green and blue.
				</p>
				<p>

					 Below are three executions of the same program that randomly paints any sized world green and blue executed on a 10x10 world. Note that because of the random condition, the pattern of green and blue is different on each run!
				</p>
				<p>
					<center>
						<img style="width:100%"  src="{{pathToRoot}}img/projects/randomPainter/randoms.png">	
					</center>
				</p>
				<p>
					As always, remember to decompose your solution! Your program should work on a world of any size.
				</p>
			</div>

		</div>

		
		%include templates/parts/footer.html

	</div>
</body>
