
% rebase('templates/tr/template.ptl', title="Bonus")

<div class="page-header" style="backgroud-color:#cdbfe3">
	<div class="container">
		<div id="headerText" style="padding-bottom:15px;">
			<div class="h1" style="margin-top:0px;font-size:40px;">
                Bonus Programlar
			</div>
		</div>
   	</div>
</div>

<!-- Main Content -->
<div class="container">
	<div class="section" id="schedule">

		<!-- Karel -->
		<h3>Karel</h3>
		<table class="table table-hover table-bordered table-striped">
			<thead>
				<tr>
					<th>Resim</th>
					<th>İsim</th>
					<th>Zorluk Seviyesi</th>
					<th>Başlangıç Kodu</th>
				</tr>
			</thead>
			<tbody>
				<tr>
                    <td><img style="height:auto;maxwidth:150px" class="projectImg" src="{{pathToRoot}}img/icons/midpoint.png"></img></a></td>
					<td><a href="{{pathToRoot}}tr/projects/midpointKarel.html">Orta Nokta</a></td>
					<td>&#9733;&#9733;&#9733;</td>
					<td><a href="{{pathToRoot}}starter/Day1.zip">Day1.zip</a> </td>
				</tr>
				<tr>
					<td><img style="width:auto;max-height:100px;max-width:150px" class="projectImg" src="{{pathToRoot}}img/icons/checkerboard.png"></img></td>
					<td><a href="{{pathToRoot}}tr/projects/checkerBoard.html">Dama Tahtası</a></td>
					<td>&#9733;&#9733;&#9734;</td>
					<td><a href="{{pathToRoot}}starter/BonusKarel.zip">BonusKarel.zip</a> </td>
				</tr>
				<tr>
                    <td><img style="width:auto;max-height:100px" class="projectImg" src="{{pathToRoot}}img/icons/squarePainter.png"></img></a></td>
					<td><a href="{{pathToRoot}}tr/projects/squarePainter.html">Kare Boyama</a></td>
					<td>&#9733;&#9733;&#9734;</td>
					<td><a href="{{pathToRoot}}starter/BonusKarel.zip">BonusKarel.zip</a> </td>
				</tr>
			</tbody>
		</table>

		<!-- Variables -->
		<div class="visible-after" data-visible-after="2019071009">
			<h3>Değişkenler</h3>
			<table class="table table-hover table-bordered table-striped">
				<thead>
					<tr>
						<th>Resim</th>
						<th>İsim</th>
						<th>Zorluk Seviyesi</th>
						<th>Başlangıç Kodu</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td ><img style="width:auto;max-height:100px" class="projectImg" src="{{pathToRoot}}img/icons/console.jpg"></img></td>
            <td>Bonus Konsol Programları
              <ul>
                <li><a href="{{pathToRoot}}tr/projects/piglet.html">Piglet</a></li>
                <li><a href="{{pathToRoot}}tr/projects/fizzBuzz.html">CızBız</a></li>
                <li><a href="{{pathToRoot}}tr/projects/conversion.html">Birim Çevirme</a></li>
            </td>
						<td>&#9733;&#9734;&#9734;</td>
						<td><a href="{{pathToRoot}}starter/BonusConsole.zip">BonusConsole.zip</a></td>
					</tr>
					<tr>
						<td ><img style="height:auto;max-height:100px;max-width:150px" class="projectImg" src="{{pathToRoot}}img/icons/loopingfun.png"></img></td>
						<td><a href="{{pathToRoot}}tr/projects/loopingFun.html">Eğlenceli Döngüler</a></td>
						<td>&#9733;&#9734;&#9734;</td>
						<td><a href="{{pathToRoot}}starter/BonusConsole.zip">BonusConsole.zip</a></td>
					</tr>
					<tr>
						<td><img style="width:auto;max-height:100px;max-width:150px" class="projectImg" src="{{pathToRoot}}img/icons/hailstone.png"></img></td>
						<td><a href="{{pathToRoot}}tr/projects/hailstone.html">Dolu Tanesi</a></td>
						<td>&#9733;&#9733;&#9734;</td>
						<td><a href="{{pathToRoot}}starter/BonusConsole.zip">BonusConsole.zip</a></td>
					</tr>
					<tr>
						<td><img style="width:auto;max-height:100px;max-width:150px" class="projectImg" src="{{pathToRoot}}img/icons/nimm.jpg"></img></td>
						<td><a href="{{pathToRoot}}tr/projects/nimm.html">Antik Nimm Oyunu</a></td>
						<td>&#9733;&#9733;&#9734;</td>
						<td><a href="{{pathToRoot}}starter/BonusConsole.zip">BonusConsole.zip</a></td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- Graphics -->
		<div class="visible-after" data-visible-after="2019071109">
			<h3>Grafikler</h3>
			<table class="table table-hover table-bordered table-striped">
				<thead>
					<tr>
						<th>Resim</th>
						<th>İsim</th>
						<th>Zorluk Seviyesi</th>
						<th>Başlangıç Kodu</th>
					</tr>
				</thead>
				<tbody>
					<tr class="table-bordered table-striped">
						<td><img style="width:auto;max-height:100px;max-width:150px;border:1px solid grey" class="projectImg" src="{{pathToRoot}}img/icons/bouncingMultiple.png"></img></td>
						<td><a href="{{pathToRoot}}tr/projects/bouncingBalls.html">Zıplayan Toplar</a></td>
						<td>&#9733;&#9734;&#9734;</td>
						<td><a href="{{pathToRoot}}starter/BonusGraphics.zip">BonusGraphics.zip</a></td>
					</tr>
					<tr class="table-bordered table-striped">
						<td><img style="width:auto;max-height:100px;max-width:150px;border:1px solid grey" class="projectImg" src="{{pathToRoot}}img/icons/creativeGraphics.jpg"></img></td>
						<td><a href="{{pathToRoot}}tr/projects/creativeGraphics.html">Yaratıcı Grafikler</a></td>
						<td>&#9733;&#9734;&#9734;</td>
						<td><a href="{{pathToRoot}}starter/BonusGraphics.zip">BonusGraphics.zip</a></td>
					</tr>
					<tr class="table-bordered table-striped">
						<td ><img style="width:auto;max-height:100px" class="projectImg" src="{{pathToRoot}}img/icons/creativeStringArt.png"></img></td>
						<td><a href="{{pathToRoot}}tr/projects/creativeStringArt.html">Yaratıcı Çizgi Sanatı</a></td>
						<td>&#9733;&#9734;&#9734;</td>
						<td><a href="{{pathToRoot}}starter/BonusGraphics.zip">BonusGraphics.zip</a></td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- Advanced Python -->
		<div class="visible-after" data-visible-after="2019071209">
			<h3>Parametreler ve Return</h3>
			<table class="table table-hover table-bordered table-striped">
				<thead>
					<tr>
						<th>Resim</th>
						<th>İsim</th>
						<th>Zorluk Seviyesi</th>
						<th>Başlangıç Kodu</th>
					</tr>
				</thead>
				<tbody>
			<tr>
						<td><img style="width:auto;max-height:100px;max-width:150px" class="projectImg" src="{{pathToRoot}}img/icons/madMethods.jpg"></img></td>
            <!-- Used to be a main course component -->
						<td><a href="{{pathToRoot}}tr/projects/drawTrees.html">Ağaç Çiz</a></td>
						<td>&#9733;&#9734;&#9734;</td>
						<td><a href="{{pathToRoot}}starter/BonusMethods.zip">BonusMethods.zip</a></td>
			</tr>
					<tr>
						<td><img style="width:auto;max-height:100px;max-width:150px" class="projectImg" src="{{pathToRoot}}img/icons/moreMethods.png"></img></td>
						<td><a href="{{pathToRoot}}tr/projects/moreFunctions.html">Daha Fazla Fonksiyon</a></td>
						<td>&#9733;&#9734;&#9734;</td>
						<td><a href="{{pathToRoot}}starter/BonusMethods.zip">BonusMethods.zip</a></td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- Advanced Java -->
		<div class="visible-after" data-visible-after="2019071209">
			<h3>Animasyon</h3>
			<table class="table table-hover table-bordered table-striped">
				<thead>
					<tr>
						<th>Resim</th>
						<th>İsim</th>
						<th>Zorluk Seviyesi</th>
						<th>Başlangıç Kodu</th>
					</tr>
					<tr>
						<td><img style="width:auto;max-height:100px;max-width:150px" class="projectImg" src="{{pathToRoot}}img/icons/numberGrid.jpg"></img></td>
						<td><a href="{{pathToRoot}}tr/projects/numberGrid.html">Sayı Şebekesi</a></td>
						<td>&#9733;&#9733;&#9733;</td>
						<td><a href="{{pathToRoot}}starter/MoreMethods.zip">BonusFonksiyonlar.zip</a></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><img style="width:auto;max-height:100px;max-width:150px" class="projectImg" src="{{pathToRoot}}img/icons/countdown.png"></img></td>
						<td><a href="{{pathToRoot}}tr/projects/countdown.html">Geri Sayım</a></td>
						<td>&#9733;&#9733;&#9734;</td>
						<td><a href="{{pathToRoot}}starter/BonusMethods.zip">BonusFonksiyonlar.zip</a></td>
					</tr>
					<tr>
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/borderBox.png"></img></td>
						<td><a href="{{pathToRoot}}tr/projects/borderBox.html">Sınırdaki Kutu</a></td>
						<td>&#9733;&#9733;&#9734;</td>
						<td><a href="{{pathToRoot}}starter/BonusMethods.zip">BonusFonksiyonlar.zip</a></td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- Events -->
		<div class="visible-after" data-visible-after="2019071509">
			<h3>Olaylar (Events)</h3>
			<table class="table table-hover table-bordered table-striped">
				<thead>
					<tr>
						<th>Resim</th>
						<th>İsim</th>
						<th>Zorluk Seviyesi</th>
						<th>Başlangıç Kodu</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><img style="width:auto;max-height:100px;max-width:150px" class="projectImg" src="{{pathToRoot}}img/icons/duplicateShape.jpg"></img></td>
						<td><a href="{{pathToRoot}}tr/projects/duplicatingShapes.html">Şekilleri Çoğaltma</a></td>
						<td>&#9733;&#9734;&#9734;</td>
						<td><a href="{{pathToRoot}}starter/BonusEvents.zip">BonusEvents.zip</a></td>
					</tr>
					<tr>
						<td><img style="width:auto;max-height:100px;max-width:150px;border:1px solid grey" class="projectImg" src="{{pathToRoot}}img/icons/clickNStuff.png"></img></td>
						<td><a href="{{pathToRoot}}tr/projects/clickNStuff.html">Tıklama Falan</a></td>
						<td>&#9733;&#9733;&#9733;</td>
						<td><a href="{{pathToRoot}}starter/BonusEvents.zip">BonusEvents.zip</a></td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- ArrayLists -->
		<div class="visible-after" data-visible-after="2019071709">
			<h3>Listeler</h3>
			<table class="table table-hover table-bordered table-striped">
				<thead>
					<tr>
						<th>Resim</th>
						<th>İsim</th>
						<th>Zorluk Seviyesi</th>
						<th>Başlangıç Kodu</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/borderSnake.png"></img></td>
						<td><a href="{{pathToRoot}}tr/projects/borderSnake.html">Sınırdaki Yılan</a></td>
						<td>&#9733;&#9733;&#9733;</td>
						<td><a href="{{pathToRoot}}starter/BonusArrays.zip">BonusArrays.zip</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
