% rebase('templates/tr/template.ptl', title="Home")

    <div class="page-header" style="backgroud-color:#cdbfe3">
    	<div class="container">
   			<div>
	        	<div id="logo">
					<img id="logoImg" src="{{pathToRoot}}img/logo.png"/>
				</div>
				<div id="headerText" style="padding-bottom:15px;">
					<div class="h1" style="margin-top:0px;font-size:40px;">
						Bilgisayar Bilimine Giriş
					</div>
					<div>
						2020 Yaz
					</div>
					<div>
						24 Haziran - 4 Temmuz, Koç Üniversitesi, Istanbul
					</div>
				</div>
	          
	        </div>
		</div>
	</div>



	<!-- Main Content -->
	<div class="container">

		<div class="section" id="information">
		<br/>
		<div class="alert alert-info">
      <b>Fill in the exit survey</b> after you finish your final project!!! The final survey can be found at <a href="https://tiny.cc/finish2019koc">tiny.cc/finish2019koc</a>.
    </div>
		<div class="alert alert-success">
      <p>Looking for life after CSBridge? Check out the <a href="{{pathToRoot}}en/handouts/whatsNext.html">What's Next</a> page!</p>
    </div>
		</div>

		<!--<div class="alert alert-success">
      Gerekli tüm bağlantılara (Lab için giriş yapma, çalışmaları teslim etme) 'Formlar' sekmesi altından ulaşabilirsiniz.
		</div>
    -->
		<!--
		<div class="alert alert-success">
			<b> We want your feedback</b>. Fill in the class survey here: <a href="https://www.surveymonkey.com/r/VCVVD8N">https://www.surveymonkey.com/r/VCVVD8N</a>.
		</div>

		<div class="alert alert-success">
			<b> Submit your work</b>. Use the submission process: <a href="{{pathToRoot}}en/handouts/submission.html">submission handout</a>.
		</div>

		<div class="alert alert-info">
			Sign in to lab <a href="https://docs.google.com/forms/d/e/1FAIpQLSffsKTNU3mu-21-ZjZFJ3d-fPdvw6uQcvhAjbpXhux43_3gpg/viewform?usp=sf_link">here</a>.
		</div>

    <div class="alert alert-info">
      Fill out <a href="https://docs.google.com/forms/d/e/1FAIpQLSdtHJpQ4Ksu3pWmPuCT5sC8m2WAvlOcr453P9UtsFFC-HCBdw/viewform">this survey</a> during the first lab.
    </div>


		<div class="alert alert-info">
			Add to the class playlist here: <a href="https://open.spotify.com/user/1251835474/playlist/2E1ccnzfMTqDv2D1JEoFF3">Spotify Playlist</a>
		</div>
		-->



		<div>
			<h2>
				Bu Dersin Amacı
			</h2>

			<p>Bu iki haftalık dersin amacı, size daha sonrasında kendi başınıza öğrenmeye devam edebilecek seviyede programcılığın temellerini öğretmektir. Dersler, Stanford ve Koç Üniversitesi'nden gelen bir grup eğitmen tarafından verilecektir. Programcılığı Stanford Üniversitesi'nin Bilgisayar Bilimine Giriş dersinde kullanılan materyeller üzerinden öğreneceksiniz.</p>

		</div>


		

		<div>

		<div class="section" id="schedule">
			<h2>
				Programlar
			</h2>
			%include templates/tr/programTable.ptl
			<hr/>

		</div>

    % include('templates/parts/peeps.ptl', teachers="Öğretmenler")

		<div class="section" id="playWithKarel">
			<h2>
				Müfredat
			</h2>
			<img src = "{{pathToRoot}}img/icons/curriculum.jpg" style="width:100%"></img>
			<hr/>
		</div>

