<head>

	%include templates/parts/head.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBarTk.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				İz Çıkartmaca
			</h1>
			<p>
				Gizemli bir CS106A öğretmeni tarafından yazılmıştır.
			</p>

			<p>
				Ders Notları:
				<a href ="{{pathToRoot}}tk/handouts/events.html">Events</a>
			<br/>
				Çalışılan Örnekler: 	
				<a href="{{pathToRoot}}tk/projects/stampTool.html">Stamp Tool</a>
			</p>

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				<p>Kullanıcının tıkladığı yerlerde ayak izi çıkartan bir program yazın.</p>

				<p>
					<center>
						<img style="width:500px" src="{{pathToRoot}}img/icons/makingTracks.png">	
					</center>
				</p>

				<p>Verilen <code>drawBearTrack</code> metodu girdi olarak kullanılan (x,y) koordinatlarında bir adet ayak izi oluşturmaktadır:</p>

				<pre>private void drawBearTrack(double x, double y)</pre>

				
			</div>
		</div>
		
		
		
		%include templates/parts/footer.html

	</div>
</body>
