<head>

	%include templates/parts/head.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
                Midpoint Karel
			</h1>
			<p>
                Written by Tyler Conklin
								</br>
								Based on past editions of this assignment as created by Mehran Sahami, Keith Schwarz, Eric Roberts, and others.
			</p>
			<p>
				Handouts:
                <a href ="{{pathToRoot}}en/handouts/karel.html">Karel Reference</a><br/>
			</p>

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				<p>
						This is a bonus program! It's meant to be challenging.
				</p>
				<p>
					Program Karel to place a single beeper at the center of 1st street. If Karel starts in the world below:
					<center>
						<img style="width:300px;border:2px solid grey" src="{{pathToRoot}}img/projects/midpointKarel/midpointKarelStart.png">	
					</center>
					then Karel should finish in the center of 1st street after placing a beeper there as shown below.
 					<center>
						<img style="width:300px;border:2px solid grey" src="{{pathToRoot}}img/projects/midpointKarel/midpointKarelFinish.png">	
					</center>
					Note that Karel finishes with just a single beeper placed at the center of 1st street. Karel may place more beepers than just this one, but must pick up the extra beepers before finishing at the midpoint.
        </p>

				<p>
					You are guaranteed the following facts and assumptions:
				</p>
				<ul>
					<li>Karel starts at 1st Avenue and 1st Street, facing east, with an infinite number of beepers in its bag.</li>
					<li>The initial state of the world includes no interior walls or beepers.</li>
					<li>The world need not be square, but you may assume that it is at least as tall as it is wide.</li>
					<li>If the width of the world is odd, Karel must put the beeper in the center square. If the width is even, Karel may drop the beeper on either of the two center squares.</li>
					<li>It does not matter which direction Karel is facing at the end of the run.</li>
				</ul>

				</br>
				<p>
					Remember that you may only use Karel syntax and can not use Java variables. This problem is difficult because Karel cannot count. There are many different ways to solve this problem, so have fun coming up with a creative approach!
				</p>


			</div>

		</div>

		
		%include templates/parts/footer.html

	</div>
</body>
