<head>

	%include templates/parts/head.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				ArrayLists Reference
			</h1>
			<p>
				Written by Eric Roberts
			</p>

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				<center><img style="width:700px;" src="{{pathToRoot}}img/handouts/arrayLists/arrayLists.png"></img></center>
			</div>
		</div>

		
		
		%include templates/parts/footer.html

	</div>
</body>
