<head>

	%include templates/parts/head.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Graphics Reference
			</h1>
			<p>
				Written by Eric Roberts
			</p>

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				<center><img style="width:700px;" src="{{pathToRoot}}img/handouts/graphics/graphicsHandout.png"></img></center>
			</div>
		</div>

		<p>
			<br/>
			Some other helpful graphics commands:<br/>

			<div class="well"><code>
				getWidth(); // returns the width of the screen. <br>
				getHeight(); // returns the height of the screen.<br>
				add(<i>object</i>); // adds an object to the screen.<br>
				remove(<i>object</i>); // removes an object from the screen.<br>
				getElementAt(<i>x</i>, <i>y</i>); // returns the element at x, y
			</code></div>
		</p>

		
		
		%include templates/parts/footer.html

	</div>
</body>
