% rebase('templates/en/template.ptl', title="TAs", taMode=True)

<!-- Main Content -->
<div class="container"><!-- Header -->
	<div id="pageHeader"><h1> Secret SL page </h1>
	</div>
	<hr/>
	<div class="row">
		<div class="col-md-12">

			<h2>Links</h2>

      <p>
        Link to enter student <a href="https://docs.google.com/spreadsheets/d/1AuO3bItQNTXD4-jXQE8XKvtWbrjM3fGjU3ek2HDtrUc/edit?usp=sharing">final projects</a>
      </p>
      <!-- <p>
        Student final projects <a href="https://docs.google.com/spreadsheets/d/1cr7OHhBe3bSmdZA4BY1KneayTXUs0EAe6qQ36SaqRiM/edit?usp=sharing">spreadsheet</a>
      </p> -->
			<p>
				Link with <a href="https://docs.google.com/spreadsheets/d/1Xn85dTuDvvPShgjOFxpdMO7RgXnZdNUG5-8OvyNEHcc/edit?usp=drive_web&ouid=110737593555713128053">schedule</a>
			</p>

			<p>
				Link with <a href="https://docs.google.com/document/d/1L4cZhvFkKIgsjtRundc5Ad7JntTiAR94vTiyEDPL15c/edit?usp=sharing">best practices</a>
			</p>

      <p>Section leader training document: <a href="https://docs.google.com/presentation/d/1aw54GKBcYWBFVoApj0nFoGQ9vh8bZN4g7odTV3nPbqI/edit?usp=sharing">Google Slides</a></p>

      <p>Section handouts and solutions: <a href="https://drive.google.com/drive/folders/0B5i66vtCb-ENcTNqS2p4aVBJVW8">Handouts Directory</a></p>

      <p>Code Review Demo Project: <a href="{{pathToRoot}}starter/CodeReview.zip">Click here</a></p>

      <!--<h2>Pre-survey for Lab 1, Day 1:</h2>
      <p>tiny dot cc slash csbridge2019koc</a></p>
      -->

      <!-- <h2>Daily reflections (during Team Meeting)</h2>
      <p><a href="http://tiny.cc/dailyreflectionform">tiny.cc/dailyreflectionform</a></p> -->
      <p>Awesome SL document you should add to! <a href="https://docs.google.com/document/d/1L4cZhvFkKIgsjtRundc5Ad7JntTiAR94vTiyEDPL15c/edit?usp=sharing">Best Practices and Good Ideas for Section Leading</a></p>

      <div class="alert alert-success">
        <b>Remember</b>: At the start of each lab have students sign in via the Forms dropdown. You will have to make up a special password each time (tiger, malaysia, tamales etc) and count the number of students.
      </div>
    </div>
  </div>

  <h2> Full Schedule With Solutions</h2>
  % include('templates/en/programTable.ptl', taMode=True)
</div>