<head>
<head>

	%include templates/parts/head.html

	<script src="karel/js/html/websiteImports.js"></script>
	<script>importCss();</script>
	<script>importJs();</script>

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

    <div class="page-header" style="backgroud-color:#cdbfe3">
    	<div class="container">
   			<div>
	        	<div id="logo">
					<img id="logoImg" src="img/logo.png"/>
				</div>
				<div id="headerText" style="padding-bottom:15px;">
					<div class="h1" style="margin-top:0px;font-size:40px;">
						Bilgisayar Bilimine Giriş
					</div>
					<div>
						2016 Yazı
					</div>
					<div>
						15 Haziran - 1 Temmuz, Koç Üniversitesi, Istanbul
					</div>
				</div>
	          
	        </div>
		</div>
	</div>



	<!-- Main Content -->
	<div class="container">

		<div class="section" id="information">

			

		<div style="margin-top:30px;" class="alert alert-success"><b>Güzel hatıralar</b>: Lütfen <a href="https://www.surveymonkey.com/s/6756TNB">ders anketini</a> doldurun.</div>
		
		<div style="margin-top:30px;" class="alert alert-success"><b>Neredeyse bitti</b>: Lütfen <a href="https://sendtomycloud.com/students
">final projenizi gönderin</a>.</div>
		

		<!--<div>
			<h2>Şu videolara bir bakın</h2>

		

			<p>Solda: Will.I.Am'a göre programcılar geleceğin rockstar'ları. Sağda: Programcılık din, dil, ırk, cinsiyet (ya da en sevdiği renk) ayrımı olmaksızın herkes içindir.</p>

				<center>

					<iframe width="400" height="315" src="//www.youtube.com/embed/nKIu9yen5nc" frameborder="0" allowfullscreen></iframe>

					<iframe width="400" height="315" src="//www.youtube.com/embed/DqrfPCGo2aQ" frameborder="0" allowfullscreen></iframe>

				</center>


			</p>
		</div>-->

		<div>
			<h2>
				Bu Dersin Amacı
			</h2>

			<p>Bu iki haftalık dersin amacı, size daha sonrasında kendi başınıza öğrenmeye devam edebilecek seviyede programcılığın temellerini öğretmek. Stanford ve (Koç) Üniversitesi'nden gelen bir grup eğitmen tarafından verilecek. Programcılığı Stanford Üniversitesi'nin Bilgisayar Bilimine Giriş dersinde kullanılan materyeller üzerinden öğreneceksiniz.</p>

			%include templates/parts/peeps.html
		</div>


		<div>
			<h2>
				Ders Bittikten Sonra Devam Etmek
			</h2>

			<p>Artık dersimiz bitti. Umarım keyif almışsınızdır! Stanford'ın CS106 Programming Methodologies dersinin büyük bir kısmını bitirdiniz. Ama umarım bu sizin için daha başlangıç. Peki sırada ne var? Bu <a href="handouts/whatsNext.html">sayfaya</a> bir göz atın. İsterseniz 
				<a href="mailto:alisha.adam13@gmail.com">Alisha</a> ya da 
				<a href="mailtobkgoksel@gmail.com">Kerem</a>'e  mail atarak
			öğrenmeye devam etmek istediğinizi haber verin. </p>
		</div>

		<div>

		<div class="section" id="schedule">
			<h2>
				Programlar
			</h2>
			<table class="table table-hover">
				<thead>
					<tr>
						<!--<th style="width: 80px;">Date</th>-->
						<th></th>
						<!--<th>Reading</th>-->
						<th>Adı</th>
						<th>Konu</th>
						<th>Başlangıç Kodu</th>
					</tr>
				</thead>
				<tbody>

					<tr>
						<th colspan = "6"><b>
						<br>
						[Ders Sonrası]</b></th>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="img/icons/instakilo.png"></img></td>
						<td><a href="{{pathToRoot}}projects/instakilo.html">Instakilo</a></td>
						<td>Hashmap'ler</td>
						<td><a href="{{pathToRoot}}starter/Instakilo.zip">Instakilo.zip</a> </td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="img/icons/hangman.png"></img></td>
						<td><a href="{{pathToRoot}}projects/hangman.html">Adam Asmaca</a></td>
						<td>String'ler</td>
						<td><a href="{{pathToRoot}}starter/Hangman.zip">Hangman.zip</a> </td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="img/icons/mouseGame.png"></img></td>
						<td><a href="{{pathToRoot}}projects/mouseGame.html">Çizgide</a></td>
						<td>Konu Tekrarı</td>
						<td><a href="{{pathToRoot}}starter/TheLine.zip">TheLine.zip</a> </td>
					</tr>
                
                



					<tr>
						<th colspan = "6"><b>
						<br>
						[Projeler]</b></th>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="img/icons/project.png"></img></td>
						<td><a href="{{pathToRoot}}projects/project.html">Kendi Projeni Yap</a></td>
						<td>Tüm Konular</td>
						<td><a href="{{pathToRoot}}starter/FinalProject.zip">FinalProject.zip</a></td>
					</tr>

					
					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="img/icons/music3.jpg"></img></td>
						<td><a href="{{pathToRoot}}projects/music.html">Ses Dalgaları</a></td>
						<td>ArrayList'ler</td>
						<td><a href="{{pathToRoot}}starter/Sound.zip">Sound.zip</a> </td>
					</tr>

					
             

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="img/icons/breakout.jpg"></img></td>
						<td><a href="{{pathToRoot}}projects/breakout.html">Breakout!</a></td>
						<td>Interactor'ler</td>
						<td><a href="{{pathToRoot}}starter/Breakout.zip">Breakout.zip</a></td>
					</tr>

					<tr>
						<th colspan = "6"><b>
						<br>
						[JavaScript]</b></th>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="img/icons/jsCannon.jpg"></img></td>
						<td><a href="{{pathToRoot}}projects/musicCannon.html">Ses Kanonu</a></td>
						<td>Web Programcılığı</td>
						<td><a href="{{pathToRoot}}starter/JSDay3.zip">JavaScriptDay3.zip</a></td>
					</tr>

            <!--<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="img/handouts/uploadWebsite/github-octocat.png"></img></td>
						<td><a href="{{pathToRoot}}handouts/uploadWebsite.html">Uploading Your Website</a></td>
						<td>Web Programming</td>
                        <td></td>
					</tr>-->
            <tr class="table-bordered table-striped">
						<td><img class="projectImg" src="http://www.muratarik.com.tr/wp-content/uploads/2015/03/k13.jpg"></img></td>
						<td><a href="{{pathToRoot}}projects/myhomepage.html">HTML'ye Merhaba</a></td>
						<td>Web Programcılığı</td>
                        <td></td>
					</tr>
            

                
                    <tr class="table-bordered table-striped">
						<td><img class="projectImg" src="img/icons/waldo.jpg"></img></td>
						<td><a href="{{pathToRoot}}projects/jsAliNerede.html">Ali Nerede?</a></td>
						<td>Web Programcılığı</td>
						<td><a href="{{pathToRoot}}starter/jsday2.zip">JavaScriptDay2.zip</a></td>
					</tr>

                    <tr class="table-bordered table-striped">
						<td><img class="projectImg" src="img/icons/randomCircles.png"></img></td>
						<td><a href="{{pathToRoot}}projects/jsRandomCircles.html">Tesadüfi Dairelere Dönüş</a></td>
						<td>Web Programcılığı</td>
						<td><a href="{{pathToRoot}}starter/jsday1.zip">JavaScriptDay1.zip</a></td>
					</tr>

                
                    <tr class="table-bordered table-striped">
						<td><img class="projectImg" src="img/icons/jawa.jpg"></img></td>
						<td><a href="{{pathToRoot}}projects/jawascript.html">Karşınızda Javascript!</a></td>
						<td>Web Programcılığı</td>
						<td><a href="{{pathToRoot}}starter/jsday1.zip">JavaScriptDay1.zip</a></td>
					</tr>
					

					<tr>
						<th colspan = "6"><b>
						<br>
						[Java]</b></th>
					</tr>
					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="img/icons/secret.jpg"></img></td>
						<td><a href="{{pathToRoot}}projects/secret.html">Çok Gizli</a></td>
						<td>Sandcastle</td>
						<td><a href="{{pathToRoot}}starter/Day7.zip">Day7.zip</a></td>
					</tr>
					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="img/icons/madLibs.png"></img></td>
						<td><a href="{{pathToRoot}}projects/madLibs.html">Sana Laflar Hazırladım</a></td>
						<td>Sandcastle</td>
						<td><a href="{{pathToRoot}}starter/Day6.zip">Day6.zip</a></td>
					</tr>
					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="img/icons/catchMeIfYouCan.png"></img></td>
						<td><a href="{{pathToRoot}}projects/catchMeIfYouCan.html">Yakalarsam...</a></td>
						<td>Sandcastle</td>
						<td><a href="{{pathToRoot}}starter/Day5.zip">Day5.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="img/icons/illusion.png"></img></td>
						<td><a href="{{pathToRoot}}projects/illusion.html">Optik İllüzyon</a></td>
						<td>For Döngüsü</td>
						<td><a href="{{pathToRoot}}starter/Day4.zip">Day4.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="img/icons/drawPeople.png"></img></td>
						<td><a href="{{pathToRoot}}projects/drawPeople.html">Çekirge Bir Sıçrar İki Sıçrar...</a></td>
						<td>Sandcastle</td>
						<td><a href="{{pathToRoot}}starter/Day4.zip">Day4.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="img/icons/sunset.png"></img></td>
						<td><a href="{{pathToRoot}}projects/sunset.html">Kısa Film</a></td>
						<td>Parametreler ve Return'ler</td>
						<td><a href="{{pathToRoot}}starter/Day3.zip">Day3.zip</a></td>
					</tr>
					
					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="img/icons/target.png"></img></td>
						<td><a href="{{pathToRoot}}projects/target.html">Hedef Tahtası</a></td>
						<td>Parametreler</td>
						<td><a href="{{pathToRoot}}starter/Day3.zip">Day3.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="img/icons/madMax.jpg"></img></td>
						<td><a href="{{pathToRoot}}projects/madMax.html">Mad Max</a></td>
						<td>Parametreler ve Return'ler</td>
						<td><a href="{{pathToRoot}}starter/Day3.zip">Day3.zip</a></td>
					</tr>

					<!--<tr>
						<th colspan = "6"><b>
						<br>
						[Variables]</b></th>
					</tr>-->

					



					
					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="img/icons/bouncing.png"></img></td>
						<td><a href="{{pathToRoot}}projects/bouncingBall.html">Zıp Zıp Top</a></td>
						<td>Animasyon</td>
						<td><a href="{{pathToRoot}}starter/Day3.zip">Day3.zip</a></td>
					</tr>
					
					

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="img/icons/randomCircles.png"></img></td>
						<td><a href="{{pathToRoot}}projects/randomCircles.html">Tesadüfi Daireler</a></td>
						<td>Rasgelelik</td>
						<td><a href="{{pathToRoot}}starter/Day2.zip">Day3.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="img/icons/someSum.png"></img></td>
						<td><a href="{{pathToRoot}}projects/someSum.html">Üç Aşağı Beş Yukarı</a></td>
						<td>Sandcastle</td>
						<td><a href="{{pathToRoot}}starter/Day3.zip">Day3.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="img/icons/awesome.png"></img></td>
						<td><a href="{{pathToRoot}}projects/awesome.html">Programcılık Bir Harika</a></td>
						<td>Grafikler</td>
						<td><a href="{{pathToRoot}}starter/Day2.zip">Day2.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="img/icons/nim.jpg"></img></td>
						<td><a href="{{pathToRoot}}projects/gameOfStones.html">Nimm Oyunu</a></td>
						<td>Değişkenler</td>
						<td><a href="{{pathToRoot}}starter/Day2.zip">Day2.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="img/icons/medicine.png"></img></td>
						<td><a href="{{pathToRoot}}projects/medicine.html">Kaçak İlaç</a></td>
						<td>Değişkenler</td>
						<td><a href="{{pathToRoot}}starter/Day2.zip">Day2.zip</a></td>
					</tr>
					

					
					<tr>
						<th colspan = "6"><b>
						<br/>
						[Karel]</b></th>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="img/icons/randomPainter2.png"></img></td>
						<td><a href="{{pathToRoot}}projects/randomPainter.html">Deli Ressam</a></td>
						<td>If Kalıbı</td>
						<td><a href="{{pathToRoot}}starter/Day1.zip">Day1.zip</a> </td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="img/icons/mountain.png"></img></td>
						<td><a href="{{pathToRoot}}projects/mountain.html">Dağcı Karel</a></td>
						<td>While Döngüsü</td>
						<td><a href="{{pathToRoot}}starter/Day1.zip">Day1.zip</a> </td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="img/icons/efes.jpg"></img></td>
						<td><a href="{{pathToRoot}}projects/efes.html">Efes İnşaatı</a></td>
						<td>For Döngüsü</td>
						<td><a href="{{pathToRoot}}starter/Day1.zip">Day1.zip</a> </td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><a href="{{pathToRoot}}projects/collectNewspaper.html"><img class="projectImg" src="img/icons/newspaper.jpg"></img></a></td>
						<td><a href="{{pathToRoot}}projects/collectNewspaper.html">Gazete Alma</a></td>
						<td>Metod'lar</td>
						<td><a href="{{pathToRoot}}starter/Day1.zip">Day1.zip</a> </td>
					</tr>
					
					

					
					
					

				</tbody>
			</table>

		</div>

		<div class="section" id="playWithKarel">
			<h2>
				Sınıf Selfie'si
			</h2>
			<img src = "{{pathToRoot}}img/fun/selfie.jpg" style="width:49%; margin-right:1%"></img>
			<img src = "{{pathToRoot}}img/fun/selfie2.jpg" style="width:49%"></img>
		</div>

			
		<div class="section" id="playWithKarel">
			<h2>
				Müfredat
			</h2>
			<img src = "{{pathToRoot}}img/icons/curriculum.png" style="width:100%"></img>
		</div>

	
		<div class="section" id="playWithKarel">
			<h2>
				Karel'la Oyna
			</h2>

			<p>Karşınızda Karel, Stanford'ın öğrencilere programlama öğretmek için kullandığı Java Robotu. </p>

			<p>Karel'ın bildiği komutları kullanarak hattın tepesindeki beeper'a gitmesini sağlayın. Normalde programlarınızı Eclipse adındaki bir programın içinde yazacaksınız, ama siz rahatça deneyebilesiniz diye web sitemiz için minik bir Eclipse geliştirdik:</p>
			<div>
			<!--<div id = 'firstIdeCanvasDiv' >
				            <canvas id = 'firstIdeCanvas' ></canvas>
				         </div>
			<div id="cmdButtonBar" class="buttonBar" style="height:60px;">
				<button id="move" class='btn btn-default interactor programButton'>move();</button>
				<button id="left" class='btn btn-default interactor programButton'>turnLeft();</button>
				<button id="pick" class='btn btn-default interactor programButton'>pickBeeper();</button>
				<button id="put" class='btn btn-default interactor programButton'>putBeeper();</button>
			</div> 
		</div>
		<p>Your karel programs will be written in Eclipse. But you can test things out here, online:</p>-->
			

				<div style="width:100%;">
				   <div id ='mainIde' class = "getStarted">
				 
				      <div id = "mainIdeCenter" >
				      	<div id = 'mainIdeCanvasDiv' class = 'orange'>
				            <canvas id = 'mainIdeCanvas' class = 'red'></canvas>
				         </div>
				         <div id = 'mainIdeEditorDiv'>
				            <script>importEditor('mainIdeEditor','mainIdeEditorDiv');</script>
				         </div>
				         
				      </div>

				   </div>


				   
				   <div id="runButtonBar" class="buttonBar"></div> 
				       <script>importButtonBar();</script>
				      <br/>
				</div>
			   
			   <script>

			   		

			      function init() {
			      	 var stepUpWorld = null;
			         var karelIde = null;

			         var onReadyCalled = false;

			         var buttonState = 'play';

			         document.onready = function() {
			            if (onReadyCalled) return;
			            onReadyCalled = true;
			            $("[title]").tooltip({ position: "bottom center", opacity: 0.9});
			            
			            initTabs();
			            var canvas = document.getElementById('mainIdeCanvas');
			            karelIde = KarelIde(window._editor, canvas, INITIAL_WORLD);

			            var stepUpCanvase = document.getElementById('firstIdeCanvas');
			            stepUpWorld = KarelIde(window._editor, stepUpCanvase, 'ledge');
			            
			            $('#playButton').click(function(){playClicked()});
			            $('#move').click(function(){stepUpWorld.stepMove()});
			            $('#left').click(function(){stepUpWorld.stepTurnLeft()});
			            $('#right').click(function(){stepUpWorld.stepTurnRight()});
			            $('#put').click(function(){stepUpWorld.stepPutBeeper()});
			            $('#pick').click(function(){stepUpWorld.stepPickBeeper()});
			            /*$('#worldSelector').change(
			               function() {
			                  var worldName = $("#worldSelector option:selected").text();
			                  karelIde.stopButton();
			                  var playText = '<span class="glyphicon glyphicon-play"></span> Run Program';
				         	  $('#playButton').html(playText);
				         	  buttonState = 'play';
					          karelIde.changeWorld(worldName);
					        }
			            );*/
			            window.onresize();
			            
			         }

			         function playClicked() {
			         	if(buttonState == 'play') {
			         		karelIde.playButton();
				         	
				         	var resetText = '<span class="glyphicon glyphicon-repeat"></span> Reset\'le';
				         	$('#playButton').html(resetText);
				         	buttonState = 'reset';
				         } else if (buttonState == 'reset') {
				         	karelIde.stopButton();
				         	var playText = '<span class="glyphicon glyphicon-play"></span> Programı Çalıştır';
				         	$('#playButton').html(playText);
				         	buttonState = 'play';
				         }
			         	
			       }

			         window.onresize = function() { 
			            var parentHeight = 300;
			            var parentWidth = $("#playWithKarel").width();
			            console.log('pw: ' + parentWidth);

			            var ide = document.getElementById('mainIde');
			            var editorDiv = document.getElementById('mainIdeEditorDiv');
			            var canvas = document.getElementById('mainIdeCanvasDiv');
			            var center = document.getElementById('mainIdeCenter');
			            
			            var ideHeight = parentHeight
			            ide.style.height = (ideHeight)+ 'px';
			            ide.style.width = parentWidth + 'px';
			            
			            var centerHeight = ideHeight;
			            center.style.height = centerHeight + 'px';
			            center.style.width = parentWidth + 'px';

			            //center.style.top = centerTop + 'px';

			            var availibleWidth = parentWidth ;
			            var elementSpacing = 12;
		
			            
			            var canvasWidth = parentHeight;
			            canvas.style.width = canvasWidth + 'px';
			            canvas.style.left = 0+ 'px';

			           	var editorWidth = availibleWidth - canvasWidth - elementSpacing; 
			           	//editorWidth = Math.max(editorWidth, Const.MIN_EDITOR_WIDTH)

			            editorDiv.style.left = (canvasWidth + elementSpacing) + 'px'
			            editorDiv.style.width = editorWidth + 'px';

			            if (karelIde) {
			               karelIde.resizeCanvas(canvasWidth, centerHeight);
			               stepUpWorld.resizeCanvas($("#firstIdeCanvas").width(), 200);
			            }
			            if (window._editor) {
			               window._editor.renderer.onResize();
			            }
			            ReferenceDialog.resize();
			            DeployDialog.resize();
			         }

			         
			      }
			      init();
			   </script>
		</div>

		



		<div class="section" id="getStarted">
			<h2>
				Bilgisayarınızı Hazırlama
			</h2>

			<h3>Eclipse'i Yükleyin</h3>
			<p>Yapmanız gereken ilk adım Eclipse'i indirmek. Bilgisayarınıza uygun olan <a href="{{pathToRoot}}resources/eclipse_helios_mac.zip">Mac versiyonu</a>'nu ya da<a href="{{pathToRoot}}resources/eclipse_helios_windows.zip">windows versiyonu</a>'nu indirin. Yardıma ihtiyaç duyarsanız <a href="{{pathToRoot}}handouts/DownloadingEclipse.pdf">bu rehbere</a> bakabilirsiniz. Eğer Eclipse'e zaten sahipseniz Stanford eklentisini yüklemeniz gerekiyor.  <a href="{{pathToRoot}}starter/edu.stanford.cs106_1.0.0.jar">Burada</a> bulabilirsiniz.</p>

			<h3>Eclipse'e Proje Ekleyin</h3>
			<p>Eclipse'i kurduktan sonra, artık Eclipse'e bir proje ekleyerek çalışmaya başlayabilirsiniz. Bunu (Stanford Menu -> Import Project) düğmesinden yapabilirsiniz. Sıfırdan bir program yazmak için bu <a href="{{pathToRoot}}resources/BlankProject.zip">boş proje</a>'yi kullanın.</p>

			<h3>Create an executable</h3>
			<p>If you want to turn a project into a stand-alone executable, read <a href="{{pathToRoot}}handouts/CreatingJarFiles.pdf">this</a> handout.</p>
		</div>

		%include templates/parts/footer.html

	</div>
</body>
