% rebase('templates/tr/old/template.ptl', title="Home")

    <div class="page-header" style="backgroud-color:#cdbfe3">
    	<div class="container">
   			<div>
				<div id="headerText" style="padding-bottom:15px;">
					<div class="h1" style="margin-top:0px;font-size:40px;">
						Bonus Programlar
					</div>
					<div>
						2019 Yaz
					</div>
				</div>
	          
	        </div>
		</div>
	</div>



	<!-- Main Content -->
	<div class="container">

		<div class="section" id="schedule">
            %include templates/tr/old/bonusTable.ptl
            <hr/>

		</div>
