% rebase('templates/en/template.ptl', title="Mouse Location")

  <!-- Main Content -->
  <div class="container">

    <!-- Header -->
    <div id="pageHeader">
      <h1>
        Mouse Location
      </h1>
      <p>
        Problem by Chris Piech
      </p>

      <p>
        Handouts:
        <a href ="{{pathToRoot}}en/handouts/graphics.html">Graphics Reference</a>, <a href ="{{pathToRoot}}en/handouts/events.html">Events</a>
      <br/>
        Worked Examples: 
        <a href="{{pathToRoot}}en/projects/stampTool.html">Stamp Tool</a>
      <br/>
        Day5: <code>MouseLocation.java</code>
      </p>

    </div>
    <hr/>

    <div class="row">
      <div class="col-md-12">
        <p>
          Write a program with a label in the top-left corner of the screen that displays the current x and y coordinates of the mouse.  The label should update as the mouse moves around the screen.</p>

        <p>
          <center>
            <img style="width:500px" src="{{pathToRoot}}img/icons/mouseLocation-screenshot.png"> 
          </center>
        </p>
        
      </div>
    </div>
    
