<head>

	%include templates/parts/headTr.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBarTr.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Gizemli Kare
			</h1>
			<p>
				Problemi yazan: gizemli bir CS106A profesörü.
			</p>
      <p>
        Day3: <code>MysterySquare.java</code>
      </p>

		</div>
		<hr/>

		

		<div class="row">
			<div class="col-md-12">
				Ekranın tam ortasında (100'e 100 piksellik) bir kare çizin ve her saniye rengini değiştirin.
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>Çözüm</h2>

<script src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
   editor.setTheme('ace/theme/eclipse');
   editor.getSession().setMode("ace/mode/java");
   editor.setReadOnly(true);
   editor.setShowPrintMargin(false);
   editor.renderer.setShowGutter(false); 
    /*editor.setTheme("ace/theme/eclipse");
    editor.getSession().setMode("ace/mode/java");*/
</script>
	</div>
	</div>
		
		%include templates/parts/footerTr.html

	</div>
</body>
