% rebase('templates/en/template.ptl', title="Banish Winter")


	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
        Banish Winter
			</h1>
			<p>
				Problem written by Eric Roberts and Lisa Yan, with updates by Zach Birnholz
			</p>
			<p>
				Handouts: 
				<a href ="{{pathToRoot}}en/handouts/karel.html">KarelReference</a>
        <br/>
        Day1: <code>BanishWinter.java</code>
			</p>	

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">

				<p>
        Karel wants to walk across CTU campus and spruce it up a bit for Spring. Spring has sprung, but the campus trees haven't gotten the memo and are still leafless. Karel needs to walk across campus from west to east, adorning all trees with artificial leaves and transforming the campus as follows:
				</p>

				<p>
					<center>
            <img style="width:800px" src="{{pathToRoot}}img/projects/banishWinter/banishWinter1.png">
					</center>
				</p>

        <p>
        The problem is complicated because Karel doesn't know how tall each tree is, nor does she know the distances between trees. She does know, however, that she has just enough beepers in her beeper bag starting out to decorate all of the trees, and that the world (the CTU campus) is 9 spaces wide. Try to intuit the program requirement by looking at the two snapshots above (the world is called <code>BanishWinter1.w</code>. Your program must therefore also work for the following configuration (<code>BanishWinter2.w</code>):
        </p>

				<p>
					<center>
            <img style="width:800px" src="{{pathToRoot}}img/projects/banishWinter/banishWinter2.png">
					</center>
				</p>

			<p>
				How can we write a program that works in any world that satisfies the above requirements?
			</p>
        
	<div class="row">
			<div class="col-md-12">
				<h2>Solution</h2>

				<p>
					A solution is provided for this example, so that you can see what a full program looks like!
				</p>


<pre id="editor" style="height:480px">/*
 * Program: Banish Winter
 * ----------------------
 * Karel should add leaves to the top of each tree in the world
 * from left to right to spruce up campus for the spring.
 * The world is of width 9, but it may have any number of trees
 * of any height.
 */
public class BanishWinter extends SuperKarel {

    public void run() {
        for (int i = 0; i < 8; i++) {
            if (frontIsClear()) {
                move();
            } else {
                fixTree();
            }
        }
    }

    /*
     * Method: fixTree
     * ---------------
     * Climbs to the top of one tree, adds leaves, and descends 
     * other side of tree.  When this method is called, Karel is assumed to
     * be facing east at the bottom of the tree to fix, and when the method
     * is done Karel will be facing east immediately after the tree which has
     * now been fixed.
     */
    private void fixTree() {
        turnLeft();
        climbTree();
        turnRight();
        placeLeaves();
        turnRight();
        moveToBottom();
        turnLeft();
    }
    
    /*
     * Method: moveToBottom
     * --------------------
     * Moves in a straight line in the direction Karel is facing up to a wall.
     * Used for moving from the top to the bottom of a tree.
     */
    public void moveToBottom() {
        while (frontIsClear()) {
            move();
        }
    }

    /*
     * Method: climbTree()
     * -------------------
     * Moves up to and one space past the end of a wall/tree trunk.
     */
    public void climbTree() {
        while (rightIsBlocked()) {
            move();
        }
    }
    
    /*
     * Method: placeLeaves()
     * ---------------------
     * Adds four leaves in the required pattern to the top of a tree.
     */
    public void placeLeaves() {
        for (int i = 0; i < 4; i++) {
            putBeeper();
            move();
            turnLeft();
        }
        move();
    }
}</pre>
    
<script src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
   editor.setTheme('ace/theme/eclipse');
   editor.getSession().setMode("ace/mode/java");
   editor.setReadOnly(true);
   editor.renderer.setShowGutter(false); 
    /*editor.setTheme("ace/theme/eclipse");
    editor.getSession().setMode("ace/mode/java");*/
</script>
        
				
			</div>

		</div>
