% rebase('templates/en/template.ptl', title="Border Snake")

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
                Border Snake
			</h1>
			<p>
                Written by Lisa Yan
			</p>
			<p>
				Handouts:
                <a href ="{{pathToRoot}}en/resources/graphics.html">Graphics Reference</a><br/>
				<a href ="{{pathToRoot}}en/resources/arrayLists.html">ArrayLists</a>
        <br/>
        BonusArrays:<code>BorderSnake.java</code>
			</p>

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				<p>
                    This is a bonus program! It's meant to be a bit challenging, but completing this program will definitely help you write your final project.
                </p>
                <p>
                    Write a GraphicsProgram that moves a snake counter-clockwise around the border of the canvas.
                </p>
					<center>
						<img style="width:300px;border:2px solid grey" src="{{pathToRoot}}img/projects/borderSnake/borderSnake.gif">	
					</center>
                </p>
            <h2>BorderBox</h2>
            <p>
            This exercise assumes that you have completed BorderBox. A lot of the logic is similar (there's only one additional trick), so it really helps to know the general problem setup.
            If you haven't completed BorderBox yet, go implement it and come back.
            </p>

            <h2>Snake setup</h2>
            <p>Open BorderSnake.java. You'll find that the main() function is exactly the same as BorderBox. However, some of the class variables are different. Instead of a single GRect, we now have an ArrayList of GRects. We still have one direction for the snake, though.</p>
			<div class="well"><code>
                private ArrayList&lt;GRect&gt; snake;<br>
                private int snakeDirection = EAST; // starting direction
			</code></div>

            <p>
            Implement makeSnake(). To make your life easier later, add the head of the snake first (so that snake.get(0) returns the GRect for the head). Remember that the snake starts out facing EAST, so the head is the rightmost GRect. Our snake is SNAKE_LENGTH = 5 blocks long.
            </p>
					<center>
						<img style="width:300px" src="{{pathToRoot}}img/projects/borderSnake/borderSnake.png">	
					</center>

            <h2>Move eastward</h2>
            <p>Set frontIsClear() to always return true for now, so we can test our snake moving in one direction (eastward). Implement moveSnake() to move the snake one box to the right; remember, the snake should be moving SQUARE_LENGTH + SQUARE_GAP to keep the gap between the different parts of the snake!</p>
            <p>There is a trick here; you don't need to move every single block in the snake. In fact, you just need to move one block! Think about which block you would move to give the illusion of the entire snake moving.</p>
            <p>The block you chose will now be the head of the snake, so not only do you have to update its location on the canvas, but you also need to update its position in the ArrayList. Remove the block and add it to the head (in the previous part, we designated the head to be the 0th position of the ArrayList).</p>
			<div class="well"><code>
                snake.remove(block); // the GRect you moved<br>
                snake.add(0, block); // becomes the new head
			</code></div>
            <p>
            Next, implement frontIsClear() to check when you've reached the rightmost wall. Again, there's a trick here: can you check if the entire snake can move by just checking a single block? (Hint: it's the head)
            </p>
            <p>
            You should now be able to see your snake move step-by-step to the east wall!
            </p>

            <h2>Move along the border</h2>
            <p>You're very close to the finish line!! Implement turnLeft(). This should be VERY simple; remember what we did in BorderBox.
            </p>
            <p>Now, we have to extend moveSnake() and frontIsClear() to handle multiple directions. There's one last trick. Suppose we have the snake in the following configuration, where snakeDirection = NORTH:
            </p>
					<center>
						<img style="width:300px" src="{{pathToRoot}}img/projects/borderSnake/snakeTurn.png">	
					</center>
            <p>In order to move the snake (read: give the illusion that the entire snake has moved), do we care that part of the snake is still turning? (Hint: No, we don't) Given this information, how do we move that single block that you selected in the previous part to move north, in the direction that the snake is facing?
            </p>
            <br>
            <p>
            Congratulations, you now have a moving snake! :)</p>





			</div>

		</div>
