<head>

	%include templates/parts/head.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Favorite Number
			</h1>
			<p>
				Problem written by Chris Bryce and Julia
			</p>

			<p>
				Worked Examples: 
				<a href="{{pathToRoot}}en/projects/emc2.html">E=MC2</a>,
				<a href="{{pathToRoot}}en/projects/fibb.html">Fibbonacci</a>,
				<a href="{{pathToRoot}}en/projects/carbonDating.html">Carbon Dating</a>
			</p>

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				
				<p>
					First think of your favorite integer between 0 and 100. Write a program that stores your favorite number as a variable and repeatedly asks the user to try and guess it. Let the user know if their last guess was too low or too high.
				</p>
				<p>
					For example my favorite number is 88. Here is a demo of a user trying to guess that number:
				</p>
				<p>
					<center>
						<img style="width:600px" src="{{pathToRoot}}img/projects/favoriteNumber/demo.png">	
					</center>
				</p>
				
    
			</div>
		</div>
		
		%include templates/parts/footer.html

	</div>
</body>
