<head>

	%include templates/parts/head.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Gravity Ball
			</h1>
			<p>
				Problem written by Chris.
			</p>

		</div>
		<hr/>

		

		<div class="row">
			<div class="col-md-12">
				<p>
				Makes a ball that bounces as if under the influence of gravity.
			</p>
			<p>
				<center>
						<img style="width:500px" src="{{pathToRoot}}img/projects/gravityBall/demo.png">	
					</center>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>Solution</h2>


<pre id="editor" style="height:580px">public class GravityBall extends GraphicsProgram {

    private static final int SIZE = 20;
    private static final int DELAY = 20;
    
    private static final double GRAVITY = 0.5;
    private static final double DAMPING = 0.7;
	
	public void run() {
		// Draw a ball on the top right corner
		GOval oval = new GOval(0,0,SIZE, SIZE);
		oval.setFilled(true);
		add(oval);
		
		// Declare variables for velocity
		double vx = 3;
		double vy = 0;
		
		while(true) {
			// update vy
			vy = vy + GRAVITY;
			
			// should the ball bounce?
			if(oval.getY() > (getHeight() - SIZE) && vy > 0) {
				vy = vy * -DAMPING;
			}
			
		    // move
			oval.move(vx, vy);
			
			// animation pause.
			pause(DELAY);
		}
	}
}</pre>
    
<script src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
   editor.setTheme('ace/theme/eclipse');
   editor.getSession().setMode("ace/mode/java");
   editor.setReadOnly(true);
   editor.setShowPrintMargin(false);
   editor.renderer.setShowGutter(false); 
    /*editor.setTheme("ace/theme/eclipse");
    editor.getSession().setMode("ace/mode/java");*/
</script>
	</div>
	</div>
		
		%include templates/parts/footer.html

	</div>
</body>
