% rebase('templates/en/template.ptl', title="Hangman")

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Hangman
			</h1>
			<p>
				Written by Eric Roberts and Mehran Sahami.
			</p>
			<!--<p>
				Worked Example: 
				<a href="{{pathToRoot}}projects/emc2.html">RandomSquare</a>
			</p>-->

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				<p>
					Make the classic game of hangman

				</p>

				
				<p>
					<center>
						<img style="width:700px" src="{{pathToRoot}}img/projects/hangman/hangman.png">	
					</center>
				</p>
				

			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<p>
					See the Stanford handout:
						<a href="{{pathToRoot}}img/projects/hangman/hangman.pdf">Hangman.pdf</a>
				</p>
				

			</div>
		</div>
