% rebase('templates/en/template.ptl', title="Mad Methods")

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Mad Methods
			</h1>
			<p>
				Written by Chris and Bryce
			</p>
			<p>
				Example:
				<a href ="{{pathToRoot}}en/projects/averageMethod.html">Average Method</a>
        <br/>
        Day4: <code>MadMax.java</code>
			</p>

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				<h2>1. Mad Max</h2>
				<p>
					Complete the <code>MadMax</code> program by filling in the <code>max</code> method that returns the larger of its two parameters:
				</p>
				<div class="well"><code>private int max(int i, int j)</code></div>
				<p>
					The run method has already been written:
					<pre>public void run() {
    println("The max of 4 and 5 is: " + max(4, 5));
    println("The max of -4 and 4 is: " + max(-4, 4));
    println("The max of 1 and 2 is: " + max(1, 2));
    println("The max of 0 and 0 is: " + max(0, 0));
}</pre>
				</p>
				<p>
					Your output should look like this:
					<center>
						<img style="width:500px" src="{{pathToRoot}}img/projects/madMax/madMax.png">	
					</center>
				</p>

				<h2>2. Draw Trees</h2>
			<p>
				Example:
				<a href ="{{pathToRoot}}en/projects/drawPeople.html">Draw People</a>,
				<a href ="{{pathToRoot}}en/projects/halfGreen.html">Half Green</a>
        <br/>
        Day4: <code>DrawTrees.java</code>
			</p>
				<p>
					Fill in the <code>drawTree</code> method that draws a tree with the <b>base</b> of its trunk centered at the provided (x, y) position:
				</p>
				<div class="well"><code>private void drawTree(int x, int y)</code></div>
				<p>
					The <code>run</code> method has already been written, which adds a dark-green background and draws some trees:
					<pre>public void run() {
	setBackground(new Color(2, 110, 70));						
    drawTree(50, 150);
    drawTree(100, 300);
    drawTree(500, 200);
    drawTree(300, 250);
    drawTree(700, 310);
}</pre>
				</p>
				<p>
					Each tree should have a trunk with a width of 20 pixels and a height of 80 pixels. The leaves should have a radius of 30 pixels.  The center of the leaves should be at the top center of the trunk. Your output should look like this:
					<center>
						<img style="width:500px" src="{{pathToRoot}}img/projects/madMax/drawTree.png">	
					</center>
				</p>

				<p>
					If you finish early, see how beautiful a tree you can create. Email us a screenshot!
				</p>
			</div>

		</div>
