% rebase('templates/en/template.ptl', title="My Homepage")

	<!-- Main Content -->
	<div class="container">

		<h1>My Very Own Homepage</h1>
<p>Written by Amy Nguyen</p>
<p>Handouts: <a href="{{pathToRoot}}en/resources/htmlReference.html">HTML Reference</a></p>
<hr>
<p>We're ready to take what we learned about HTML and make our own homepages! This is your time to express yourself and share your interests with the rest of the class.</p>
<p>Open a new file in Notepad++ and save it as <code><i>yourfullname</i>.html</code>. For example, I would name my file <code>amynguyen.html</code>. In this file, you will create your own page following this format:</p>
<pre><code>&lt;html&gt;
  &lt;body&gt;
    &lt;!-- Write about yourself here! --&gt;
    &lt;p&gt;Merhaba!&lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;</code></pre>
<p>You can write as much as you want! When you're done, show a section leader your work!</p>

<h3>Ideas</h3>
<p>You can put anything on your homepage! But here are some ideas in case you get stuck:</p>
<ul>
  <li>Tell us about your favorite books, movies, TV shows, music, etc.</li>
  <li>Share some pictures from a recent event.</li>
  <li>Talk about what you want to do in the future.</li>
  <li>What do you like about computer science?</li>
</ul>

<h3>Displaying special characters</h3>
<p>Go to <a href="http://www.freeformatter.com/html-escape.html">this website</a> and paste your paragraph into the text box. Click "escape" and paste that string into your HTML file instead.
