<head>

	%include templates/parts/head.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
                Number Grid
			</h1>
			<p>
            Written by Lisa Yan
			</p>
			<p>
				Handouts:
				<a href ="{{pathToRoot}}en/handouts/graphics.html">Graphics Reference</a>
				<br/>
			</p>

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				<p>
                This is a bonus program! It's meant to be a bit difficult.
                </p>
                <p>
                Write a GraphicsProgram that draws a centered, numbered square grid on the screen.
                </p>
				<p>
					<center>
						<img style="width:400px;border:2px solid grey" src="{{pathToRoot}}img/projects/numberGrid/grid25.jpg">	
					</center>
				</p>
                <p>Your program should be able to handle different sizes of the grid:</p>
				<p>
					<center>
						<img style="width:400px;border:2px solid grey" src="{{pathToRoot}}img/projects/numberGrid/grid36.jpg">	
					</center>
				</p>
            <h2>Guidelines</h2>
            <p>Start by making a grid that starts at position (0,0):</p>
				<p>
					<center>
						<img style="width:400px;border:2px solid grey" src="{{pathToRoot}}img/projects/numberGrid/grid25notcentered.jpg">	
					</center>
				</p>
            <p>Once you've made the above image, think about how to center the grid.</p>
            <p>Hints and tips:</p>
            <ul>
                <li>Use at least two methods: one that takes in the overall size (5-by-5), and one that draws an individual square.</li>
                <li>You will need to use a nested for loop to draw all the squares!</li>
                <li>To draw and label an individual square, you will need the <code>(i, j)</code> location in the grid, as well as the total width (in squares, not pixels) of the grid (e.g., 5 for a 5x5 grid). These values are essential for determining the location of the square on the canvas.</li>
                <li>My squares have a width of 50 pixels. The gap between each square is 10 pixels.</li>
                <li>GLabel tips:</li>
                <ul>
                    <li>To make a GLabel with numerical text, use <code>new GLabel(x + "")</code>, where <code>x</code> is an integer or double.</li>
                    <li>The location of a GLabel object is the <i>bottom-left</i> of the label.</li>
                    <li>I used "Helvetica-30" as the font size for my labels.</li>
                    <li>Start by positioning the label in the top left of each square.</li>
                    <li>Once you are confident, first center the GLabel horizontally in each square. Then center the GLabel horizontally. Recall that the height of a GLabel can be gotten using <code>label.getAscent()</code>.</li>
                </ul>
            </ul>
		</div>

		
		%include templates/parts/footer.html

	</div>
</body>
