% rebase('templates/en/template.ptl', title="Secret")

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Secret
			</h1>
			<p>
				Written by Chris
			</p>
			<p>
				Example:
				<a href ="{{pathToRoot}}en/projects/snow.html">Snow</a>
				<br/>Handouts:
				<a href ="{{pathToRoot}}en/resources/arrayLists.html">ArrayLists</a>
			</p>

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				<h2>Your Job</h2>
				<p>
					You are given a function called <code>loadSecret()</code> which returns a secret message as an ArrayList&lt;String&gt;. Each String in the ArrayList is a word in the message.
				</p>
				<p>Print out each of the stings in the array list (in order) to see the secret message. 
				</p>
				
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>Review</h2>
				<p>
					In order to iterate over an ArrayList, use a for loop. For example this code calculates the sum of all the values in an ArrayList of Doubles.
				</p>
				<div class="well"><code>
					ArrayList&lt;Double&gt; values = getValues(); <br/>
					int sum = 0; <br/>
					for(int i = 0; i &lt; values.size(); i++) { <br/>
					&nbsp;&nbsp;&nbsp;sum = sum + values.get(i);<br/>
				    }<br/>
				    println(sum);
				</code>
				</div>
				
			</div>
		</div>
