<head>

  %include templates/parts/head.html


</head>
<body>

  <!-- Navigation Bar -->
  %include templates/parts/navBar.html

  <!-- Main Content -->
  <div class="container">

    <!-- Header -->
    <div id="pageHeader">
      <h1>
        That's Some Sum!
      </h1>
      <p>
        Problem written by Bryce C-R, Julia Lee, Chris Piech, and TY Huang
      </p>

    </div>
    <hr/>

    <div class="row">
      <div class="col-md-12">
        <p> Write a program that reads in 10 integers from the user and then outputs the sum of the entered values.</p>
        <p>
          <center>
            <img style="width:600px" src="{{pathToRoot}}img/projects/someSum/demo.png">  
          </center>
        </p>
				<p>
					Often in console programs it is necessary to print out values to the user in a string. The example above is:
					</br>
					</br>
					"The sum is: 55"
					</br>
					</br>
					If you run your program with the above input, 55 will be the value stored in the variable that tracks the sum. If that variable is named 'exampleSum', then in order to from the output you would write:
					</br>
					</br>
					println("The sum is: " + exampleSum);
					</br>
					</br>
					A more general form is:
					</br>
					</br>
					"String message" + variableName + "more string message"
					</br>
					</br>
				</p>
      </div>

<!--pre id="editor" style="height:400px">/**
 * Program: That's Some Sum
 * -------------
 * This program reads in 10 integers from the user and then prints their sum.
 */

public class SomeSum extends ConsoleProgram {
  
  public void run() {
    println("Enter 10 nums. I will show you the sum!");
    int sum = 0;
      
    for(int i=0; i<10; i++) {
      sum = sum + readInt("Please enter an integer: ");
    }

    println("");
    println("The sum is: " + sum);
  }
}</pre-->
    
<script src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
   editor.setTheme('ace/theme/eclipse');
   editor.getSession().setMode("ace/mode/java");
   editor.setReadOnly(true);
   editor.renderer.setShowGutter(false); 
    /*editor.setTheme("ace/theme/eclipse");
    editor.getSession().setMode("ace/mode/java");*/
</script>
    
    %include templates/parts/footer.html

  </div>
</body>
