% rebase('templates/en/template.ptl', title="Star Wars Crawl")

  <!-- Main Content -->
  <div class="container">

    <!-- Header -->
    <div id="pageHeader">
      <h1>
        Star Wars Crawl
      </h1>
      <p>
        Handouts:
        <a href ="{{pathToRoot}}en/handouts/arrayLists.html">ArrayLists</a>
        <br/>
        Examples:
        <a href ="{{pathToRoot}}en/projects/rocketPaddle.html">Rockets</a>
        <br/>
        Day7: <code>StarWars.java</code>
      </p>

    </div>
    <hr/>

    <div class="row">
      <div class="col-md-12">
        <p>
          Write a program that reads in a text file and animates the lines together from the bottom to the top of the screen, similar to the movie Star Wars.</p>
        <p>
          <center>
            <img style="width:500px" src="{{pathToRoot}}img/projects/starWars/demo.png">  
          </center>
        </p>

        <p>
          This graphics program can be modeled by imagining each line of the text file as a single GLabel.  We want to put all of these GLabels on the screen, and then animate them up the screen all at the same time.  Try approaching the following steps to do this:
        </p>
        <ol>
          <li>Add the background image</li>
          <li>Read in the text file <code>TEXT_FILENAME</code> using <code>readFile</code>, which takes a filename as a parameter and returns an ArrayList of the lines in the file.  Like this:
            <pre>ArrayList&lt;String&gt; lines = readFile("myfile.txt");</pre>
          </li>
          <li>Place the labels on the screen at the initial correct position.  The first label should initially be just offscreen at the bottom, and each label should be spaced with <code>LABEL_PADDING</code> pixels between them.</li>
          <li>Animate the labels onscreen by moving all the labels up a small amount, then pausing, and then repeating.</li>
        </ol>
      </div>
    </div>
