<head>

	%include templates/parts/head.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Short Film
			</h1>
			<p>
				Written by Chris Piech and Keith Schwartz
			</p>
			<p>
				Example:
				<a href ="{{pathToRoot}}en/projects/halfGreen.html">Half Green</a>,
				<a href ="{{pathToRoot}}en/projects/target.html">Target</a>
				<br/>
			Handouts:
				<a href ="{{pathToRoot}}en/handouts/graphics.html">Graphics Reference</a>
			</p>

		</div>
		<hr/>	

		<div class="row">
			<div class="col-md-12">

				<p>
					Did you know that animated movies like Toy Story, Up, and Frozen are made using computer programs? In this assignment you are going to use a program to create a short film.
					</p>

			<h2>Display Message Method</h2>
			<p>
				Every movie has a beginning and an end. Sometimes it will start "Once Upon a Time...", sometimes it will start with a title, sometimes it will start with something sillier. At the end of the movie it sometimes says "The end."

				<p>Add a method to your program that will draw a message on the screen (on a black background) and leave the message for two seconds.</p>

				<div class="well"><code><b>private</b> void displayMessage(String message)</code></div>

				After two seconds you should remove the GRect that is the background and the GLabel that is the text. To do so you can use the remove method (it does the opposite of the add method. It takes a GObject that was on the canvas and removes it). 

				<div class="well"><code>remove(<i>yourObject</i>);</code></div>


				The start message should look like the screen on the left. The end message should look like the screen on the right:
				<div>
						<div class="col-md-6 col-xs-6">
                            <img style="width:100%" src="{{pathToRoot}}img/projects/sunset/onceUpon.png"></img>
					</div>
					<div class="col-md-6 col-xs-6">
                        <img style="width:100%" src="{{pathToRoot}}img/projects/sunset/theEnd.png"></img>
					</div>
				</div>

				The font that we used was:
				<div class="well"><i>label</i>.setFont("Papyrus-40");</code></div>





				Of course you can reuse this method as much as you want to tell your story!
			</p>


		</div>
	</div>

		<div class="row">
			<div class="col-md-12">
				<h2>Setting Sun</h2>
				<p>
						Your movie must have one scene to start: A setting sun. draw the sky, the earth and a sun. Then,
						slowly animate the sun descending. The sky should take up the top half of the canvas, and the earth should take up the second half. Considering the following images from the start of the program, and the program after a few seconds.
					</p>
				
<center>
    <img style="width:100%" src="{{pathToRoot}}img/projects/sunset/animation.png"></img>

</center>

				<!--<div class="col-md-4 col-xs-3">
					<img style="width:100%" src="/img/projects/sunset/sunsetSimple.png"></img>
				</div>
				<div class="col-md-4 col-xs-3">
					<img style="width:100%" src="/img/projects/sunset/sunsetSimpleT1.png"></img>
				</div>
				
				<div class="col-md-4 col-xs-3">
					<img style="width:100%" src="/img/projects/sunset/sunsetSimpleT2.png"></img>
				</div>-->
				
			</div>
			

		</div>


		<div class="row">
			<div class="col-md-12">
			<h2>Get Color Method</h3>
			<p>Write a method that takes in the time, and returns the color of the sun.</p>

			<div class="well"><code><b>private</b> Color getColor(<b>int</b> frame)</code></div>

			<p>
				Have the method return Color.YELLOW, Color.ORANGE or Color.RED based on how many iterations have passed.
			</p>
		</div>
	</div>
	

		<div class="row">
			<div class="col-md-12">
			<h2>Make it Better</h3>

			<p>Do anything you want to make your story more captivating than just a setting sun. Can you tell a tale of love or action? Don't forget to use methods to make your life easier.</p>
<p>
			<center style="padding:10px;">
                <img style="width:500px" src="{{pathToRoot}}img/projects/sunset/poster.jpg"></img>
			</center>
			</p>

			<p>You can also add more objects to make your scene more captivating. Add a rainbow (or a double rainbow)? Do you have an idea about what sunsets have always been missing? How about a lit up Bosphorus bridge?</p>

<div class="col-md-6 col-xs-6">
    <img style="width:100%" src="{{pathToRoot}}img/projects/sunset/sunsetTrees.png"></img>
			</div>
			<div class="col-md-6 col-xs-6">
                <img style="width:100%" src="{{pathToRoot}}img/projects/sunset/sunsetT2.png"></img>
			</div>
			

			


		</div>

		
		%include templates/parts/footer.html

	</div>
</body>
