% rebase('templates/en/template.ptl', title="Target")

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Target
			</h1>
			<p>
				Written by Eric Roberts and Mehran Sahami
			</p>
			<p>
				Handouts:
				<a href ="{{pathToRoot}}en/handouts/graphics.html">Graphics Reference</a>
        <br/>
				Examples:
				<a href ="{{pathToRoot}}en/projects/drawPeople.html">Draw People</a>
        <br/>
        Day4: <code>Target.java</code>
			</p>

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				<p>
					Suppose that you've been hired to produce a program that draws an image of an archery target that looks like this:
				</p>
				<p>
					<center>
						<img style="width:500px" src="{{pathToRoot}}img/projects/target/target.png">	
					</center>
				</p>
				<p>
					This figure is simply three GOval objects, two red and one white, drawn in the correct order. The outer circle should have a radius of 150 pixels, the white circle has a radius of 100 pixels, and the inner red circle has a radius of 50 pixels. The figure should be centered in the window.
				</p>

				<p>
					Bonus: If you get your target working perfectly in the center, try to animate your target. See if you can make it work like the bouncing ball example we went through in class. This is difficult and will require some problem solving - try different strategies out and see what works!
				</p>

			</div>

		</div>
