% rebase('templates/en/template.ptl', title="HTML")


	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Random Generator Reference
			</h1>
			<p>
				Written by Danielle Kain
			</p>
		</div>
		<hr/>

		<h1>HTML Reference</h1>
<p>Created by Amy Nguyen</p>
<hr>
<style>
  td {
  	border: 1px solid black;
  }
</style>
<h2>Structure of an HTML Document</h2>
<pre><code>&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;[Title of Page]&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
    [Content goes here!]
  &lt;/body&gt;
&lt;/html&gt;</code></pre>

<h2>Useful HTML Tags</h2>
<table cellspacing=0>
  <tr>
  	<th>HTML Syntax</th>
  	<th>Result</th>
  	<th>Notes</th>
  </tr>
  <tr>
  	<td><pre>&lt;p&gt;Hello!&lt;/p&gt;
&lt;p&gt;Let&rsquo;s learn to make websites!&lt;/p&gt;</pre></td>
  	<td><p>Hello!</p>
<p>Let's learn to make websites!</p></td>
    <td>Use <code>&lt;p&gt;</code> to create separate paragraphs!</td>
  </tr>
  <tr>
  	<td><pre>&lt;div&gt;First division&lt;/div&gt;

&lt;div&gt;Second division&lt;/div&gt;</pre></td>
  	<td><div>First division</div><div>Second division</div></td>
    <td>&quot;div&quot;s are used to separate sections of HTML content.</td>
  </tr>

  <tr>
  	<td><pre>&lt;h1&gt;My h1 Header&lt;h1&gt;
&lt;h2&gt;My h2 Header&lt;h2&gt;
&lt;h3&gt;My h3 Header&lt;h3&gt;
&lt;h4&gt;My h4 Header&lt;h4&gt;
&lt;h5&gt;My h5 Header&lt;h5&gt;
&lt;h6&gt;My h6 Header&lt;h6&gt;</pre></td>
  	<td><h1>My h1 Header<h1>
<h2>My h2 Header<h2>
<h3>My h3 Header<h3>
<h4>My h4 Header<h4>
<h5>My h5 Header<h5>
<h6>My h6 Header<h6></td>
    <td></td>
  </tr>
  <tr>
  	<td><pre>&lt;b&gt;Bold text!&lt;b&gt;</pre></td>
  	<td><b>Bold text!</b></td>
    <td></td>
  </tr>
  <tr>
  	<td><pre>&lt;u&gt;Underlined text!&lt;u&gt;</pre></td>
  	<td><u>Underlined text!</u></td>
    <td></td>
  </tr>
  <tr>
  	<td><pre>&lt;i&gt;Italicized text!&lt;i&gt;</pre></td>
  	<td><i>Italicized text!</i></td>
    <td></td>
  </tr>
  <tr>
  	<td><pre>&lt;ol&gt;
  &lt;li&gt;First item&lt;/li&gt;
  &lt;li&gt;Second item&lt;/li&gt;
  &lt;li&gt;Third item&lt;/li&gt;
&lt;/ol&gt;</pre></td>
  	<td>
<ol>
  <li>First item</li>
  <li>Second item</li>
  <li>Third item</li>
</ol>
  	</td>
  	<td>&quot;ol&quot; stands for ordered list.</td>
  </tr>
  <tr>
  	<td><pre>&lt;ul&gt;
  &lt;li&gt;First item&lt;/li&gt;
  &lt;li&gt;Second item&lt;/li&gt;
  &lt;li&gt;Third item&lt;/li&gt;
&lt;/ul&gt;</pre></td>
  	<td>
<ul>
  <li>First item</li>
  <li>Second item</li>
  <li>Third item</li>
</ul>
  	</td>
  	<td>&quot;ul&quot; stands for unordered list.</td>
  </tr>
  <tr>
  	<td><pre>&lt;table&gt;
 &lt;tr&gt;
    &lt;td&gt;Row 1, Column 1&lt;/td&gt;
    &lt;td&gt;Row 1, Column 2&lt;/td&gt;
    &lt;td&gt;Row 1, Column 3&lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
    &lt;td&gt;Row 2, Column 1&lt;/td&gt;
    &lt;td&gt;Row 2, Column 2&lt;/td&gt;
    &lt;td&gt;Row 2, Column 3&lt;/td&gt;
  &lt;/tr&gt;
&lt;/table&gt;</pre></td>
  	<td>
<table>
  <tr>
  	<td>Row 1, Column 1</td>
  	<td>Row 1, Column 2</td>
  	<td>Row 1, Column 3</td>
  </tr>
  <tr>
  	<td>Row 2, Column 1</td>
  	<td>Row 2, Column 2</td>
  	<td>Row 2, Column 3</td>
  </tr>
</table>
  	</td>
    <td>&quot;tr&quot; stands for table row. &quot;th&quot; stands for table header. &quot;td&quot; stands for table data.</td>
  </tr>
  <tr>
  	<td><pre>&lt;hr&gt;</pre></td>
  	<td><hr></td>
  	<td>Create a horizontal divider.</td>
  </tr>
  <tr>
  	<td><pre>&lt;a href=&quot;http://www.stanford-bogazici.com/&quot;&gt;Homepage&lt;/a&gt;</pre></td>
  	<td><a href="http://www.stanford-bogazici.com/">Homepage</a></td>
  	<td></td>
  </tr>
  <tr>
  	<td><pre>&lt;img src=&quot;http://i.imgur.com/cvMOfgw.jpg&quot;&gt;&lt;/img&gt;</pre></td>
  	<td><img src="http://i.imgur.com/cvMOfgw.jpg"></img></td>
  	<td></td>
  </tr>
</table>

<hr>

<h1>Styling your website with CSS</h1>
<h3>Getting Started</h3>
<p>At the top of your HTML page, you need to include your CSS file:</p>
<pre><code>&lt;head&gt;<br/>  &lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;<b><i>styles.css</i></b>&quot;&gt;<br/>&lt;/head&gt;</code></pre>
<p>Note that <code>styles.css</code> is the name of your CSS file, so it should be changed if you have multiple CSS files.</p>

<h3>Editing your HTML</h3>
<p>Add a <code>class</code> tag to your HTML elements. For example:</p>
<pre><code>&lt;p class=&quot;<b><i>class-name</i></b>&quot;&gt;Merhaba!&lt;/p&gt;</code></pre>

<h3>Adding CSS</h3>
<p>In your CSS file, you can use the name of the class you wrote for your HTML tag to add styles:</p>
<pre><code>.<b><i>class-name</i></b> {
  color: white;
  font-size: 20px;
  text-align: center;
  background-color: black;
}</code></pre>

<p>Call a section leader over if you need more details.</p>
		
