% rebase('templates/en/template.ptl', title="Karel")
<!-- Header -->
<div id="pageHeader">
	<h1>Karel Reference</h1>
	<p>Written by Eric Roberts</p>
</div>
<hr/>
<div class="row">
<div class="col-md-12">
<!--<p>
	Karel is a very simple robot who lives in a very simple world. Karel has been used to teach computer science to generations of Stanford students. Below is a complete description of Karel.
	</p>-->
<style type="text/css">
	.refCard {
	display: flex;
	align-items: stretch;
	width:100%;
	}
	.demoText {
	color:blue;
	}
	.keyword {
	color:#7e0855;
	}
	.comment {
	color:#729683;
	font-family: monaco;
	font-weight:400;
	font-size:13px;
	}
	.refCol {
	flex-grow:1;
	width:370px;
	}
	.bordered {
	border: 1px solid black
	}
	.refCel {
	padding-left: 5px;
	}
	.refCode {
	margin-left:5px;
	margin-top:7px;
	}
	.refComment {
	color:#729683;
	font-family: monaco;
	font-weight:400;
	font-size:13px;
	}
</style>
<p>
	This appendix defines the structure of the Karel programming language on a single page.
</p>
<div class="refCard bordered">
	<div class="refCol">
		<div class="refCel bordered">
			<b>Base Karel commnds:</b>
			<p class="refCode">
				<code>move();</code><br/>
				<code>turnLeft();</code></br/>
				<code>putBeeper();</code></br/>
				<code>pickBeeper();</code></br/>
			</p>
		</div>
		<div class="refCel bordered">
			<b>Karel program structures:</b>
			<p class="refCode">
				<code class="comment">/*</code></br/>
				<code class="comment">&nbsp;* Comments can be included in any part</code><br/>
				<code class="comment">&nbsp;* of a program. They start with a slash-star</code><br/>
				<code class="comment">&nbsp;* and end with a star-slash.</code><br/>
				<code class="comment">&nbsp;*/</code><br/>
				<code><span class="keyword">public class</span> <i class="demoText">name</i> <span class="keyword">extends</span> SuperKarel {</code><br/>
				<br/>
				<code>&nbsp;&nbsp;&nbsp;<span class="keyword">public void</span> run() {</code><br/>
				<code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><i class="demoText">declarations to repeat</i><br/>
				<code>&nbsp;&nbsp;&nbsp;}</code><br/>
				<br/>
				<code>&nbsp;&nbsp;&nbsp;</code><i class="demoText">definitions of private methods</i><br/>
				<code>}</code>
				<br/>
			</p>
		</div>
		<div class="refCel bordered">
			<b>Names of the conditions:</b>
			<div class="refCard" style="margin-top:7px">
				<div class="refCol">
					<code>frontIsClear()</code><br/>
					<code>beepersPresent()</code><br/>
					<code>beepersInBag()</code><br/>
					<code>leftIsClear()</code><br/>
					<code>rightIsClear()</code><br/>
					<code>facingNorth()</code><br/>
					<code>facingSouth()</code><br/>
					<code>facingEast()</code><br/>
					<code>facintWest()</code><br/>
				</div>
				<div class="refCol">
					<code>frontIsBlocked()</code>
					<code>noBeepersPresent()</code><br/>
					<code>noBeepersInBag()</code><br/>
					<code>leftIsBlocked()</code><br/>
					<code>rightIsBlocked()</code><br/>
					<code>notFacingNorth()</code><br/>
					<code>notFacingSouth()</code><br/>
					<code>notFacingEast()</code><br/>
					<code>notFacingWest()</code><br/>
				</div>
			</div>
			<!-- for balance -->
			<div style="height:5px"> </div>
		</div>
	</div>
	<div class="refCol">
		<div class="refCel bordered">
			<b>Conditions:</b>
			<p class="refCode"><code><span class="keyword">if</span>(</code><i class="demoText">condition</i><code>){</code><br/><i class="demoText" style="margin-left:2em">code run if condition passes</i><br/><code>}</code></p>
			<p class="refCode" style="margin-top:15px"><code><span class="keyword">if</span>(</code><i class="demoText">condition</i><code>){</code><br/><i class="demoText" style="margin-left:2em">code block for "yes"</i><br/><code>} <span class="keyword">else</span> {</code><br/><i class="demoText" style="margin-left:2em">code block for "no"</i><br/><code>}</code></p>
		</div>
		<div class="refCel bordered">
			<b>Loops:</b>
			<p class="refCode"><code><span class="keyword">for</span>(int i = 0; i &lt;</code>&nbsp;<i class="demoText" >count</i><code>; i++){</code><br/><i class="demoText" style="margin-left:2em">declarations to repeat</i><br/><code>}</code></p>
			<p class="refCode" style="margin-top:15px"><code><span class="keyword">while</span>(</code><i class="demoText">condition</i><code>){</code><br/><i class="demoText" style="margin-left:2em">declarations to repeat</i><br/><code>}</code></p>
		</div>
		<div class="refCel bordered">
			<b>Method Declaration:</b>
			<p class="refCode"><code><span class="keyword">private void</span></code><i class="demoText" style="margin-left:10px">name</i><code>() {</code><br/><i class="demoText" style="margin-left:2em">commands in the body of the method.</i><br/><code>}</code><br/></p>
		</div>
		<div class="refCel bordered">
			<b>SuperKarel additional commands:</b>
			<p class="refCode">
				<code>turnRight();</code></br/>
				<code>turnAround();</code></br/>
				<code>random(</code><i class="demoText">p</i><code>);</code></br/>
				<code>paintCorner(</code><i class="demoText">color</i><code>);</code></br/>
			</p>
		</div>
	</div>
</div>