<head>

	%include templates/parts/head.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
        How to run lab computers
			</h1>

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
        <h2>Start of day: Get file from website</h2>
				      <p>
				      	<center>
                  <img style="width:350px" src="{{pathToRoot}}img/handouts/labwork/getproject1.png">
                  <img style="width:350px" src="{{pathToRoot}}img/handouts/labwork/getproject2.png">
				      	</center>
				      </p>
        <h2>Unzipping a zip file</h2>
        <ol>
        <li>The <code>Day1.zip</code> that you download from the website or Google Drive cannot be directly read by Eclipse. You must convert it into a folder.</li>
				      <p>
				      	<center>
                  <img style="width:700px" src="{{pathToRoot}}img/handouts/labwork/getproject3.png">
				      	</center>
				      </p>
        <li>Extract the file. It is easiest to just keep the File location as specified.</li>
				      <p>
				      	<center>
                  <img style="width:700px" src="{{pathToRoot}}img/handouts/labwork/getproject4.png">
				      	</center>
				      </p>
        <li>The extracted folder will be a folder, not a zip. Eclipse can read this.</li>
				      <p>
				      	<center>
                  <img style="width:700px" src="{{pathToRoot}}img/handouts/labwork/getproject5.png">
				      	</center>
				      </p>
        </ol>
        <h2>How to import a project</h2>
        <ol>
          <li>Placeholder text</li>
				      <p>
				      	<center>
                  <img style="width:700px" src="{{pathToRoot}}img/handouts/labwork/importproject1.png">
				      	</center>
				      </p>
				      <p>
				      	<center>
                  <img style="width:700px" src="{{pathToRoot}}img/handouts/labwork/importproject2.png">
				      	</center>
				      </p>
				      <p>
				      	<center>
                  <img style="width:700px" src="{{pathToRoot}}img/handouts/labwork/importproject3.png">
				      	</center>
				      </p>
				      <p>
				      	<center>
                  <img style="width:700px" src="{{pathToRoot}}img/handouts/labwork/importproject4.png">
				      	</center>
				      </p>
        </ol>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
        <h2>Opening the Eclipse code viewer</h2>
        <ol>
          <li>Open the code viewer by clicking on the Package Explorer icon. Also close the Welcome window to automatically open the code viewer.</li>
              <p>
				      	<center>
                  <img style="width:350px" src="{{pathToRoot}}img/handouts/labwork/viewproject1.png">
                  <img style="width:350px" src="{{pathToRoot}}img/handouts/labwork/viewproject1b.png">
				      	</center>
				      </p>
              <li>Expand (double-click or click plus-sign on) the Day1 folder, then expand src, then expand (default package).</li>
				      <p>
				      	<center>
                  <img style="width:500px" src="{{pathToRoot}}img/handouts/labwork/viewproject2.png">
                  <img style="width:500px" src="{{pathToRoot}}img/handouts/labwork/viewproject3.png">
				      	</center>
				      </p>
        </ol>

        <h2>How to Run your project in Eclipse</h2>
        <ol>
          <li>Right-click on the 'Day1' project in the Package Explorer (left-hand sidebar). Go to 'Run As', then click on 'Java Application'</li>
				      <p>
				      	<center>
                  <img style="width:700px" src="{{pathToRoot}}img/handouts/labwork/runproject1.png">
				      	</center>
				      </p>
              <li>Find the program that you would like to run, e.g., <code>CollectNewspaper</code>.</li>
				      <p>
				      	<center>
                  <img style="width:700px" src="{{pathToRoot}}img/handouts/labwork/runproject2.png">
				      	</center>
				      </p>
              <li>Woooo! Now click 'Start Program'.</li>
				      <p>
				      	<center>
                  <img style="width:700px" src="{{pathToRoot}}img/handouts/labwork/runproject3.png">
				      	</center>
				      </p>
        </ol>

        <h2>Between labs: Submit your project to Google Drive and save</h2>
        <ol>
          <li>Placeholder text</li>
				      <p>
				      	<center>
                  <img style="width:700px" src="{{pathToRoot}}img/handouts/labwork/submitproject1.png">
				      	</center>
				      </p>
				      <p>
				      	<center>
                  <img style="width:700px" src="{{pathToRoot}}img/handouts/labwork/submitproject2.png">
				      	</center>
				      </p>
				      <p>
				      	<center>
                  <img style="width:700px" src="{{pathToRoot}}img/handouts/labwork/submitproject3.png">
				      	</center>
				      </p>
				      <p>
				      	<center>
                  <img style="width:700px" src="{{pathToRoot}}img/handouts/labwork/submitproject4.png">
				      	</center>
				      </p>
				      <p>
				      	<center>
                  <img style="width:700px" src="{{pathToRoot}}img/handouts/labwork/submitproject5.png">
				      	</center>
				      </p>
				      <p>
				      	<center>
                  <img style="width:700px" src="{{pathToRoot}}img/handouts/labwork/submitproject6.png">
				      	</center>
				      </p>
				      <p>
				      	<center>
                  <img style="width:700px" src="{{pathToRoot}}img/handouts/labwork/submitproject7.png">
				      	</center>
				      </p>
				      <p>
				      	<center>
                  <img style="width:700px" src="{{pathToRoot}}img/handouts/labwork/submitproject8.png">
				      	</center>
				      </p>
				      <p>
				      	<center>
                  <img style="width:700px" src="{{pathToRoot}}img/handouts/labwork/submitproject9.png">
				      	</center>
				      </p>
				      <p>
				      	<center>
                  <img style="width:700px" src="{{pathToRoot}}img/handouts/labwork/submitproject10.png">
				      	</center>
				      </p>
        </ol>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<h2>How to Submit</h2>
				<p>To submit follow these two steps:</p>
				<ol>
          <li><p>To zip the folder containing your project, run <b>zipper.jar</b> from your project folder.</p>
            <p>Find the folder with your project in it <b>outside of Eclipse</b>. If you don't know where your project is located in your computer, start from Eclipse and right-click (Mac OS X: Ctrl-Click) on your project name (the blue folder in the left sidebar). Then click on 'Properties', and navigate to/click on the 'Location' path to your project.</p>
            <ol>
              <li><p>Double-click on <b>zipper.jar</b>. You should see the following 'CS Bridge Assignment Submission' window:</p>
				          <p>
				          	<center>
                      <img style="width:400px;border:1px solid #000000" src="{{pathToRoot}}img/handouts/submission/zipper.png">
				          	</center>
				          </p>
              </li>
              <li>If you are on Mac OS X, you may see an error saying "zipper.jar cannot be opened because it is from an unidentified developer." You should right-click (or Ctrl-Click) on zipper.jar and select "Open". Then verify that you want to open the file.</li>
				      <p>
				      	<center>
                  <img style="width:700px;border:1px solid #000000" src="{{pathToRoot}}img/handouts/submission/zipperdebug.png">
				      	</center>
				      </p>
              <li>In the 'CS Bridge Assignment Submission' window that pops up, fill in your information: your <b>full name</b> and your <b>Student ID</b>. Your Student ID should be a letter followed by 4 numbers (e.g., K0012) and can be found on your student nametag.</li>
              <li>If you do not remember your Student ID and have lost your nametag, contact your Section Leader.</li>
              <li>Press 'Submit'. The zipped folder will be located at the location you specified.</li>
              <li>Close the 'CS Bridge Assignment Submission' window.
        </ol>
					<li>Upload the zip file using the link provided by your section leaders in lab.</li>
				</ol>
			</div>
		</div>
		
		
		%include templates/parts/footer.html

	</div>
</body>
