% rebase('templates/en/template.ptl', title="Sections")

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Section Assignment
			</h1>

		</div>
		<hr/>

		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Section Leader</th>
				</tr>
			</thead>

			<tr>
  <th>ATA AKBULUT</th>
  <th>Çağatay</th>
</tr>
<tr>
  <th>MANAS ARDALI</th>
  <th>Şahin</th>
</tr>
<tr>
  <th>ALİ AKGÜL</th>
  <th>Çağatay</th>
</tr>
<tr>
  <th>EMRE ÖZDEMİR</th>
  <th>Brian</th>
</tr>
<tr>
  <th>M.KEMAL EROĞLU</th>
  <th>Göktuğ</th>
</tr>
<tr>
  <th>MUSTAFA BUĞRA UCA</th>
  <th>Danielle</th>
</tr>
<tr>
  <th>ŞULE ÇETİN</th>
  <th>Julia</th>
</tr>
<tr>
  <th>EMRE ŞANLI</th>
  <th>Pınar</th>
</tr>
<tr>
  <th>GÖRKEM ÇETİNER</th>
  <th>Bryce</th>
</tr>
<tr>
  <th>MİHRACE MECİT</th>
  <th>Çağatay</th>
</tr>
<tr>
  <th>ŞEYMA DELİPINAR</th>
  <th>Danielle</th>
</tr>
<tr>
  <th>ATİLLA AYTEK SAV</th>
  <th>Julia</th>
</tr>
<tr>
  <th>AYÇA ÖZTÜRK</th>
  <th>Pınar</th>
</tr>
<tr>
  <th>SİNEM NUR BIYIKLI</th>
  <th>Pınar</th>
</tr>
<tr>
  <th>ÖMER SAİD GEDİK</th>
  <th>Göktuğ</th>
</tr>
<tr>
  <th>ÖZGÜR ŞEN</th>
  <th>Kevin</th>
</tr>
<tr>
  <th>AHMET ÇELİK</th>
  <th>Brian</th>
</tr>
<tr>
  <th>EREN GÜMÜŞ</th>
  <th>Dilara</th>
</tr>
<tr>
  <th>BERAT ÖZTÜRK</th>
  <th>Julia</th>
</tr>
<tr>
  <th>BERNA ÖZ</th>
  <th>Kerem</th>
</tr>
<tr>
  <th>YİĞİTCAN YILMAZ</th>
  <th>Julia</th>
</tr>
<tr>
  <th>ÖĞRENCİ AD SOYAD</th>
  <th>Dilara</th>
</tr>
<tr>
  <th>Tarık Doğaner</th>
  <th>Kerem</th>
</tr>
<tr>
  <th>Boran Kuzhan</th>
  <th>Alisha</th>
</tr>
<tr>
  <th>Sarp Öztugran</th>
  <th>Pınar</th>
</tr>
<tr>
  <th>Berke Atalay</th>
  <th>Bryce</th>
</tr>
<tr>
  <th>Ege Kandemir</th>
  <th>Kevin</th>
</tr>
<tr>
  <th>Ali Yalçın</th>
  <th>Özlem</th>
</tr>
<tr>
  <th>Denizcan Bolat</th>
  <th>Özlem</th>
</tr>
<tr>
  <th>Mehmet daş</th>
  <th>Kerem</th>
</tr>
<tr>
  <th>Artun Dalyan</th>
  <th>Julia</th>
</tr>
<tr>
  <th>Maya Ayşe Gülsüm Dai</th>
  <th>Kevin</th>
</tr>
<tr>
  <th>Tarkan Müftüoğlu</th>
  <th>Kerem</th>
</tr>
<tr>
  <th>Mert Tavukçuoğlu</th>
  <th>Danielle</th>
</tr>
<tr>
  <th>Cem Gökmen</th>
  <th>Bryce</th>
</tr>
<tr>
  <th>Canberk Hürel</th>
  <th>Çağatay</th>
</tr>
<tr>
  <th>Enis Habib</th>
  <th>Amy</th>
</tr>
<tr>
  <th>Arun Ekin Özkan</th>
  <th>Çağatay</th>
</tr>
<tr>
  <th>Nazım Mert Yılmaztürk</th>
  <th>Kevin</th>
</tr>
<tr>
  <th>Efe Onat Dumanoğlu</th>
  <th>Alisha</th>
</tr>
<tr>
  <th>Gökçe Karamolla</th>
  <th>Kevin</th>
</tr>
<tr>
  <th>Utkan Karahan</th>
  <th>Şahin</th>
</tr>
<tr>
  <th>İdil Ateş</th>
  <th>Göktuğ</th>
</tr>
<tr>
  <th>Kaan Akyol</th>
  <th>Göktuğ</th>
</tr>
<tr>
  <th>Ali Kaan Özden</th>
  <th>Bryce</th>
</tr>
<tr>
  <th>Ali Budak</th>
  <th>Çağatay</th>
</tr>
<tr>
  <th>Hakan Özlemiş</th>
  <th>Pınar</th>
</tr>
<tr>
  <th>Erdem Yiğit Ertörer</th>
  <th>Danielle</th>
</tr>
<tr>
  <th>İsmail Ata İnan</th>
  <th>Julia</th>
</tr>
<tr>
  <th>Ömer Mümtaz Kaya</th>
  <th>Alisha</th>
</tr>
<tr>
  <th>Tuan Susam</th>
  <th>Amy</th>
</tr>
<tr>
  <th>Özcan Oğuz</th>
  <th>Göktuğ</th>
</tr>
<tr>
  <th>Onur Onat Sürmeli</th>
  <th>Danielle</th>
</tr>
<tr>
  <th>Kerem Zaman</th>
  <th>Şahin</th>
</tr>
<tr>
  <th>Bora Kunter Şahin</th>
  <th>Özlem</th>
</tr>
<tr>
  <th>Yanki Kurtcan</th>
  <th>Amy</th>
</tr>
<tr>
  <th>Kaan Çetin</th>
  <th>Brian</th>
</tr>
<tr>
  <th>Kumsal Özgür</th>
  <th>Dilara</th>
</tr>
<tr>
  <th>Kaan Demir Pata</th>
  <th>Amy</th>
</tr>
<tr>
  <th>Hüseyin Cem Yumuk</th>
  <th>Brian</th>
</tr>
<tr>
  <th>Alican Çeviker</th>
  <th>Pınar</th>
</tr>
<tr>
  <th>Ceren Gülhan</th>
  <th>Kerem</th>
</tr>
<tr>
  <th>Ege Ersu</th>
  <th>Alisha</th>
</tr>
<tr>
  <th>Arda Türkmen</th>
  <th>Alisha</th>
</tr>
<tr>
  <th>Nezihaha Deniz Erkan</th>
  <th>Alisha</th>
</tr>
<tr>
  <th>Hüseyin Atacan Demir</th>
  <th>Özlem</th>
</tr>
<tr>
  <th>Simay Yazıcıoğlu</th>
  <th>Dilara</th>
</tr>
<tr>
  <th>Şafak Solmaz</th>
  <th>Kevin</th>
</tr>
<tr>
  <th>Mehmet Ali Ayvacı</th>
  <th>Şahin</th>
</tr>
<tr>
  <th>Efe Berke Evci</th>
  <th>Bryce</th>
</tr>
<tr>
  <th>Berkay Aydın</th>
  <th>Amy</th>
</tr>
<tr>
  <th>Ezgi Çakın</th>
  <th>Brian</th>
</tr>
<tr>
  <th>Ali Kaan Duran Yıldız</th>
  <th>Amy</th>
</tr>
<tr>
  <th>selim kulaberoglu</th>
  <th>Göktuğ</th>
</tr>
<tr>
  <th>alp yilmaz</th>
  <th>Özlem</th>
</tr>
<tr>
  <th>Vitaliy Trofymuk</th>
  <th>Dilara</th>
</tr>
<tr>
  <th>Aleksander Grzesiak</th>
  <th>Dilara</th>
</tr>
<tr>
  <th>Saqib Jahangir</th>
  <th>Brian</th>
</tr>
<tr>
  <th>Kafayat Hazzan</th>
  <th>Özlem</th>
</tr>
<tr>
  <th>Luke Beamish</th>
  <th>Şahin</th>
</tr>
<tr>
  <th>Ted Champion</th>
  <th>Danielle</th>
</tr>
<tr>
  <th>Beth Hillier</th>
  <th>Kerem</th>
</tr>
<tr>
  <th>Adam Ridley</th>
  <th>Bryce</th>
</tr>
		</table>
