<head>

	%include templates/parts/head.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Submitting Assignments
			</h1>

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				At the end of each day, before you go home, submit your work! We will give feedback the following day.
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<h2>How to Submit</h2>
				<p>To submit follow these three steps:</p>
				<ol>
					<li><a href="https://www.google.com.tr/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=how%20to%20zip%20a%20file">Zip</a> the folder containing your project.</li>
					<li>Name the Zip using your <b>full name</b>. For example I would call my zip: <code>Chris Piech.zip</code></li>
					<li>Upload the file <a href="https://sendtomycloud.com/submissions">here</a></li>
				</ol>
			</div>
		</div>
		
		
		%include templates/parts/footer.html

	</div>
</body>
