<head>

	%include templates/parts/head.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Submitting Assignments
			</h1>

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				At the end of each day, before you go home, submit your work!
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<h2>How to Submit</h2>
				<p>To submit follow these three steps:</p>
				<ol>
					<li>Zip the folder containing your project. A helpful tutorial video can be found <a href="https://www.youtube.com/watch?v=pQiv-nu-2CY">here</a>.</li>
					<li>Name the Zip using your <b>full name</b> and the <b>project name</b>. For example I would call my zip: <code>Tyler_Conklin_Random_Painter.zip</code> if I was submitting the 'Random Painter' project.</li>
					<li>Upload the file using the link your section leaders in lab provided for you.</li>
				</ol>
			</div>
		</div>
		
		
		%include templates/parts/footer.html

	</div>
</body>
