% rebase('templates/en/template.ptl', title="Upload Website")


	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Let's Do It Live! : Uploading your Website
			</h1>
			<p>
				Created by Brian Lam
			</p>
			

		</div>
		<hr/>

<h2> One-time setup</h2>
	<p> This first part is a little tedious, but don't worry, you only have to do it once.</p>

<p>1.Create a Github account at <a href="http://github.com">Github.com</a> </p>

<p><img src="{{pathToRoot}}img/handouts/uploadWebsite/01.png" style="width:100%" alt="Hello"></p>

<p><img src="{{pathToRoot}}img/handouts/uploadWebsite/02.png" style="width:100%" alt="Hello"></p>

<p>2.Create a new repository</p>

<p><img src="{{pathToRoot}}img/handouts/uploadWebsite/03.png" style="width:100%" alt="Hello"></p>

<p>3.Name of the repository must be <your username>.github.io (Example provided: my username is blamblam, the repository name is blamblam.github.io) <strong>This is important!</strong></p>

<p><img src="{{pathToRoot}}img/handouts/uploadWebsite/04.png" style="width:100%" alt="Hello"></p>

<p>4.Click Settings</p>

<p><img src="{{pathToRoot}}img/handouts/uploadWebsite/05.png" style="width:100%" alt="Hello"></p>

<p>5.Click automatic page generator</p>

<p><img src="{{pathToRoot}}img/handouts/uploadWebsite/06.png" style="width:100%" alt="Hello"></p>

<p>6.Click &quot;Continue to Layouts&quot;</p>

<p><img src="{{pathToRoot}}img/handouts/uploadWebsite/07.png" style="width:100%" alt="Hello"></p>

<p>7.Click Publish Page</p>

<p><img src="{{pathToRoot}}img/handouts/uploadWebsite/08.png" style="width:100%" alt="Hello"></p>

<p>8.Click index.html</p>

<p><img src="{{pathToRoot}}img/handouts/uploadWebsite/09.png" style="width:100%" alt="Hello"></p>

<p>9.Click Edit this file</p>

<p><img src="{{pathToRoot}}img/handouts/uploadWebsite/10.png" style="width:100%" alt="Hello"></p>

<p>10.After making some changes (select all and replacing with your index.html file) make sure &quot;Commit directly to master branch&quot; is selected and click &quot;Commit Changes&quot;</p>

<p><img src="{{pathToRoot}}img/handouts/uploadWebsite/11.png" style="width:100%" alt="Hello"></p>

<p>After a few minutes, you should see your page live at &lt;your username&gt;.github.io. If it is still not up after 20 minutes, let us know!</p>

<h2>If you want to edit the page in the future</h2>
<p>Go to http://github.com and click on the repo name &lt;your username&gt;.github.io. After this, from here, it is the same as steps 9 and 10</p>
<p><img src="{{pathToRoot}}img/handouts/uploadWebsite/12.png" style="width:100%"></p>
