<head>
<head>

	%include templates/parts/head.html

	<script src="karel/js/html/websiteImports.js"></script>
	<script>importCss();</script>
	<script>importJs();</script>

</head>
<body>


	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Secret SL Page
			</h1>

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				<h2>Where You Should Be</h2>
				<p><a href="https://docs.google.com/spreadsheets/d/1-oie3bl1pzY8I1xJwmjT1nSxvy7qABUf_FPHv0dkVJM/edit#gid=2097377555">Spreadsheet</a></p>

				<h2>Section Handouts</h2>
				<p><a href="https://drive.google.com/drive/folders/0B61cKozpEaZ3cU1PWlZoV0pKWDA">Handouts Directory</a></p>

				<h2>Section Solutions</h2>
				<p><a href="https://drive.google.com/drive/folders/0B61cKozpEaZ3bGZNSHVoeC1BMTQ">Solutions Directory</a></p>

				<h2>Student Program Solutions</h2>
				<p><a href="{{pathToRoot}}sls/soln/day1.html">Day1</a></p>
			</div>
		</div>


	</div>
</body>
