<!--Translated-->
<head>

	%include templates/parts/head.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBarTk.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Sırada Ne Var ?
			</h1>
			<p>
				Hazırlayanlar Kerem Göksel ve Chris Piech
			</p>
			

		</div>
		<hr/>

		<p>
			<center>
				<img style="width:500px" src="{{pathToRoot}}img/handouts/whatsNext/next.png">	
			</center>
		</p>
		<div class="row">
			<div class="col-md-12">
				<p>
					Yoğun iki haftadan sonra Bilgisayar Biliminin en temel konularının pek çoğunu öğrendik, ancak bu derste öğrendiklerimiz buzdağının ancak görünen yüzü. Daha bilgisayar biliminde öğrenebileceğiniz pek çok ilginç konu var. Bu dersteki konuları tam olarak kavradıktan sonraki ilk adım CS 106A dersinin konularını bitirmek. CS 106A Stanford'da kullanılan programlamaya giriş dersi ve biz de bu ders için o dersten konular seçtik.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>
					CS 106A'yı Bitirmek
				</h2>
				<p>
					CS 106A Stanford'da verilen 10 haftalık yoğun bir ders. Bu derste bizim öğrendiğimiz konular ve yaptığımız projelerin üstüne bir kaç konu daha anlatılıyor ve bir kaç proje daha var. Biz vaktimiz olmadığı için bu konulara giremedik; ama eğer siz bu konuları öğrenmek isterseniz üzerinde çalışabileceğiniz projeler hazırladık. İlk olarak kendi bilgisayarınıza Eclipse'in Stanford versiyonunu yüklemelisiniz. Bunu <a href="{{pathToRoot}}handouts/DownloadingEclipse.pdf">bu dökümandan</a> yapabilirsiniz.
				</p>
			</div>
		</div>


		<div class="row">
			<div class="col-md-12">
				<h3>
					Çizgide (Konu Tekrarı)
				</h3>
				<p>
					Öncelikle bu derste işlenen konuları tekrar eden bir proje hazırladık. Başlangıç kodunu ana sayfadan indirin ve <a href="{{pathToRoot}}projects/mouseGame.html">çizgiyi tamamlayın</a>. Bu proje sadece bu derste işlediğimiz konuları tekrar ediyor, yani bunu yapmak için yeni konular öğrenmenize gerek yok!
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<h3>
					Adam Asmaca (String'ler)
				</h3>
				<p>
					Bildiğiniz gibi String'ler karakter(character) dizilerini saklamak için kullandığımız değişkenler (variable). Bu derste String'leri yazılı mesajlar, ekrana yazılması gereken skorlar gibi amaçlar için kullandık. Ama String'lerle çok daha fazlasını yapabilirsiniz! Aslında Bilgisayar Bilimindeki pek çok ilginç konu ve problem String'lerle çalışmayı gerektiriyor. Biz bu derste String'lerin ilginç uygulamalarını çok öğrenemedik, ancak başlamının en iyi yolu kendi String projeniz üstünde çalışmak. Stanford öğrencileri String'leri öğrenmek için Adam Asmaca projesi yapıyorlar. Biz de sizin için bir <a href="{{pathToRoot}}projects/hangman.html">Adam Asmaca projesi</a> hazırladık. Bu linke gidip proje tanımını okuyabilir, başlangıç kodunu indirip Eclipse'e ekleyebilir ve çalışmaya başlayabilirsiniz.
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<h3>
					Instakilo (HashMap'ler)
				</h3>
				<p>
					Öğrenmeniz gereken son konu da HashMap'ler. Öncelikle HashMap konusuna çalışın, sonra da <a href="{{pathToRoot}}projects/instakilo.html">Instakilo</a> projesini deneyin.
				</p>
			</div>
		</div>

		<hr/>
		<!--<div class="row">
			<div class="col-md-12">
				<h3>
					Rest of CS 106A
				</h3>
				<p>
					After you've built Hangman, you will probably have a good grasp of how Strings work. There are a few other topics covered in CS106A that you won't have learned yet, and we strongly suggest looking at those before moving on. While we don't have specific assignments and handouts for you after this moment, you can find past CS106A lecture videos, lecture notes and assignment handouts and  here</a>. At this point, you have the necessary ability and experience to tackle these projects on your own and master the programming fundamentals.
				</p>
			</div>
		</div>-->
		<div class="row">
			<div class="col-md-12">
				<h2>
					CS 106A'dan sonra
				</h2>
				<p>
					CS 106 materyellerini bitirdikten sonra Bilgisayar Biliminin istediğiniz alanını keşfetmey hazırsınız. İsterseniz <a href="https://web.stanford.edu/class/archive/cs/cs106b/cs106b.1138/">CS106B</a> materyellerine bakabilirsiniz. Bu Stanford'da CS 106A'dan sonra verilen ikinci derstir. Ama internette bulabileceğiniz çok sayıda farklı bedava kaynakla, kendi hızınızda istediğiniz konuyu öğrenmeye başlayabilirsiniz. Biz de sizin için bulabildiğimiz seviyenize uygun kaynaklardan oluşan aşağıdaki bu rehberi hazırladık; ama Khan Academy, Codecademy, Udemy ve Coursera gibi web sitelerinde ilginizi çekebilecek daha çok daha fazla ders var, o yüzden keşfetmeye devam!
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h3>
					Web Programcılığı Dersleri
				</h3>
				<h4>
					Konu Tekrarları:
				</h4>
				<p>
					Bu derslerde işlenen konuların bazılarını zaten öğrediniz. Ama daha ilerlemeden sağlam bir temele sahip olmak ve konuları iyice oturtmak istiyorsanız bu derse bakın
				</p>
				<ul>
					<li>	
						<a href="http://www.codecademy.com/en/tracks/web">Codecademy HTML and CSS</a>: Bu ders temel HTML ve CSS kullanımını sıfırdan başlayarak öğretiyor. Web siteleri yapmak için gereken temel bir konu.
					</li>
					<li>	
						<a href="http://www.codecademy.com/en/tracks/javascript">Codecademy JavaScript</a>: Bu ders ise temel JavaScript kullanımını öğretiyor, ve bizim işlediğimizin biraz ötesine geçiyor. JavaScript'le web programcılığı düşünüyorsanız iyi bir başlangıç noktası.
					</li>
				</ul>
				<h4>
					Temel HTML, CSS ve JavaScript'ten Sonra
				</h4>
				<ul>
					<li>	
						<a href="http://www.codecademy.com/en/tracks/jquery">Codecademy jQuery</a>: jQuery web sitelerinizde JavaScript kullanmayı kolaylaştıran bir araç, ve bu ders sıfırdan başlayarak bunu öğretiyor.
					</li>
					<li>	
						<a href="https://www.coursera.org/learn/internet-history">Coursera: Internet, History, Technology and Security</a>: Bu bir programlama dersi değil, ama internetin tarihi ve nasıl çalıştığını anlatıyor. İnternette kullanılan teknolojiler ve web güvenliği hakkında ilginç bilgiler var.,
					</li>
					<li>	
						<a href="http://www.codecademy.com/en/learn/make-a-rails-app">Codecademy Make a Rails App</a>: Sıfırdan başlayarak bir web uygulaması yaptığınız bir ders. Ruby on Rails adındaki popüler bir web programlama kurulumu kullanıyor. Bu ders için HTML, CSS ve JS bilmeniz gerekiyor. JavaScript'i kavradıktan sonra web'de uygulama yapmayı öğrenmek isteyenler için önerilen zorlu bir ders.
					</li> 
				</ul>
				<h3>
					Grafikler
				</h3>
				<ul>
					<li>
						<a href="https://www.khanacademy.org/computing/computer-programming/programming-games-visualizations">Khan Academy Advanced Javascript - Games and Visualizations</a>: JavaScript bilginizi grafik bilginizle birleştirip çeşitli küçük oyunlar ve cool simülasyon programları yazabileceğiniz bir ders.
					</li>
					<li>
						<a href="https://www.udacity.com/course/cs291">Udacity Interactive 3D Graphics</a>: JavaScript kullanan biraz daha ileri seviye bir ders. Khan Academy dersinden sonra iyi gidebilir. Ders her ne kadar sıfırdan öğretse de önceden JavaScript bilgsinin olmasının işleri kolaylaştıracağını söylüyor. Yaklaşık 48 saatlik materyeli var.
					</li>
				</ul>
				<h3>
					Java Programcılığı
				</h3>
				<ul>
				<li>
					<a href="https://www.udacity.com/course/cs046">Udacity Intro to Java Programming</a>: Yaklaşık 96 saatlik materyele sahip. Sıfırdan Java öğretiyor, ancak büyük ihtimalle bizim işlediğimiz konuların ötesine geçiyor. Stanford library'leri kullanmadan gerçek dünya Java programcılığı öğrenmek isteyenlere önerilir.
				</li>
				<li>	
					<a href="https://www.udacity.com/course/ud853">Udacity How to Make Android Apps</a>: Yaklaşık 60 saatlik materyeli var. İyi Java bilgisi olanlara Android programcılığı öğretmeyi amaçlıyor. İyi Java bilgisi gerektiği için bundan önce Udacity Java dersini almak iyi olabilir.
				</li>
			</ul>
			<h3>
				Diğer İlginç Konular
			</h3>
			<ul>
				<li>	
					<a href="https://www.khanacademy.org/computing/computer-programming/programming-natural-simulations">Khan Academy Advanced JavaScript - Natural Simulations</a>: JavaScript kullanarak ilginç simülasyonlar ve rasgele sayılar gibi teorik programlama konularına giriş.
				</li>
				<li>
					<a href="https://www.khanacademy.org/computing/computer-science/algorithms">Khan Academy Algorithms</a>: JavaScript kullanarak temel programlama algoritmalarını öğretiyor. Diğer JS derslerinden sonra iyi gider.
				</li>
			</ul>
		</div>
	</div>

	<hr/>
	<div class="row">
		<div class="col-md-12">
			<h2>
				Faydalı Kaynaklar
			</h2>
			<p>
				Şu andan sonra Bilgisayar Bilimi öğrenme yolculuğunuza tek başınıza devam edeceksiniz, ama bu yardım bulamayacağınız anlamına gelmiyor! Biz gelip kodunuzu okuyup yardımcı olamayacağız, ama Piazza web sitesinde sorularınız için bir forum kurduk. Bu derste öğrenilen metodlara bakmak için <a href="https://cs.stanford.edu/people/eroberts/jtf/javadoc/student/index.html">ACM dokümantasyonu</a> ve <a href="https://docs.oracle.com/en/java/">genel Java dokümantasyonu</a>na bakabilirsiniz. CS 106A konularını bitirdikten sonra ise <a href="http://www.stackoverflow.com">Stack Overflow</a> web sitesi en büyük dostunuz olacak. Dünya çapında programcıların birbirlerinin sorularını cevapladığı bir web sitesi. Bir sorununuz olduğunda bu sitede ararsanız, büyük ihtimalle zaten daha önce cevaplanmış olduğunu göreceksiniz.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3>
				Başkalarının kodunu kopyalamak hakkında bir not
			</h3>
			<p>
				Deneyimli programcıların yazdığı kaliteli kodu okumak öğrenmenin bir parçasıdır, iyi yaklaşımlar ve doğru formatlamayı görebilirsiniz. Dolayısıyla başkasının kodunu okumakta bir sorun yok. Ancak programcılık öğrenirken bunu öncelikle kendiniz için yaptığınızı unutmayın. Bir sorunu çözmeye çalıştığınızda kopyala yapıştırla sorunu çözmek anlık bir keyif verebilir, ancak unutmayın ki programcılığın en büyük keyfi bir sorunu kendin çözmenin verdiği tatmin, bunu kaybetmeyin!
			</p>
		</div>
	</div>
		%include templates/parts/footer.html

	</div>
</body>
