<nav class="navbar-inverse navbar-default" role="navigation">
  <div class="container-fluid">
  	<div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/">Intro CS</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <!--<li ><a href="#">Link</a></li>-->
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Handouts <b class="caret"></b></a>
	          <ul class="dropdown-menu">
	          	<li><a href="{{pathToRoot}}handouts/sections.html">Sections</a></li>
	          	<li><a href="{{pathToRoot}}handouts/karel.html">Karel Reference</a></li>
	          	
	          	<li><a href="{{pathToRoot}}handouts/console.html">Console Reference</a></li>
	          	<li><a href="{{pathToRoot}}handouts/random.html">Random Generator Reference</a></li>
	          	<li><a href="{{pathToRoot}}handouts/graphics.html">Graphics Reference</a></li>
	          	<li><a href="{{pathToRoot}}handouts/events.html">Events Reference</a></li>
                <li><a href="{{pathToRoot}}projects/jsJSSyntax.html">JavaScript Syntax Reference</a></li>
                <li><a href="{{pathToRoot}}handouts/htmlReference.html">HTML Reference</a></li>
                <li><a href="{{pathToRoot}}handouts/uploadWebsite.html">Uploading a Website Reference</a></li>

	          	<li><a href="{{pathToRoot}}handouts/whatsNext.html">Whats Next</a></li>
	          	<!--<li><a href="{{pathToRoot}}handouts/forLoops.html">For Loops</a></li>
	          	<li><a href="{{pathToRoot}}handouts/loopAndAHalf.html">Loop and a Half</a></li>
	          	<li><a href="{{pathToRoot}}handouts/whileLoops.html">While Loops</a></li>
	          	<li><a href="{{pathToRoot}}handouts/ifStatements.html">If Statements</a></li>
	          	<li><a href="{{pathToRoot}}handouts/variables.html">Variables</a></li>
	            <li><a href="{{pathToRoot}}handouts/scope.html">Scope</a></li>
	            <li><a href="{{pathToRoot}}handouts/operations.html">Operations</a></li>
	            <li><a href="{{pathToRoot}}handouts/graphics.html">Graphics</a></li>
	            <li><a href="{{pathToRoot}}handouts/passingData.html">Passing Data</a></li>-->
	            
	          </ul>
	        </li>


	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects <b class="caret"></b></a>
	          <ul class="dropdown-menu">
	            <li><a href="{{pathToRoot}}projects/collectNewspaper.html">Collect Newspaper</a></li>
	          	<li><a href="{{pathToRoot}}projects/efes.html">Build Efes</a></li>
	          	<li><a href="{{pathToRoot}}projects/mountain.html">Mountain Karel</a></li>
	          	<li><a href="{{pathToRoot}}projects/randomPainter.html">Random Painter</a></li>
	          		<li class="divider"></li>

	          	<li><a href="{{pathToRoot}}projects/medicine.html">Medicine</a></li>
	          	<li><a href="{{pathToRoot}}projects/gameOfStones.html">Nimm</a></li>
	          	<li><a href="{{pathToRoot}}projects/awesome.html">Programming is Awesome</a></li>
	          	<li><a href="{{pathToRoot}}projects/someSum.html">Some Sum</a></li>
	            <li><a href="{{pathToRoot}}projects/randomCircles.html">Random Circles</a></li>
	            <li><a href="{{pathToRoot}}projects/bouncingBall.html">Bouncing Ball</a></li>

	          	<li><a href="{{pathToRoot}}projects/madMax.html">Mad Max</a></li>
	          	<li><a href="{{pathToRoot}}projects/target.html">Target</a></li>
	          	<li><a href="{{pathToRoot}}projects/sunset.html">Short Film</a></li>
	            <li><a href="{{pathToRoot}}projects/drawPeople.html">Three's a Crowd</a></li>
	            <li><a href="{{pathToRoot}}projects/illusion.html">Optical Illusion</a></li>
	            <li><a href="{{pathToRoot}}projects/madLibs.html">Mad Libs</a></li>
	            <li><a href="{{pathToRoot}}projects/secret.html">Secret</a></li>

	     

                <li class="divider"></li>
	            
	            <li><a href="{{pathToRoot}}projects/breakout.html">Breakout</a></li>
	            
	            
	            <li><a href="{{pathToRoot}}projects/music.html">Waves of Sound</a></li>
	        	
	        	
	            <li><a href="{{pathToRoot}}projects/project.html">Final Project</a></li>

	            
              
	            
	          </ul>
	        </li>

	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Examples <b class="caret"></b></a>
	          <ul class="dropdown-menu">
	          	<li><a href="{{pathToRoot}}projects/stepUp.html">Step Up</a></li>
	          	<li><a href="{{pathToRoot}}projects/place100.html">Place 100</a></li>
	          	<li><a href="{{pathToRoot}}projects/beeperLine.html">Beeper Line</a></li>
	          	<li><a href="{{pathToRoot}}projects/invert.html">Invert</a></li>
	          	<li><a href="{{pathToRoot}}projects/unKarel.html">UN Karel</a></li>
	          	<li class="divider"></li>
	            <li><a href="{{pathToRoot}}projects/emc2.html">E=MC2</a></li>
	            <li><a href="{{pathToRoot}}projects/fibb.html">Fibonacci</a></li>
	           <li><a href="{{pathToRoot}}projects/favoriteNumber.html">Favorite Number</a></li>
	           <li><a href="{{pathToRoot}}projects/mysterySquare.html">Mystery Square</a></li>
	            
	            <li><a href="{{pathToRoot}}projects/robotFace.html">Robot Face</a></li>
	            <!--<li><a href="{{pathToRoot}}projects/findPi.html">Find Pi</a></li>-->
	            <li><a href="{{pathToRoot}}projects/8Ball.html">8-Ball</a></li>
	            <li><a href="{{pathToRoot}}projects/halfGreen.html">Half Green</a></li>
	            
	            <li><a href="{{pathToRoot}}projects/stringArt.html">String Art</a></li>
	             
	             <li><a href="{{pathToRoot}}projects/stampTool.html">Stamp Tool</a></li>
	            <li><a href="{{pathToRoot}}projects/snow.html">Snow</a></li>
                   <!--<li class="divider"></li>
	            <li><a href="{{pathToRoot}}projects/breakoutOnline.html">Breakout Online</a></li>-->
	          </ul>
	        </li>

	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Slides <b class="caret"></b></a>
	          <ul class="dropdown-menu">
	          	<li><a href="{{pathToRoot}}slides/01.pptx">Karel</a></li>
	          	<li><a href="{{pathToRoot}}slides/02.pptx">Simple Java</a></li>
	          	<li><a href="{{pathToRoot}}slides/03.pptx">Methods</a></li>
	          	<li><a href="{{pathToRoot}}slides/04.pptx">Review</a></li>
	          	<li><a href="{{pathToRoot}}slides/06.pptx">Array Lists</a></li>
	          	<li><a href="{{pathToRoot}}slides/AI.pptx">A.I.</a></li>
	          	<li><a href="{{pathToRoot}}slides/TheEnd.pptx">The End</a></li>
	          	
	          </ul>
	        </li>


	        <!--<li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Internet <b class="caret"></b></a>
	          <ul class="dropdown-menu">
	          	<li><a href="https://www.dropbox.com/s/1jtjo9hde8in0xn/1-How%20the%20internet%20works.pptx">How the Internet Works</a></li>
	          	<li><a href="https://www.dropbox.com/s/1t7pwltugsy4pxg/2-day-in-the-life-of-packet.pptx">Day in the Life of a Packet</a></li>
	          	<li><a href="https://www.dropbox.com/s/1n0lzrl32urfsnr/3-How%20packets%20routed.pptx">How packets are routed in the Internet</a></li>
	          	<li class="divider"></li>
	          	<li><a href="http://yuba.stanford.edu/~huangty/dacka/lab1.html">Lab 1</a></li>
	          	<li><a href="http://yuba.stanford.edu/~huangty/dacka/lab2.html">Lab 2</a></li>
	          	<li class="divider"></li>
	          	<li><a href="{{pathToRoot}}internet/echo.zip">Echo Client Code</a></li>
	          	<li><a href="{{pathToRoot}}internet/2person-breakout.zip">2Person Breakout Code</a></li>

	          	
	          </ul>
	        </li>-->

	        <!--<li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Section<b class="caret"></b></a>
	          <ul class="dropdown-menu">
	          	<li><a href="{{pathToRoot}}projects/stepUp.html">Newspaper Karel</a></li>
	          	<li><a href="{{pathToRoot}}projects/place100.html">Counterfit Drugs</a></li>
	          	<li><a href="{{pathToRoot}}projects/beeperLine.html">Target</a></li>
	          </ul>
	        </li>-->



	      </ul>

	      
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#">About</a></li>
	        
	      </ul>
	    </div><!-- /.navbar-collapse -->
	</div>
  </div><!-- /.container-fluid -->
</nav>


