% rebase('templates/tas/soln/template.ptl', problemTitle="Programming is Awesome")

<p>
  This is the lab problem for the morning.  It gives students practice writing their first graphics programs, creating GObjects, and customizing them.  The problem suggests breaking the task into two milestones - first, drawing the colored rectangles, and second, drawing the centered label.  For all of the graphics, encourage students to be creative!  Centering the text is also a tricky challenge to work through.  Encourage students to draw pictures of where the label should be placed to be centered, and how we might calculate that given the dimensions of the screen and the dimensions of the text.
</p>

<h3>Solution</h3>
<pre id="editor" style="height:450px">public class ProgrammingIsAwesome extends GraphicsProgram {
  
  public void run() {
      // Milestone 1
      GRect redRect = new GRect(50, 50, 100, 150);
      redRect.setFilled(true);
      redRect.setColor(Color.RED);
      add(redRect);
      
      GRect blueRect = new GRect(400, 100, 20, 200);
      blueRect.setFilled(true);
      blueRect.setColor(Color.BLUE);
      add(blueRect);
      
      GRect yellowRect = new GRect(200, 300, 100, 50);
      yellowRect.setFilled(true);
      yellowRect.setColor(Color.YELLOW);
      add(yellowRect);
      
      // Milestone 2
      GLabel label = new GLabel("Programming is Awesome!");
      label.setFont("Courier-50");
      double x = getWidth() / 2 - label.getWidth() / 2;
      double y = getHeight() / 2 - label.getHeight() / 2;
      add(label, x, y);
  }

}</pre>
    
<script src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
   editor.setTheme('ace/theme/eclipse');
   editor.getSession().setMode("ace/mode/java");
   editor.setReadOnly(true);
   editor.renderer.setShowGutter(false); 
    /*editor.setTheme("ace/theme/eclipse");
    editor.getSession().setMode("ace/mode/java");*/
</script>