% rebase('templates/tas/soln/template.ptl', problemTitle="Breakout")

<p>
  Breakout is a graphics game, and the first major program that students make. It's awesome to play around with a working version, and is a substantial accomplishment.
</p>

<h2>Overall Comments</h2>
<p>
  One thing to watch out for is use of instance variables. Students have just learned about them, and they seem like magic, so students will overuse them. Really emphasize that they should only use instance variables when they are absolutely necessary. They technically only need the paddle, because they only need instance variables for stuff within the <code>mouseMoved</code> method. However, it is also okay if they have vx/vy, since otherwise they need to return vy/vx whenever they change them in a decomposed method (since they are primitives). 
  <br/>
  <br/>
  Breakout can be confusing because there are two pieces of code working in parallel. There is the main part of the program, which is a loop that drives the game -- moving the ball, handling collisions, watching for end game. The second part are the mouse listeners which only handles paddle movement. Look out for students who try to handle game mechanics in the wrong piece, as it will cause a lot of problems for them later.
</p>

<h2>Milestones</h2>
<p>Students should approach the problem using the milestones below.</p>

<h3>Create The Bricks</h3>
<p>
  First thing students do is make the bricks. The most elegant way to do this is to have a helper method to make a row that takes a color.  Try to have them break it down to draw one row of bricks, and then multiple rows.  The checkerboard pattern in optical illusion may be a good starting point.  Here's what a method that draws the bricks might look like:
</p>

<pre id="editor1" style="height:600px">
private void drawBricks() {
    double totalBrickWidth = NBRICKS_PER_ROW * BRICK_WIDTH + (NBRICKS_PER_ROW - 1) * BRICK_SEP;
    // Draw each row
    for (int row = 0; row < NBRICK_ROWS; row++) {
        double brickY = BRICK_Y_OFFSET + row * (BRICK_HEIGHT + BRICK_SEP);

        // For a single row, draw each brick
        for (int column = 0; column < NBRICKS_PER_ROW; column++) {
            // The row of bricks should be centered horizontally
            double brickX = getWidth() / 2 - totalBrickWidth / 2 + column * (BRICK_WIDTH + BRICK_SEP);
            GRect brick = new GRect(brickX, brickY, BRICK_WIDTH, BRICK_HEIGHT);
            brick.setFilled(true);
            brick.setColor(getBrickColor(row));
            add(brick);
        }
    }
}

// Returns the color the bricks in the given row should be
private Color getBrickColor(int row) {
    if (row < 2) {
        return Color.RED;
    }
    if (row == 2 || row == 3) {
        return Color.ORANGE;
    }
    if (row == 4 || row == 5) {
        return Color.YELLOW;
    }
    if (row == 6 || row == 7) {
        return Color.GREEN;
    }
    if (row == 8 || row == 9) {
        return Color.CYAN;
    }
    return Color.BLACK;
}</pre>

<h3>Create The Paddle</h3>
<p>
Next, students should make the paddle and have it move with the mouse.  Students use mouseMoved to move the paddle.  Here's what an implementation of <code>mouseMoved</code> might look like, along with code to initialize the paddle, which needs to be an instance variable.  Some students may try to store the previous position of the paddle and move the paddle by the amount the mouse changed since the last <code>mouseMoved</code>, but it's easiest to use <code>setLocation</code>.
</p>

<pre id="editor2" style="height:400px">
/* Creates the paddle and adds it at the bottom of the screen.  
 * Listens for mouse events.
 */
private void drawPaddle() {
    double x = getWidth() / 2 - PADDLE_WIDTH / 2; 
    double y = getHeight() - PADDLE_Y_OFFSET - PADDLE_HEIGHT;
    paddle = new GRect(x, y, PADDLE_WIDTH, PADDLE_HEIGHT);
    paddle.setFilled(true);
    add(paddle);
    addMouseListeners();
}

/* The mouse should track the paddle (this implementation keeps 
 * the paddle center where the mouse is).
 */
public void mouseMoved(MouseEvent e) {
    // If the mouse would not put the paddle offscreen, update the paddle location
    if ((e.getX() < getWidth() - PADDLE_WIDTH / 2) && (e.getX() > PADDLE_WIDTH / 2)) {
        double newX = e.getX() - PADDLE_WIDTH / 2;
        paddle.setLocation(newX, paddle.getY());
    }
}</pre>

<h3>Make The Ball Move</h3>
<p>This part is extremely similar to the bouncing ball example students previously worked on!  Students should add the ball at the center of the screen using the graphics skills they have already been practicing.  Then, they can store the vx and vy using instance variables (but do not have to), and initialize the velocity randomly.  Finally, they should animate the ball around the screen, bouncing off of all 4 walls (for now).  Here's what this implementation might look like:</p>

<pre id="editor3" style="height:550px">
private void addBall() {
    ball = new GOval(2*BALL_RADIUS, 2*BALL_RADIUS);
    ball.setFilled(true);
    double x = getWidth() / 2 - BALL_RADIUS;
    double y = getHeight() / 2 - BALL_RADIUS;

    vy = 4.0;
    vx = rgen.nextDouble(1.0, 3.0);
    if (rgen.nextBoolean(0.5)) {
        vx = -vx; 
    }

    add(ball, x, y);
}

// Loop the following in a while(true) loop
private void moveBall() {
    ball.move(vx, vy);

    // Check if the ball has collided with the left/right walls and is going into them
    if ((ball.getX() <= 0 && vx < 0) || (ball.getX() >= (getWidth() - BALL_RADIUS*2) && vx > 0)) {
        vx = -vx;
    }

    // Check if the ball has collided with the top/bottom walls and is going into them
    if ((ball.getY() <= 0 && vy < 0) || (ball.getY() >= (getHeight() - BALL_RADIUS*2) && vy > 0)) {
        vy = -vy;
    }

    pause(DELAY);
}</pre>

<h3>Collisions</h3>
<p>Next, we tell them to write a method called "getCollidingObject" that returns one object. This is how we try to prevent the "going through multiple bricks" problem that is caused by them changing vy every time a corner intersects with an object. Forcing them to return only one object guarantees that the vy will only be changed once.

Tip: have them write the code that uses getCollidingObject first, to see why it might be useful, and then have them implement it.

Once they have the object, they check to see if it is equal to the paddle, then work accordingly. We don't require that they change vx when they hit the side of the paddle. Note that it is okay if they hit part of one brick, make it disappear, then hit part of another brick (making it look like it goes through multiple bricks). The only thing we're concerned about is them hitting two bricks at the same time, on the same round.</p>

<pre id="editor4" style="height:500px">
private GObject getCollidingObject() {
    // Top left corner
    if(getElementAt(ball.getX(), ball.getY()) != null) {
        return getElementAt(ball.getX(), ball.getY());
    } else if (getElementAt(ball.getX() + BALL_RADIUS*2, ball.getY()) != null) {
        // Top right corner
        return getElementAt(ball.getX() + BALL_RADIUS*2, ball.getY());
    } else if(getElementAt(ball.getX(), (ball.getY() + BALL_RADIUS*2)) != null) {
        // Bottom left corner
        return getElementAt(ball.getX(), ball.getY() + BALL_RADIUS*2);
    } else if(getElementAt(ball.getX() + BALL_RADIUS*2, ball.getY() + BALL_RADIUS*2) != null) {
        // Bottom right corner
        return getElementAt(ball.getX() + BALL_RADIUS*2, ball.getY() + BALL_RADIUS*2);
    }

    return null;
}

...

// Do a check like this every frame the ball is moved
GObject collidingObject = getCollidingObject();
if (collidingObject == paddle) {
    vy = -Math.abs(vy);
} else if (collidingObject != null) {
    remove(collidingObject); 
    vy = -vy;
}
</pre>

<h3>Extra Touches</h3>
<p>Finally, we have the students implement the game ending conditions, and other touches such as win/lose messages.  They should keep a counter of the number of bricks remaining - they initialize it to the total number of bricks, and decrement it every time a brick is removed.  Then, they can continue animating the ball while it is both still onscreen and their are bricks left.  Once the animation stops, they can check if the player won or lost.  Something like the following:</p>

<pre id="editor5" style="height:300px">
public void run() {
    drawBricks();
    drawPaddle();
    addBall();
    while (numberOfBricks > 0 && ball.getY() < getHeight() - BALL_RADIUS*2) {
        moveBall();
    }

    if (numberOfBricks == 0) {
        addCenteredMessage("You win!");
    } else {
        addCenteredMessage("You lose :(");
    }
}
</pre>

<h3>Full Solution</h3>
<p>Here is a complete solution, with some other bells and whistles like multiple turns.</p>
<pre id="editor6" style="height:500px">public class Breakout extends GraphicsProgram implements BreakoutConstants {

    // The current x and y velocity of the ball
    private double vx = 0;
    private double vy = 0;
    
    // The number of bricks left onscreen
    private int numberOfBricksLeft = NBRICK_ROWS * NBRICKS_PER_ROW;
    
    // The ball and paddle
    private GOval ball = null;
    private GRect paddle = null;
    
    // Variable to generate random numbers
    private RandomGenerator rgen = new RandomGenerator();

    public void run() {
        drawBricks();
        drawPaddle();
        addBall();
        for (int i = 0; i < NTURNS; i++) {
            playTurn();
            if (numberOfBricksLeft == 0) {
                break;
            }
        }

        endGame();
    }
    
    // Draws the rows of bricks in different colors on the screen
    private void drawBricks() {
        double totalBrickWidth = NBRICKS_PER_ROW * BRICK_WIDTH + (NBRICKS_PER_ROW - 1) * BRICK_SEP;
        // Draw each row
        for (int row = 0; row < NBRICK_ROWS; row++) {
            double brickY = BRICK_Y_OFFSET + row * (BRICK_HEIGHT + BRICK_SEP);

            // For a single row, draw each brick
            for (int column = 0; column < NBRICKS_PER_ROW; column++) {
                // The row of bricks should be centered horizontally
                double brickX = getWidth() / 2 - totalBrickWidth / 2 + column * (BRICK_WIDTH + BRICK_SEP);
                GRect brick = new GRect(brickX, brickY, BRICK_WIDTH, BRICK_HEIGHT);
                brick.setFilled(true);
                brick.setColor(getBrickColor(row));
                add(brick);
            }
        }
    }

    // Returns the color the bricks in the given row should be
    private Color getBrickColor(int row) {
        if (row < 2) {
            return Color.RED;
        }
        if (row == 2 || row == 3) {
            return Color.ORANGE;
        }
        if (row == 4 || row == 5) {
            return Color.YELLOW;
        }
        if (row == 6 || row == 7) {
            return Color.GREEN;
        }
        if (row == 8 || row == 9) {
            return Color.CYAN;
        }
        return Color.BLACK;
    }

    /* Creates the paddle and adds it at the bottom of the screen.  
     * Listens for mouse events.
     */
    private void drawPaddle() {
        double x = getWidth() / 2 - PADDLE_WIDTH / 2; 
        double y = getHeight() - PADDLE_Y_OFFSET - PADDLE_HEIGHT;
        paddle = new GRect(x, y, PADDLE_WIDTH, PADDLE_HEIGHT);
        paddle.setFilled(true);
        add(paddle);
        addMouseListeners();
    }

    // Adds the ball to the center of the screen and initializes its velocity
    private void addBall() {
        ball = new GOval(2*BALL_RADIUS, 2*BALL_RADIUS);
        ball.setFilled(true);
        double x = getWidth() / 2 - BALL_RADIUS;
        double y = getHeight() / 2 - BALL_RADIUS;

        vy = 4.0;
        vx = rgen.nextDouble(1.0, 3.0);
        if (rgen.nextBoolean(0.5)) {
            vx = -vx; 
        }

        add(ball, x, y);
    }
    
    /* The mouse should track the paddle (this implementation keeps 
     * the paddle center where the mouse is).
     */
    public void mouseMoved(MouseEvent e) {
        // If the mouse would not put the paddle offscreen, update the paddle location
        if ((e.getX() < getWidth() - PADDLE_WIDTH / 2) && (e.getX() > PADDLE_WIDTH / 2)) {
            double newX = e.getX() - PADDLE_WIDTH / 2;
            paddle.setLocation(newX, paddle.getY());
        }
    }
    
    // Centers the ball onscreen, waits for the user to click, and plays 1 turn
    private void playTurn() {
        ball.setLocation(getWidth() / 2 - BALL_RADIUS, getHeight() / 2 - BALL_RADIUS);
        waitForClick();
        while (numberOfBricksLeft > 0 && ball.getY() < getHeight() - BALL_RADIUS*2) {
            moveBall();
        }
    }
    
    /* Moves the ball one step according to its x and y velocities.  If it collides with
     * walls or bricks or the paddle, acts accordingly: if it's a wall, it bounces,
     * if it's the paddle it bounces, and if it's a brick, remove it.
     */
    private void moveBall() {
        ball.move(vx, vy);

        // Check if the ball has collided with the left/right walls and is going into them
        if ((ball.getX() <= 0 && vx < 0) || (ball.getX() >= (getWidth() - BALL_RADIUS*2) && vx > 0)) {
            vx = -vx;
        }

        // Check if the ball has collided with the top/bottom walls and is going into them
        if ((ball.getY() <= 0 && vy < 0)) {
            vy = -vy;
        }

        //check for other objects
        GObject collidingObject = getCollidingObject();
        if (collidingObject == paddle) {
            vy = -Math.abs(vy);
        } else if (collidingObject != null) {
            numberOfBricksLeft--;
            remove(collidingObject); 
            vy = -vy;
        }

        pause(DELAY);
    }

    // Returns the object the ball is currently colliding with, or null if there is none. 
    private GObject getCollidingObject() {
        // Top left corner
        if(getElementAt(ball.getX(), ball.getY()) != null) {
            return getElementAt(ball.getX(), ball.getY());
        } else if (getElementAt(ball.getX() + BALL_RADIUS*2, ball.getY()) != null) {
            // Top right corner
            return getElementAt(ball.getX() + BALL_RADIUS*2, ball.getY());
        } else if(getElementAt(ball.getX(), (ball.getY() + BALL_RADIUS*2)) != null) {
            // Bottom left corner
            return getElementAt(ball.getX(), ball.getY() + BALL_RADIUS*2);
        } else if(getElementAt(ball.getX() + BALL_RADIUS*2, ball.getY() + BALL_RADIUS*2) != null) {
            // Bottom right corner
            return getElementAt(ball.getX() + BALL_RADIUS*2, ball.getY() + BALL_RADIUS*2);
        }

        return null;
    }
    
    // Clears the screen and adds a win/lose message depending on the game outcome.
    private void endGame() {
        removeAll();
        if (numberOfBricksLeft == 0) {
            addCenteredMessage("You win!");
        } else {
            addCenteredMessage("You lose :(");
        }
    }
    
    // Adds a label displaying the given text to the center of the screen in red.
    private void addCenteredMessage(String message) {
        GLabel messageLabel = new GLabel (message);
        messageLabel.setFont("Times-36");
        messageLabel.setLocation(getWidth() / 2 - messageLabel.getWidth() / 2, getHeight() / 2 + messageLabel.getAscent() / 2);
        messageLabel.setColor(Color.RED);
        add(messageLabel);
    }

}</pre>

<h3>Common Issues</h3>
<p>
Sticky paddle is the #1 breakout bug: it happens when the ball overlaps with the paddle if you move the paddle too quickly, and the ball thinks it's colliding with an object many times. This happens because the default collision logic students use is to flip the y velocity for a collision. This causes the "sticky paddle" issue, since the ball will detect many collisions with the paddle and thus flip its velocity back and forth, appearing as though it's "stuck" in the paddle. Solution: when the ball hits the paddle, it should always bounce up.  When people come to you with this bug, make sure they know why it is happening! One way to make this bug easier to see and replicate is to make the paddle extra tall and wide.
<br /><br />
Students often ask why their paddle sometimes doesn't move all the way to the edge of the screen if they move their mouse super fast (try it). It's because the mouse events don't fire quickly enough to update the paddle location before your mouse goes offscreen and they stop firing altogether. As long as they can move the paddle to the edge of the screen (but not offscreen!) by moving the mouse slowly, they're fine.
<br /><br />
The ball only needs to bounce in the vertical direction. Although horizontal bounces are a cool extension.
<br /><br />
This is their first assignment since learning instance variables. So they probably won't be 100% sure when to use them and when not to use them, or how they work. Usually folks use too many, and then over time they learn how to use them only when needed.
<br /><br />
This is their first assignment where null comes into play. We just told them about null, but most people aren't 100% comfortable with it. Null pointer exceptions could happen (e.g. the paddle isn't initialized, etc.) and they have to deal with null when checking for collisions.
<br /><br />
Remember to resize the window to check for leftover balls or bricks off the screen! Extra balls or bricks can cause weird bouncing and broken endgame conditions.
<br /><br />
Error: getWidth and getHeight return 0
They are calling getWidth and getHeight in the initialization of an instance variable.  Those calls don't work until the window is created, which happens in run.
<br /><br />
Bug: It goes through multiple bricks
This usually happens because when they check the four corners of the ball in separate ifs, rather than cascading ifs. When the ball intersects two bricks simultaneously, vy=-vy happens twice and cancels itself out. This should only be a problem if they do not implement getCollidingObject, because getCollidingObject only returns a single colliding object.
<br /><br />
Bug: After hitting a corner between the wall and paddle, or wall and wall, the ball gets stuck on the wall and bounces back and forth.
This usually happens when their checks for the walls/the paddle are in an "if()..else if()... rather than a group of singular ifs. What happens is that the ball is both vertically and horizontally off the screen, and should bounce both ways. However, since the ifs are cascaded, after changing, say, vy to -vy, vx is not changed to -vx. The next step, the ball moves even further off the screen. This time, vx does get switched to -vx, but the ball is already far enough off screen that moving it -vx pixels doesn't move it back on the screen. Therefore, the value of vx is flipped again on the next round, and the ball appears to vibrate back and forth around the wall.
</p>
    
<script src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    for (var i = 1; i <= 6; i++) {
        var editor = ace.edit("editor" + i);
        editor.setTheme('ace/theme/eclipse');
        editor.getSession().setMode("ace/mode/java");
        editor.setReadOnly(true);
        editor.renderer.setShowGutter(false); 
        /*editor.setTheme("ace/theme/eclipse");
        editor.getSession().setMode("ace/mode/java");*/
    }
</script>