% rebase('templates/tas/soln/template.ptl', problemTitle="Catch Me If You Can")

<p>
	The problem below is the section problem for the day.  Here is information about the goals for the problem and what you should focus on during section:
	<br />
	<b>Learning Goal</b>: responding to events, instance variables and <code>getElementAt</code>
	<br />
	<b>Milestone 1</b>: add the graphics to the screen in run
    <b>Milestone 2</b>: detect when the mouse touches the special square
	<br />
	<br />
    
	The key concept is to think through what events the program wants to respond to - in this case, the program launching, and the user moving the mouse.  This helps decide what code to put where.  Then, we think about what variables we need access to in both methods - in this case, we need the GRect that is moving away from the mouse to be accessible everywhere, so we make it an instance variable.
</p>

<h3>Solution</h3>
<pre id="editor" style="height:800px">public class CatchMeIfYouCan extends GraphicsProgram {

    private static final double HIDDEN_SIZE = 60;
    private static final double DISTRACTOR_SIZE = 50;
    private static final double NUM_DISTRACTORS = 20;
    
    private GRect sneaky = null;
    private RandomGenerator rgen = RandomGenerator.getInstance();
    
    public void run() {
        createHiddenSquare();
        createDistractors();
        addMouseListeners();
    }

    public void mouseMoved(MouseEvent e) {
        GObject hitObject = getElementAt(e.getX(), e.getY());
        if (hitObject == sneaky) {
            double x = rgen.nextDouble(0, getWidth() - HIDDEN_SIZE);
            double y = rgen.nextDouble(0, getHeight() - HIDDEN_SIZE);
            sneaky.setLocation(x, y);
        }
    }
    
    private void createHiddenSquare() {
        sneaky = new GRect(HIDDEN_SIZE, HIDDEN_SIZE);
        sneaky.setFilled(true);
        sneaky.setColor(Color.BLUE);
        add(sneaky);
    }
    
    /* Creates debris and strews it randomly on the canvas. */
    private void createDistractors() {
        for (int i = 0; i < NUM_DISTRACTORS; i++) {
            createSingleDistractor();
        }
    }

    private void createSingleDistractor() {
        double x = rgen.nextDouble(0, getWidth() - DISTRACTOR_SIZE);
        double y = rgen.nextDouble(0, getHeight() - DISTRACTOR_SIZE);
        
        /* Add a square of that size and position to the screen. */
        GRect rect = new GRect(x, y, DISTRACTOR_SIZE, DISTRACTOR_SIZE);
        rect.setFilled(true);
        rect.setColor(Color.BLACK);
        add(rect);
    }
}</pre>
    
<script src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
   editor.setTheme('ace/theme/eclipse');
   editor.getSession().setMode("ace/mode/java");
   editor.setReadOnly(true);
   editor.renderer.setShowGutter(false); 
    /*editor.setTheme("ace/theme/eclipse");
    editor.getSession().setMode("ace/mode/java");*/
</script>