% rebase('templates/tas/soln/template.ptl', problemTitle="Build Charles Bridge")

<p>
    The problem below is the section problem for the day.  Here is information about the goals for the problem and what you should focus on during section:
    <br />
    <b>Learning Goal</b>: for loops and decomposition
    <br />
    <b>Milestone</b>: build a single column
    <br />
    <br />
    Write code on the board. Start with pseudocode, turn to real code.  Encourage students to work in pairs to program out the milestones.  The hardest part is the fence-post bug when building a col, and when putting beepers in a column.
    </ol>
</p>

<h3>Solution</h3>
<pre id="editor" style="height:1200px">public class BuildCharlesBridge extends SuperKarel {

    public void run() {
        for (int i = 0; i < 3; i++) {
            buildColumn();
            moveToNextColumn();
        }
        // need to build the last column without moving further east
        buildColumn();
    }

    /* Method: buildColumn
     * -------------------
     * Fills a column (of height 5) with beepers.
     * Precondition: Karel is facing east at the bottom of an empty column.
     * Postcondition: Karel is facing east at the bottom of the column, which
     * is now filled with beepers. 
     */
    private void buildColumn() {
        turnLeft();
        placeBeepersUp();
        comeBackDown();
        turnLeft();
    }

    /* Method: placeBeepersUp
     * ----------------------
     * Puts 5 beepers vertically in a column (of height 5).
     * Precondition: Karel is facing north at the bottom of the column.
     * Postcondition: Karel is facing north at the top of the column, which
     * is now filled with beepers.
     */
    private void placeBeepersUp() {
        for (int i = 0; i < 4; i++) {
            putBeeper();
            move();
        }
        // need to put the last beeper without moving further north
        putBeeper();
    }

    /* Method: comeBackDown
     * --------------------
     * Returns Karel to the bottom of a column of height 5.
     * Precondition: Karel is facing north at the top of the column.
     * Postcondition: Karel is facing south at the bottom of the column.
     */
    private void comeBackDown() {
        turnLeft();
        turnLeft();
        for (int i = 0; i < 4; i++) {
            move();
        }
    }

    /* Method: moveToNextColumn
     * ------------------------
     * Moves Karel from the bottom of one column to the bottom of the next one,
     * which is 4 spaces to the east.
     * Precondition: Karel is facing east at the bottom of one column.
     * Postcondition: Karel is facing east at the bottom of the next column.
     */
    private void moveToNextColumn() {
        for (int i = 0; i < 4; i++) {
            move();
        }
    }

}</pre>
    
<script src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
   editor.setTheme('ace/theme/eclipse');
   editor.getSession().setMode("ace/mode/java");
   editor.setReadOnly(true);
   editor.renderer.setShowGutter(false); 
    /*editor.setTheme("ace/theme/eclipse");
    editor.getSession().setMode("ace/mode/java");*/
</script>