% rebase('templates/tas/soln/template.ptl', problemTitle="Mad Methods")

<p>
  This is the first set of lab problems for the day.  It gives students practice writing methods with parameters and return values.
</p>

<h3>Max Solution</h3>
<p>This program is a short method that takes in two parameters and returns a value.  You can emphasize that even though this is a short method, it is helpful because from now on we can calculate the max of two numbers with just one method call instead of copy/pasting the code everywhere.</p>
<pre id="editor1" style="height:150px">private int max(int i, int j) {
    if (i > j) {
        return i;
    }
    
    return j;
}</pre>

<h3>Draw Trees</h3>
<p>This program gives students practice with methods in graphics programs.  It does not return any value, but has to perform drawing based on the parameter values.</p>
<pre id="editor2" style="height:300px"> private void drawTree(int x, int y) {
    // Draw the trunk with the bottom-center of its base at (x, y)
    int trunkX = x - TRUNK_WIDTH / 2;
    int trunkY = y - TRUNK_HEIGHT;
    GRect trunk = new GRect(trunkX, trunkY, TRUNK_WIDTH, TRUNK_HEIGHT);
    trunk.setFilled(true);
    trunk.setColor(Color.ORANGE);
    add(trunk);
    
    // Draw the leaves with the center at the top-center of the trunk
    GOval leaves = new GOval(trunkX + TRUNK_WIDTH / 2 - LEAVES_RADIUS, trunkY - LEAVES_RADIUS, 
                             2 * LEAVES_RADIUS, 2 * LEAVES_RADIUS);
    leaves.setFilled(true);
    leaves.setColor(Color.GREEN);
    add(leaves);
}</pre>

    
<script src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    for (var i = 1; i <= 2; i++) {
        var editor = ace.edit("editor" + i);
        editor.setTheme('ace/theme/eclipse');
        editor.getSession().setMode("ace/mode/java");
        editor.setReadOnly(true);
        editor.renderer.setShowGutter(false); 
        /*editor.setTheme("ace/theme/eclipse");
        editor.getSession().setMode("ace/mode/java");*/
    }
</script>