% rebase('templates/tas/soln/template.ptl', problemTitle="Random Painter")

<p>
  This is the second (optional) lab problem for the afternoon.  It's ok if students do not get to this problem.  It is another problem giving practice with control flow and writing generalized programs in a variety of worlds.  Encourage them to decompose as well.  The hardest part is figuring out how to loop through all the rows in the world.  Students may attempt a variety of solutions, such as zig-zagging, coloring and returning to the start before going up, etc.
  <br />
  <br />

  <b>Milestone:</b> randomly color a single row
  <br />
  <br />
  One key insight is that, painting multiple rows is a fencepost problem, because you are painting N rows and moving to the next row N-1 times.  This should hint to students that they should use a loop with an extra command outside it to account for this.  Additionally, it is easiest to always advance to the next row the same way, rather than zig-zagging back and forth across rows.  For this reason, students will find it easiest to color a row, return to its start, and then advance to the next row.
</p>

<h3>Solution</h3>
<pre id="editor1" style="height:1150px">public class RandomPainter extends SuperKarel {

    public void run() {
        /* Every world has at least 1 row.  Paint this,
         * then paint any additional rows.
         */
        paintRow();
        while (frontIsClear()) {
            moveToNextRow();
            paintRow();
        }
    }

    /* Karel paints a single row in the world, with each
     * square being painted randomly blue or green.
     * At the start of the method, Karel is assumed to be
     * at the leftmost corner of the row facing East.
     * After the method finishes, Karel will be at the
     * leftmost corner of the row facing North, and the
     * row will be randomly colored.
     */
    private void paintRow() {
        paintCornerRandomly();
        while (frontIsClear()) {
            move();
            paintCornerRandomly();
        }

        goBackToStart();
        turnRight();
    }

    /* Karel randomly paints the corner she is on to be
     * either green or blue.
     */
    private void paintCornerRandomly() {
        if (random()) {
            paintCorner(BLUE);
        } else {
            paintCorner(GREEN);
        }
    }

    /* Karel returns to the leftmost corner of the
     * current row.  Before the method starts, Karel
     * is assumed to be at the rightmost corner of a row
     * facing East.  After the method finishes, Karel
     * will be at the leftmost corner of the same row 
     * facing West.
     */
    private void goBackToStart() {
        turnLeft();
        turnLeft();
        while (frontIsClear()) {
            move();
        }
    }

    /* Karel moves up one row in the world.  Before the
     * method starts, Karel is assumed to be at the leftmost
     * corner of a row facing North.  After the method finishes,
     * Karel will be in the square above the starting corner,
     * facing East.
     */
    private void moveToNextRow() {
        move();
        turnRight();
    }
}
</pre>

    
<script src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    for (var i = 1; i <= 1; i++) {
        var editor = ace.edit("editor" + i);
        editor.setTheme('ace/theme/eclipse');
        editor.getSession().setMode("ace/mode/java");
        editor.setReadOnly(true);
        editor.renderer.setShowGutter(false); 
        /*editor.setTheme("ace/theme/eclipse");
        editor.getSession().setMode("ace/mode/java");*/
    }
</script>