% rebase('templates/tas/soln/template.ptl', problemTitle="Random Circles")

<p>
	This is the first lab problem in the afternoon.  Students write a program that draws 10 circles randomly, all fully onscreen.  A step-by-step way to approach this is to draw 1 circle with increasingly random properties.  For instance, first just randomize the color, then the radius, then the location.  Then, once all the required properties are randomized, add a loop to draw multiple circles.
    <br />
    <br />
    <strong>Note:</strong> make sure students are supplying <code>2 * radius</code> for the dimensions of the circle, and not just <code>radius</code>, since the size parameters are the <i>width and height</i> of the bounding box of the circle.  Students may not notice if they do this incorrectly, but their circles will be too small.
</p>

<h3>Solution</h3>
<pre id="editor1" style="height:350px">public class RandomCircles extends GraphicsProgram {
    
    private static final int NUM_CIRCLES = 10;
    private RandomGenerator rgen = new RandomGenerator();
    
    public void run() {
        for (int i = 0; i < NUM_CIRCLES; i++) {
            int radius = rgen.nextInt(70, 200);
            int x = rgen.nextInt(0, getWidth() - 2 * radius);
            int y = rgen.nextInt(0, getHeight() - 2 * radius);
            
            GOval circle = new GOval(x, y, 2 * radius, 2 * radius);
            circle.setFilled(true);
            circle.setColor(rgen.nextColor());
            add(circle);
        }
    }
    
}</pre>

    
<script src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    for (var i = 1; i <= 1; i++) {
        var editor = ace.edit("editor" + i);
        editor.setTheme('ace/theme/eclipse');
        editor.getSession().setMode("ace/mode/java");
        editor.setReadOnly(true);
        editor.renderer.setShowGutter(false); 
        /*editor.setTheme("ace/theme/eclipse");
        editor.getSession().setMode("ace/mode/java");*/
    }
</script>