% rebase('templates/tas/soln/template.ptl', problemTitle="Sandcastles")

<p>
	This is the first set of lab problems for the day.  It gives students practice writing their first short console programs, using variables, and printing out to the screen.
</p>

<h3>Hello World Solution</h3>
<p>This program is a warmup to get students going with console programs.</p>
<pre id="editor1" style="height:150px">public class HelloWorld extends ConsoleProgram {
	
	public void run() {
	    println("Ahoj svět");
	}

}</pre>

<h3>Moon Weight Solution</h3>
<p>This program gives students practice with variables, user input and printing out to the screen.</p>
<pre id="editor2" style="height:200px">public class Moon extends ConsoleProgram {
    
    public void run() {
        double earthWeight = readDouble("Enter a weight on earth: ");
        double moonWeight = earthWeight * 0.165;
        println("Your weight on the moon is " + moonWeight);
    }

}</pre>

<h3>Random Numbers Solution</h3>
<p>This program gives students practice with using control flow in Java, as well as generating random numbers.</p>
<pre id="editor3" style="height:250px">public class RandomNumbers extends ConsoleProgram {
    
    // A random number generator
    private RandomGenerator rgen = new RandomGenerator();

    public void run() {
        for (int i = 0; i < 1000; i++) {   
            int randomNumber = rgen.nextInt(0, 100);
            println(randomNumber);   
        }

    }
}</pre>

    
<script src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    for (var i = 1; i <= 3; i++) {
        var editor = ace.edit("editor" + i);
        editor.setTheme('ace/theme/eclipse');
        editor.getSession().setMode("ace/mode/java");
        editor.setReadOnly(true);
        editor.renderer.setShowGutter(false); 
        /*editor.setTheme("ace/theme/eclipse");
        editor.getSession().setMode("ace/mode/java");*/
    }
</script>