% rebase('templates/tas/soln/template.ptl', problemTitle="That's Some Sum!")

<p>
	This is the first afternoon lab problem.  This problem combines control flow and variables in different scopes with user input and output.  The key idea is that there must be one sum that lives for all iterations of the loop that continually asks the user for a number.
</p>

<h3>Solution</h3>
<pre id="editor" style="height:250px">public class SomeSum extends ConsoleProgram {

    public void run() {
        println("Enter 10 nums. I will show you the sum!");
        int sum = 0;
        for (int i = 0; i < 10; i++) {
            int number = readInt("Please enter an integer: ");
            sum += number;
        }
        
        println("The sum is: " + sum);
    }

}</pre>
    
<script src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
   editor.setTheme('ace/theme/eclipse');
   editor.getSession().setMode("ace/mode/java");
   editor.setReadOnly(true);
   editor.renderer.setShowGutter(false); 
    /*editor.setTheme("ace/theme/eclipse");
    editor.getSession().setMode("ace/mode/java");*/
</script>