% rebase('templates/tas/soln/template.ptl', problemTitle="Sorted Numbers")

<p>
  This is the first lab problem for the morning.  It gives students practice writing their first programs with ArrayLists.  They need to combine arraylists with user input and printing to print out the numbers the user enters in sorted order.
</p>

<h3>Solution</h3>
<pre id="editor" style="height:400px">public class SortedNumbers extends ConsoleProgram {
    
    private static final int NUMBERS_TO_READ = 10;
  
    public void run() {
        ArrayList&lt;Integer&gt; numbers = new ArrayList&lt;Integer&gt;();
    
        // Read 10 numbers from the user
        for (int i = 0; i < NUMBERS_TO_READ; i++) {
            int number = readInt("> ");
            numbers.add(number);
        }
    
        Collections.sort(numbers);
    
        // Print out the sorted numbers
        for (int i = 0; i < numbers.size(); i++) {
            println(numbers.get(i));
        }
    }
    
}</pre>
    
<script src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
   editor.setTheme('ace/theme/eclipse');
   editor.getSession().setMode("ace/mode/java");
   editor.setReadOnly(true);
   editor.renderer.setShowGutter(false); 
    /*editor.setTheme("ace/theme/eclipse");
    editor.getSession().setMode("ace/mode/java");*/
</script>