% rebase('templates/tas/soln/template.ptl', problemTitle="Target")

<p>
  Before starting this section problem, try approaching the following problem: write a method <code>isSquare</code> that takes in a <code>GRect</code> as a parameter and returns whether or not it is a square.  This is an example with 1 parameter and 1 return value.  It may help to trace through some example calls to the method to show what values the parameter takes on.  Here is the solution to this warmup:
</p>

<code><pre>private boolean isSquare(GRect rect) {
    if (rect.getWidth() == rect.getHeight()) {
        return true;
    }

    return false;
}</code></pre>

<p>You can also take this opportunity to emphasize how, because of the behavior of <code>return</code>, we do not need an <code>else</code>.</p>

<hr />

<p>
  Next, you can turn to the full section problem for this morning.  It gives students practice writing a program with methods and parameters.  You should emphasize making methods to reuse code and design "top-down", meaning you design your program by breaking it into smaller pieces until you can implement each piece with a little code.
</p>

<p>Teaching tips:
  <ol>
    <li>Learning goal: methods, parameters and decomposition
    <li>Milestone: draw one of the pieces - a single centered circle
    <li>The key idea of this solution is making one method that can draw a circle, and then reusing this method.  Encourage students to consider what is in common and different across all operations in this problem - we are drawing three circles with the same center point and fill (true), but with different radii and colors.  Therefore, the things that differ each time should be the parameters.</li>
  </ol>
</p>

<h3>Solution</h3>
<pre id="editor" style="height:400px">public class Target extends GraphicsProgram {

    private static final int BIG_CIRCLE_RADIUS = 150;
    private static final int MEDIUM_CIRCLE_RADIUS = 100;
    private static final int SMALL_CIRCLE_RADIUS = 50;

    public void run() {
        drawCenteredCircle(BIG_CIRCLE_RADIUS, Color.RED);
        drawCenteredCircle(MEDIUM_CIRCLE_RADIUS, Color.WHITE);
        drawCenteredCircle(SMALL_CIRCLE_RADIUS, Color.RED);
    }

    private void drawCenteredCircle(int radius, Color color) {
        GOval oval = new GOval(radius * 2, radius * 2);
        double x = (getWidth() - oval.getWidth()) / 2;
        double y = (getHeight() - oval.getHeight()) / 2;
        oval.setFilled(true);
        oval.setColor(color);
        add(oval, x, y);
    }

}</pre>
    
<script src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
   editor.setTheme('ace/theme/eclipse');
   editor.getSession().setMode("ace/mode/java");
   editor.setReadOnly(true);
   editor.renderer.setShowGutter(false); 
    /*editor.setTheme("ace/theme/eclipse");
    editor.getSession().setMode("ace/mode/java");*/
</script>