<!-- Translated -->
<head>

	%include templates/parts/header.ptl


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/tr/navBar.ptl

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Dizi Listeleri (ArrayList) Referansı
			</h1>
			<p>
				Yazan Eric Roberts
			</p>

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				<center><img style="width:700px;" src="{{pathToRoot}}img/handouts/arrayLists/arrayLists.png"></img></center>
			</div>
		</div>

		
		
		%include templates/tr/footer.ptl

	</div>
</body>
