<head>

	%include templates/parts/headTr.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBarTr.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Submitting Assignments
			</h1>

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
        At the end of <b>every</b> day before you go home, submit your work!
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<h2>How to Submit</h2>
				<p>To submit follow these two steps:</p>
				<ol>
          <li>To zip the folder containing your project, double-click and run <b>zipper.jar</b> from your project folder.
            <ol>
              <li>Find the folder with your project in it <b>outside of Eclipse</b>. If you don't know where your project is located in your computer, start from Eclipse and right-click on your project name (the blue folder in the left sidebar). Then click on 'Properties', and navigate to/click on the 'Location' path to your project.</li>
              <li>In the 'CS Bridge Assignment Submission' window that pops up, fill in your information: your <b>full name</b> and your <b>Student ID</b>. Your Student ID should be a letter followed by 4 numbers (e.g., K0012) and can be found on your student nametag.</li>
              <li>If you do not remember your Student ID and have lost your nametag, contact your Section Leader.</li>
              <li>Press 'Submit'. The zipped folder will be located at the location you specified.</li>
              <li>Close the 'CS Bridge Assignment Submission' window.
        </ol>
					<li>Upload the zip file using the link provided by your section leaders in lab.</li>
				</ol>
			</div>
		</div>
		
		
		%include templates/parts/footerTr.html

	</div>
</body>
