    <!-- Bonus Program Table-->
<table class="table table-hover">
				<thead>
					<tr>
						<!--<th style="width: 80px;">Date</th>-->
						<th></th>
						<!--<th>Reading</th>-->
						<th>İsim</th>
						<th>Zorluk</th>
						<th>Başlangıç Kodu</th>
					</tr>
				</thead>
				<tbody>
					
					<tr>
						<th colspan = "6"><b>
						<br/>
						[Karel]</b></th>
					</tr>


					<tr class="table-bordered table-striped">
						<td><img style="width:auto;max-height:100px;max-width:150px" class="projectImg" src="{{pathToRoot}}img/icons/checkerboard.png"></img></td>
						<td><a href="{{pathToRoot}}tk/projects/checkerBoard.html">Dama Tahtası</a></td>
						<td>&#9733;&#9733;&#9734;</td>
						<td><a href="{{pathToRoot}}starter/BonusKarel.zip">BonusKarel.zip</a> </td>
					</tr>

					<tr class="table-bordered table-striped">
                        <td><img style="width:auto;max-height:100px" class="projectImg" src="{{pathToRoot}}img/icons/squarePainter.png"></img></a></td>
						<td><a href="{{pathToRoot}}tk/projects/squarePainter.html">Kare Boyama</a></td>
						<td>&#9733;&#9733;&#9734;</td>
						<td><a href="{{pathToRoot}}starter/BonusKarel.zip">BonusKarel.zip</a> </td>
					</tr>

					<tr class="table-bordered table-striped">
                        <td><img style="height:auto;maxwidth:150px" class="projectImg" src="{{pathToRoot}}img/icons/midpoint.png"></img></a></td>
						<td><a href="{{pathToRoot}}tk/projects/midpointKarel.html">Orta Nokta</a></td>
						<td>&#9733;&#9733;&#9733;</td>
						<td><a href="{{pathToRoot}}starter/BonusKarel.zip">BonusKarel.zip</a> </td>
					</tr>





					<tr>
						<th colspan = "6"><b>
						<br>
						[Variables]</b></th>
					</tr>
					<tr class="table-bordered table-striped">
						<td ><img style="width:auto;max-height:100px" class="projectImg" src="{{pathToRoot}}img/icons/console.jpg"></img></td>
						<td><a href="{{pathToRoot}}tk/projects/consoleBonus.html">Bonus Konsol</a></td>
						<td>&#9733;&#9734;&#9734;</td>
						<td><a href="{{pathToRoot}}starter/BonusConsole.zip">BonusConsole.zip</a></td>
					</tr>
					<tr class="table-bordered table-striped">
						<td ><img style="height:auto;max-height:100px;max-width:150px" class="projectImg" src="{{pathToRoot}}img/icons/loopingfun.png"></img></td>
						<td><a href="{{pathToRoot}}tk/projects/loopingFun.html">Eğlenceli Döngüler</a></td>
						<td>&#9733;&#9734;&#9734;</td>
						<td><a href="{{pathToRoot}}starter/BonusConsole.zip">BonusConsole.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img style="width:auto;max-height:100px;max-width:150px" class="projectImg" src="{{pathToRoot}}img/icons/hailstone.png"></img></td>
						<td><a href="{{pathToRoot}}tk/projects/hailstone.html">Dolu Tanesi</a></td>
						<td>&#9733;&#9733;&#9734;</td>
						<td><a href="{{pathToRoot}}starter/BonusConsole.zip">BonusConsole.zip</a></td>
					</tr>
					<tr class="table-bordered table-striped">
						<td><img style="width:auto;max-height:100px;max-width:150px" class="projectImg" src="{{pathToRoot}}img/icons/carbonDating.jpg"></img></td>
						<td><a href="{{pathToRoot}}tk/projects/carbonDating.html">Karbon Tarihi Saptama</a></td>
						<td>&#9733;&#9733;&#9734;</td>
						<td><a href="{{pathToRoot}}starter/BonusConsole.zip">BonusConsole.zip</a></td>





					<tr>
						<th colspan = "6"><b>
						<br>
						[Graphics]</b></th>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img style="width:auto;max-height:100px;max-width:150px;border:1px solid grey" class="projectImg" src="{{pathToRoot}}img/icons/bouncingMultiple.png"></img></td>
						<td><a href="{{pathToRoot}}tk/projects/multipleBalls.html">Birkaç Top</a></td>
						<td>&#9733;&#9734;&#9734;</td>
						<td><a href="{{pathToRoot}}starter/BonusGraphics.zip">BonusGraphics.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img style="width:auto;max-height:100px;max-width:150px;border:1px solid grey" class="projectImg" src="{{pathToRoot}}img/icons/creativeGraphics.jpg"></img></td>
						<td><a href="{{pathToRoot}}tk/projects/creativeGraphics.html">Yaratıcı Grafik</a></td>
						<td>&#9733;&#9734;&#9734;</td>
						<td><a href="{{pathToRoot}}starter/BonusGraphics.zip">BonusGraphics.zip</a></td>
					</tr>
					<tr class="table-bordered table-striped">
						<td ><img style="width:auto;max-height:100px" class="projectImg" src="{{pathToRoot}}img/icons/creativeStringArt.png"></img></td>
						<td><a href="{{pathToRoot}}tk/projects/creativeStringArt.html">Yaratıcı String Sanatı</a></td>
						<td>&#9733;&#9734;&#9734;</td>
						<td><a href="{{pathToRoot}}starter/BonusGraphics.zip">BonusGraphics.zip</a></td>
					</tr>




					

					<tr>
						<th colspan = "6"><b>
						<br>
						[Advanced Java]</b></th>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img style="width:auto;max-height:100px;max-width:150px" class="projectImg" src="{{pathToRoot}}img/icons/moreMethods.png"></img></td>
						<td><a href="{{pathToRoot}}tk/projects/moreMethods.html">Daha Fazla Metotlar</a></td>
						<td>&#9733;&#9734;&#9734;</td>
						<td><a href="{{pathToRoot}}starter/BonusMethods.zip">BonusMethods.zip</a></td>
					</tr>
					<tr class="table-bordered table-striped">
						<td><img style="width:auto;max-height:100px;max-width:150px" class="projectImg" src="{{pathToRoot}}img/icons/countdown.png"></img></td>
						<td><a href="{{pathToRoot}}tk/projects/countdown.html">Geri Sayım</a></td>
						<td>&#9733;&#9733;&#9734;</td>
						<td><a href="{{pathToRoot}}starter/BonusMethods.zip">BonusMethods.zip</a></td>
					</tr>
					<tr class="table-bordered table-striped">
						<td><img style="width:auto;max-height:100px;max-width:150px" class="projectImg" src="{{pathToRoot}}img/icons/numberGrid.jpg"></img></td>
						<td><a href="{{pathToRoot}}tk/projects/numberGrid.html">Sayı Şebekesi</a></td>
						<td>&#9733;&#9733;&#9733;</td>
						<td><a href="{{pathToRoot}}starter/MoreMethods.zip">BonusMethods.zip</a></td>
					</tr>
					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/borderBox.png"></img></td>
						<td><a href="{{pathToRoot}}tk/projects/borderBox.html">Sınırdaki Kutu</a></td>
						<td>&#9733;&#9733;&#9734;</td>
						<td><a href="{{pathToRoot}}starter/BonusMethods.zip">BonusMethods.zip</a></td>
					</tr>






					<tr>
						<th colspan = "6"><b>
						<br>
						[Events]</b></th>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img style="width:auto;max-height:100px;max-width:150px" class="projectImg" src="{{pathToRoot}}img/icons/duplicateShape.jpg"></img></td>
						<td><a href="{{pathToRoot}}tk/projects/duplicatingShapes.html">Şekilleri Çoklama</a></td>
						<td>&#9733;&#9734;&#9734;</td>
						<td><a href="{{pathToRoot}}starter/BonusEvents.zip">BonusEvents.zip</a></td>
					</tr>
					<tr class="table-bordered table-striped">
						<td><img style="width:auto;max-height:100px;max-width:150px;border:1px solid grey" class="projectImg" src="{{pathToRoot}}img/icons/clickNStuff.png"></img></td>
						<td><a href="{{pathToRoot}}tk/projects/clickNStuff.html">Tıklama Falan</a></td>
						<td>&#9733;&#9733;&#9733;</td>
						<td><a href="{{pathToRoot}}starter/BonusEvents.zip">BonusEvents.zip</a></td>
					</tr>

					




					<tr>
						<th colspan = "6"><b>
						<br>
						[ArrayLists]</b></th>
					</tr>
					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/borderSnake.png"></img></td>
						<td><a href="{{pathToRoot}}tk/projects/borderSnake.html">Sınırdaki yılan</a></td>
						<td>&#9733;&#9733;&#9733;</td>
						<td><a href="{{pathToRoot}}starter/BonusArrays.zip">BonusArrays.zip</a></td>
					</tr>


				</tbody>
			</table>
			<hr/>
        <!-- End bonus program table-->
