<hr>

<div class="footer">
	<p class="pull-left">
		&#169; Stanford 2019 &#124; Created by 
		<a href="http://stanford.edu/~cpiech">Chris</a> with help from the entire team.
		Based on the wonderful CS106A class which was developed by many talented teachers. Special thanks to <a href="http://cs.stanford.edu/people/eroberts/">Eric Roberts</a> and <a href="http://robotics.stanford.edu/~sahami/bio.html">Mehran Sahami</a>.
	</p>
	<!--<p class="pull-right">
		<a href="{{pathToRoot}}fall12">Fall 2012</a>
	</p>-->
</div>
<!--<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-35433298-1']);
	_gaq.push(['_trackPageview']);
	(function() {
		var ga = document.createElement('script');
		ga.type = 'text/javascript';
		ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(ga, s);
	})();
</script>-->
