<title>Bilgisayar Bilimine Giriş</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta http-equiv="content-type" content="text/html; charset=UTF8">

<!-- Fonts -->
<!--<link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,600,700,900,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900,600italic,700italic,900italic' rel='stylesheet' type='text/css'>-->

<!-- Styles -->

<link href="{{pathToRoot}}plugins/bootstrap-3.1/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{pathToRoot}}style.css">

<!-- Java Script -->
<script src="{{pathToRoot}}plugins/jquery.min.js"></script>
<script src="{{pathToRoot}}plugins/bootstrap-3.1/js/bootstrap.min.js"></script>

<script src="{{pathToRoot}}karel/ace/ace.js" type="text/javascript"></script>
<!--<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$']]}});
  </script>-->
