<nav class="navbar-inverse navbar-default" role="navigation">
  <div class="container-fluid">
  	<div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/">CS Bridge</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <!--<li ><a href="#">Link</a></li>-->
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Handouts <b class="caret"></b></a>
	          <ul class="dropdown-menu">
	          	<!--<li><a href="{{pathToRoot}}en/handouts/sections.html">Sections</a></li>-->
	          	<li><a href="http://karel.csbridge.org/en/intro.html">Karel Reader</a></li>
	          	<li><a href="{{pathToRoot}}en/handouts/karel.html">Karel Reference</a></li>	          	
	          	<li><a href="{{pathToRoot}}en/handouts/console.html">Console Reference</a></li>
	          	<li><a href="{{pathToRoot}}en/handouts/random.html">Random Generator Reference</a></li>
	          	<!--<li><a href="{{pathToRoot}}en/handouts/graphics.html">Graphics Reference</a></li>
	          	<li><a href="{{pathToRoot}}en/handouts/events.html">Events Reference</a></li>

	          	
	            <li><a href="{{pathToRoot}}en/handouts/arrayLists.html">Array Lists</a></li>-->
	            
	          </ul>
	        </li>


	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects <b class="caret"></b></a>
	          <ul class="dropdown-menu">
	            <li><a href="{{pathToRoot}}en/projects/collectNewspaper.html">Collect Newspaper</a></li>
	          	<li><a href="{{pathToRoot}}en/projects/efes.html">Charles Bridge</a></li>
	          	<li><a href="{{pathToRoot}}en/projects/mountain.html">Mountain Karel</a></li>
	          	<li><a href="{{pathToRoot}}en/projects/randomPainter.html">Random Painter</a></li>
	          	
	          	<li class="divider"></li>
	          	<li><a href="{{pathToRoot}}en/projects/sandcastles.html">Sandcastles</a></li>
	          	<li><a href="{{pathToRoot}}en/projects/favoriteNumber.html">Favorite Number</a></li>
	          	<li><a href="{{pathToRoot}}en/projects/medicine.html">Medicine</a></li>
	          	<li><a href="{{pathToRoot}}en/projects/someSum.html">Some Sum</a></li>
	          	<li><a href="{{pathToRoot}}en/projects/gameOfStones.html">Nimm</a></li>
	          	
	          	<!--
	          	<li class="divider"></li>
	          	<li><a href="{{pathToRoot}}en/projects/awesome.html">Programming is Awesome</a></li>
	          	<li><a href="{{pathToRoot}}en/projects/randomCircles.html">Random Circles</a></li>
	          	<li><a href="{{pathToRoot}}en/projects/stringArt.html">String Art</a></li>
              <li><a href="{{pathToRoot}}tr/projects/mysterySquare.html">Mystery Square</a></li>
	            <li><a href="{{pathToRoot}}en/projects/bouncingBall.html">Bouncing Ball</a></li>

	            <li class="divider"></li>
	          	<li><a href="{{pathToRoot}}en/projects/madMethods.html">Mad Methods</a></li>
	          	<li><a href="{{pathToRoot}}en/projects/target.html">Target</a></li>
	          	<li><a href="{{pathToRoot}}en/projects/illusion.html">Optical Illusion</a></li>
	          	<li><a href="{{pathToRoot}}en/projects/sunset.html">Short Film</a></li>

	          	<li class="divider"></li>
	          	<li><a href="{{pathToRoot}}en/projects/makingTracks.html">Making Tracks</a></li>
	          	<li><a href="{{pathToRoot}}en/projects/catchMeIfYouCan.html">Catch Me If You Can</a></li>
	          	<li class="divider"></li>
	          	<li><a href="{{pathToRoot}}en/projects/breakout.html">Breakout</a></li>
        -->
	            
              
	            
	          </ul>
	        </li>

	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Examples <b class="caret"></b></a>
	          <ul class="dropdown-menu">
	          	<li><a href="{{pathToRoot}}en/projects/stepUp.html">Step Up</a></li>
	          	<li><a href="{{pathToRoot}}en/projects/place100.html">Place 100</a></li>
	          	<li><a href="{{pathToRoot}}en/projects/beeperLine.html">Beeper Line</a></li>
	          	<li><a href="{{pathToRoot}}en/projects/invert.html">Invert</a></li>
	          	<li><a href="{{pathToRoot}}en/projects/unKarel.html">UN Karel</a></li>
	          	<li><a href="{{pathToRoot}}en/projects/banishWinter.html">Banish Winter</a></li>


	          <li class="divider"></li>
	            <li><a href="{{pathToRoot}}en/projects/emc2.html">E=MC2</a></li>
	            <li><a href="{{pathToRoot}}en/projects/fibb.html">Fibonacci</a></li>
	            <li><a href="{{pathToRoot}}en/projects/findPi.html">Find Pi</a></li>
	            <li><a href="{{pathToRoot}}en/projects/8Ball.html">8-Ball</a></li>
	          	<li><a href="{{pathToRoot}}en/projects/averageMethod.html">Average Method</a></li>	
	        <!--
            <li class="divider"></li>
	            <li><a href="{{pathToRoot}}en/projects/robotFace.html">Robot Face</a></li>
	          	<li><a href="{{pathToRoot}}en/projects/drawPeople.html">Draw People</a></li>	
	          	<li><a href="{{pathToRoot}}en/projects/halfGreen.html">Half Green</a></li>
	            
	            <li><a href="{{pathToRoot}}en/projects/goCenter.html">Go To Center</a></li>
	            <li><a href="{{pathToRoot}}en/projects/gravityBall.html">Gravity Ball</a></li>

	          <li class="divider"></li>
	             <li><a href="{{pathToRoot}}en/projects/stampTool.html">Stamp Tool</a></li>
           
	          	<li><a href="{{pathToRoot}}en/projects/holePuncher.html">Hole Puncher</a></li>	
	          	<li><a href="{{pathToRoot}}en/projects/debrisSweeper.html">Debris Sweeper</a></li>	
	          	<li><a href="{{pathToRoot}}en/projects/suchADrag.html">Such a Drag</a></li>
	          	<li><a href="{{pathToRoot}}en/projects/keyboardKarel.html">Keyboard Karel</a></li>
            -->
	          </ul>
	        </li>

	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Slides <b class="caret"></b></a>
	          <ul class="dropdown-menu">
	          	<li><a href="{{pathToRoot}}slides/Welcome.pdf">Karel</a></li>
	          	<li><a href="{{pathToRoot}}slides/ControlFlow.pdf">Control Flow</a></li>
	          	<li><a href="{{pathToRoot}}slides/Variables.pdf">Variables</a></li>
			<li><a href="{{pathToRoot}}slides/Variables2.pdf">Variables 2</a></li>
	          	<!--
	          	<li><a href="{{pathToRoot}}slides/Graphics.pdf">Graphics</a></li>
	          	<li><a href="{{pathToRoot}}slides/Animation.pdf">Animation</a></li>
	          	<li><a href="{{pathToRoot}}slides/Methods.pdf">Methods</a></li>
	          	<li><a href="{{pathToRoot}}slides/Events.pdf">Events</a></li>
							-->
	          </ul>
	        </li>

	        <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bonus <b class="caret"></b></a>
	          <ul class="dropdown-menu">
                <li><a href="{{pathToRoot}}en/bonus-index.html">Bonus projects</a></li>
	          </ul>
	        </li>

	        <li class="dropdown">

                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Forms <b class="caret"></b></a>
	          <ul class="dropdown-menu">
	          	<li><a href="https://stanforduniversity.qualtrics.com/jfe/form/SV_1BKsIM6dKTTW0JL">Survey</a></li>
                <li><a href="https://forms.gle/eVsMyZb8HCSUETeV6">Sign in To Lab</a></li>
	          </ul>
	        </li>



	      </ul>

	      
	      <!--<ul class="nav navbar-nav navbar-right">
	      	<li><a onclick="changeToEnglish()" style="cursor: pointer;"><img class="languageIcon" src="{{pathToRoot}}img/english_flag.png"></img></a></li>
	      	<li><a onclick="changeToTurkish()" style="cursor: pointer;"><img class="languageIcon" src="{{pathToRoot}}img/turkish_flag.png"></img></a></li>
	        
	      </ul>-->
	    </div><!-- /.navbar-collapse -->
	</div>
  </div><!-- /.container-fluid -->
</nav>

<script>

	function changeToTurkish() {
		var url = window.location.href;
		url = url.replace("/en/", "/tr/");
		window.location.href = url;
	}

	function changeToEnglish() {
		var url = window.location.href;
		url = url.replace("/tr/", "/en/");
		window.location.href = url;
	}

</script>


