<nav class="navbar-inverse navbar-default" role="navigation">
  <div class="container-fluid">
  	<div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Navigasyonu aç/kapa</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/tr">CS Bridge</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <!--<li ><a href="#">Link</a></li>-->
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ders Notları <b class="caret"></b></a>
	          <ul class="dropdown-menu">
	          	<!--<li><a href="{{pathToRoot}}tr/handouts/sections.html">Section'lar</a></li>-->
	          	<li><a href="{{pathToRoot}}tr/handouts/karel.html">Karel Referansı</a></li>
	          	
	          	<li><a href="{{pathToRoot}}tr/handouts/console.html">Konsol Referansı</a></li>
	          	<li><a href="{{pathToRoot}}tr/handouts/random.html">Rasgele Sayı Üreticisi Referansı</a></li>
	          	<li><a href="{{pathToRoot}}tr/handouts/graphics.html">Grafik Referansı</a></li>
	          	<li><a href="{{pathToRoot}}tr/handouts/events.html">Olaylar(Events) Referansı</a></li>
	          	<li><a href="{{pathToRoot}}tr/handouts/arrayLists.html">Array Lists</a></li>
	          	<!--
	          	<li><a href="{{pathToRoot}}handouts/events.html">Olaylar(Events) Referansı</a></li>
                <li><a href="{{pathToRoot}}projects/jsJSSyntax.html">JavaScript Referansı</a></li>
                <li><a href="{{pathToRoot}}handouts/htmlReference.html">HTML Referansı</a></li>
                <li><a href="{{pathToRoot}}handouts/uploadWebsite.html">Web Sitesi Upload Etme Referansı</a></li>

	          	<li><a href="{{pathToRoot}}handouts/whatsNext.html">Bundan Sonrası</a></li>
	          	<li><a href="{{pathToRoot}}handouts/forLoops.html">For Döngüsü</a></li>
	          	<li><a href="{{pathToRoot}}handouts/loopAndAHalf.html">Bir Buçuk Döngü</a></li>
	          	<li><a href="{{pathToRoot}}handouts/whileLoops.html">While Döngüsü</a></li>
	          	<li><a href="{{pathToRoot}}handouts/ifStatements.html">If Kalıbı</a></li>
	          	<li><a href="{{pathToRoot}}handouts/variables.html">Değişkenler</a></li>
	            <li><a href="{{pathToRoot}}handouts/scope.html">Scope</a></li>
	            <li><a href="{{pathToRoot}}handouts/operations.html">İşlemler</a></li>
	            <li><a href="{{pathToRoot}}handouts/graphics.html">Grafik</a></li>
	            <li><a href="{{pathToRoot}}handouts/passingData.html">Veri Alışverişi</a></li>-->
	            
	          </ul>
	        </li>


	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projeler <b class="caret"></b></a>
	          <ul class="dropdown-menu">
	            <li><a href="{{pathToRoot}}tr/projects/collectNewspaper.html">Gazete Alma</a></li>
	          	<li><a href="{{pathToRoot}}tr/projects/efes.html">Efes'in İnşaatı</a></li>
	          	<li><a href="{{pathToRoot}}tr/projects/mountain.html">Dağcı Karel</a></li>
	          	<li><a href="{{pathToRoot}}tr/projects/randomPainter.html">Deli Ressam</a></li>
	          	<li class="divider"></li>

	          	<li><a href="{{pathToRoot}}tr/projects/sandcastles.html">Sandcastles</a></li>
	          	<li><a href="{{pathToRoot}}tr/projects/favoriteNumber.html">Favorite Number</a></li>
	          	<li><a href="{{pathToRoot}}tr/projects/medicine.html">Sahte İlaç</a></li>
	          	<li><a href="{{pathToRoot}}tr/projects/someSum.html">Üç Aşağı Beş Yukarı</a></li>
	          	<li><a href="{{pathToRoot}}tr/projects/gameOfStones.html">Nimm</a></li>

	          	<li class="divider"></li>

	          	<li><a href="{{pathToRoot}}tr/projects/awesome.html">Programcılık Bir Harika</a></li>
	          	<li><a href="{{pathToRoot}}tr/projects/stringArt.html">String Art</a></li>
	          	<li><a href="{{pathToRoot}}tr/projects/randomCircles.html">Tesadüfi Daireler</a></li>
	          	<li><a href="{{pathToRoot}}tr/projects/hailstone.html">Dolu Tanesi</a></li>

	            <li class="divider"></li>
	            <li><a href="{{pathToRoot}}tr/projects/bouncingBall.html">Zıp zıp top</a></li>
	          	<li><a href="{{pathToRoot}}tr/projects/madMethods.html">Çılgın Metotlar</a></li>
	          	<li><a href="{{pathToRoot}}tr/projects/target.html">Hedef</a></li>
	          	<li><a href="{{pathToRoot}}tr/projects/illusion.html">Optik İllüzyon</a></li>
	          	<li><a href="{{pathToRoot}}tr/projects/sunset.html">Kısa Film</a></li>

	          	<li class="divider"></li>

	          	<li><a href="{{pathToRoot}}tr/projects/makingTracks.html">İz Çıkartmaca</a></li>
	             <li><a href="{{pathToRoot}}tr/projects/stampTool.html">Damga Makinesi</a></li>
	          	<li><a href="{{pathToRoot}}tr/projects/catchMeIfYouCan.html">Yakala Yakalayabilirsen</a></li>
							<li><a href="{{pathToRoot}}tr/projects/breakout.html">Breakout!</a></li>
							<!--
	          	<li class="divider"></li>

	          	<li><a href="{{pathToRoot}}en/projects/sortedNumbers.html">Sorted Numbers</a></li>
	          	<li><a href="{{pathToRoot}}en/projects/snow.html">Snow</a></li>
	          	<li><a href="{{pathToRoot}}en/projects/mouseGame.html">The Line</a></li>
	          	<li><a href="{{pathToRoot}}en/projects/music.html">Music</a></li>
	          	<li><a href="{{pathToRoot}}tr/projects/project.html">Final Project</a></li>

	          	<li><a href="{{pathToRoot}}projects/medicine.html">Sahte İlaç</a></li>
	          	<li><a href="{{pathToRoot}}projects/gameOfStones.html">Nimm</a></li>
	          	<li><a href="{{pathToRoot}}projects/awesome.html"></a></li>
	          	<li><a href="{{pathToRoot}}projects/someSum.html">Üç Aşağı Beş Yukarı</a></li>
	            <li><a href="{{pathToRoot}}projects/randomCircles.html"></a></li>
	            <li><a href="{{pathToRoot}}projects/bouncingBall.html"></a></li>

	          	<li><a href="{{pathToRoot}}projects/madMax.html">Mad Max</a></li>
	          	<li><a href="{{pathToRoot}}projects/target.html">Hedef Tahtası</a></li>
	          	<li><a href="{{pathToRoot}}projects/sunset.html">Kısa Film</a></li>
	            <li><a href="{{pathToRoot}}projects/drawPeople.html">Çekirge Bir Sıçrar İki Sıçrar</a></li>
	            <li><a href="{{pathToRoot}}projects/illusion.html">Optik İllüzyon</a></li>
	            <li><a href="{{pathToRoot}}projects/madLibs.html">Sana Laflar Hazırladım</a></li>
	            <li><a href="{{pathToRoot}}projects/secret.html">Çok Gizli</a></li>

	     

                <li class="divider"></li>
	            
	            <li><a href="{{pathToRoot}}projects/breakout.html">Breakout</a></li>
	            
	            
	            <li><a href="{{pathToRoot}}projects/music.html">Ses Dalgaları</a></li>
	        	
	        	
	            <li><a href="{{pathToRoot}}projects/project.html">Final Projesi</a></li>
							-->
              
	            
	          </ul>
	        </li>

	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Örnekler <b class="caret"></b></a>
	          <ul class="dropdown-menu">
	          	<li><a href="{{pathToRoot}}tr/projects/stepUp.html">Adım adım</a></li>
	          	<li><a href="{{pathToRoot}}tr/projects/place100.html">100 Koymak</a></li>
	          	<li><a href="{{pathToRoot}}tr/projects/beeperLine.html">Beeper Hattı</a></li>
	          	<li><a href="{{pathToRoot}}tr/projects/invert.html">Ters Çevir</a></li>
	          	<li><a href="{{pathToRoot}}tr/projects/unKarel.html">İnsani Yardım Karel'i</a></li>
	          	<li class="divider"></li>
	            <li><a href="{{pathToRoot}}tr/projects/emc2.html">E=MC2</a></li>
	            <li><a href="{{pathToRoot}}tr/projects/fibb.html">Fibonacci</a></li>
	           <li><a href="{{pathToRoot}}en/projects/favoriteNumber.html">En Sevdiğim Numara</a></li>
	           <li><a href="{{pathToRoot}}en/projects/findPi.html">Pi'yi Bul</a></li>
	           <li><a href="{{pathToRoot}}en/projects/8Ball.html">8 Numaralı Top</a></li>

	           <li class="divider"></li>
	           <li><a href="{{pathToRoot}}tr/projects/robotFace.html">Robot Surat</a></li>

	            <li class="divider"></li>
	           <li><a href="{{pathToRoot}}tr/projects/mysterySquare.html">Gizemli Kare</a></li>
	            <li><a href="{{pathToRoot}}tr/projects/goCenter.html">Merkeze Git</a></li>
	            
	            <li><a href="{{pathToRoot}}tr/projects/gravityBall.html">Seken Top</a></li>

	          	<li><a href="{{pathToRoot}}tr/projects/averageMethod.html">Ortalama Metodu</a></li>	
	          	<li><a href="{{pathToRoot}}tr/projects/drawPeople.html">İnsan Çizme</a></li>	

	          	<li><a href="{{pathToRoot}}tr/projects/halfGreen.html">Yarısı Yeşil</a></li>
	            
							<!--
	            <li class="divider"></li>
	          	<li><a href="{{pathToRoot}}en/projects/debrisSweeper.html">Debris Sweeper</a></li>	
	          	<li><a href="{{pathToRoot}}tr/projects/stampTool.html">Stamp Tool</a></li>
	          	<li><a href="{{pathToRoot}}en/projects/rocketShip.html">Rockets</a></li>
	            
	           <li><a href="{{pathToRoot}}projects/mysterySquare.html"></a></li>
	            
	            <li><a href="{{pathToRoot}}projects/robotFace.html"></a></li>
	            <li><a href="{{pathToRoot}}projects/findPi.html">Pi Bulmaca</a></li>
	            <li><a href="{{pathToRoot}}projects/8Ball.html">8 Top</a></li>
	            <li><a href="{{pathToRoot}}projects/halfGreen.html">Yeşilimtrak</a></li>
	            
	            <li><a href="{{pathToRoot}}projects/stringArt.html">String Sanatı</a></li>
	             
	             <li><a href="{{pathToRoot}}projects/stampTool.html">Damga Makinesi</a></li>
	            <li><a href="{{pathToRoot}}projects/snow.html">Kar</a></li>
                   <li class="divider"></li>
	            <li><a href="{{pathToRoot}}projects/breakoutOnline.html">Breakout Online</a></li>
							-->
	          </ul>
	        </li>

	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Slaytlar <b class="caret"></b></a>
	          <ul class="dropdown-menu">
	          	<li><a href="{{pathToRoot}}slides/Welcome.pdf">Karel</a></li>
	          	<li><a href="{{pathToRoot}}slides/ControlFlow.pdf">ControlFlow</a></li>
	          	<li><a href="{{pathToRoot}}slides/Variables.pdf">Değişkenler</a></li>
	          	<li><a href="{{pathToRoot}}slides/Graphics.pdf">Grafikler</a></li>
	          	<li><a href="{{pathToRoot}}slides/Animation.pdf">Animasyon</a></li>
	          	<li><a href="{{pathToRoot}}slides/Methods.pdf">Metotlar</a></li>
	          	<li><a href="{{pathToRoot}}slides/Review.pdf">Özet</a></li>
	          	<li><a href="{{pathToRoot}}slides/Events.pdf">Events</a></li>
	          	<li><a href="{{pathToRoot}}slides/Internet.pdf">Internet</a></li>
	          	<li><a href="{{pathToRoot}}slides/Arrays.pdf">Arrays</a></li>
	          	<li><a href="{{pathToRoot}}slides/ArrayLists.pdf">Array Lists</a></li>
	          	<li><a href="{{pathToRoot}}slides/Strings.pdf">Strings</a></li>
							<!--
	          	<li><a href="{{pathToRoot}}slides/AI.pdf">Artificial Intelligence</a></li>
	          	<li><a href="{{pathToRoot}}slides/loopVariableReview.pdf">Loop/Variable Review</a></li>
	          	<li><a href="{{pathToRoot}}slides/Interactors.pdf">Interactors</a></li>
	          	<li><a href="{{pathToRoot}}slides/02.pdf">Basit Java</a></li>
	          	<li><a href="{{pathToRoot}}slides/03.pdf">Metodlar</a></li>
	          	<li><a href="{{pathToRoot}}slides/04.pdf">Tekrar</a></li>
	          	<li><a href="{{pathToRoot}}slides/06.pdf">Array List'ler</a></li>
	          	<li><a href="{{pathToRoot}}slides/AI.pdf">A.I. (Yapay Zeka)</a></li>
	          	<li><a href="{{pathToRoot}}slides/TheEnd.pdf">Son</a></li>
	          	
							-->
	          </ul>
	        </li>


	        <!--<li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">İnternet <b class="caret"></b></a>
	          <ul class="dropdown-menu">
	          	<li><a href="https://www.dropbox.com/s/1jtjo9hde8in0xn/1-How%20the%20internet%20works.pptx">İnterne Nasıl Çalışır</a></li>
	          	<li><a href="https://www.dropbox.com/s/1t7pwltugsy4pxg/2-day-in-the-life-of-packet.pptx">Bir Paket'in Sıradan Bir GÜnü</a></li>
	          	<li><a href="https://www.dropbox.com/s/1n0lzrl32urfsnr/3-How%20packets%20routed.pptx">Paketler Nasıl Yolunu Bulur</a></li>
	          	<li class="divider"></li>
	          	<li><a href="http://yuba.stanford.edu/~huangty/dacka/lab1.html">Lab 1</a></li>
	          	<li><a href="http://yuba.stanford.edu/~huangty/dacka/lab2.html">Lab 2</a></li>
	          	<li class="divider"></li>
	          	<li><a href="{{pathToRoot}}internet/echo.zip">Echo Client Kodu</a></li>
	          	<li><a href="{{pathToRoot}}internet/2person-breakout.zip">Breakout Online Kodu</a></li>

	          	
	          </ul>
	        </li>-->

	        <!--<li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Section<b class="caret"></b></a>
	          <ul class="dropdown-menu">
	          	<li><a href="{{pathToRoot}}projects/stepUp.html">Gazeteci Karel</a></li>
	          	<li><a href="{{pathToRoot}}projects/place100.html">Sahte İlaçlar</a></li>
	          	<li><a href="{{pathToRoot}}projects/beeperLine.html">Hedef Tahtası</a></li>
	          </ul>
	        </li>-->
	        <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bonus <b class="caret"></b></a>
	          <ul class="dropdown-menu">
                <li><a href="{{pathToRoot}}tr/bonus-index.html">Bonus Özet</a></li>
	          </ul>
	        </li>

	        <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Formlar <b class="caret"></b></a>
	          <ul class="dropdown-menu">
                <li><a href="{{pathToRoot}}en/handouts/submission.html">Çalışmaları Teslim Etme</a></li>
                <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSffsKTNU3mu-21-ZjZFJ3d-fPdvw6uQcvhAjbpXhux43_3gpg/viewform?usp=sf_link">Sign in To Lab</a></li>
	          </ul>
	        </li>

	      </ul>

	      
	      <ul class="nav navbar-nav navbar-right">
	        <li><a onclick="changeToEnglish()" style="cursor: pointer;"><img class="languageIcon" src="{{pathToRoot}}img/english_flag.png"></img></a></li>
	      	<li><a onclick="changeToTurkish()" style="cursor: pointer;"><img class="languageIcon" src="{{pathToRoot}}img/turkish_flag.png"></img></a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	</div>
  </div><!-- /.container-fluid -->
</nav>

<script>

	function changeToTurkish() {
		var url = window.location.href;
		url = url.replace("/en/", "/tr/");
		window.location.href = url;
	}

	function changeToEnglish() {
		var url = window.location.href;
		url = url.replace("/tr/", "/en/");
		window.location.href = url;
	}

</script>


