<div>
	<div class="bs-example">
		<!-- Row -->
		<div class="row">

			<div class="col-xs-2">
				<div class="thumbnail">
					<img class = "thumbnailImg" src="../img/peeps/lisa.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Lisa</b>
  					</div>
  				</div>
  			</div>
  
  			<div class="col-xs-2">
  				<div class="thumbnail">
  					<img src="../img/peeps/baris.jpg" alt="Generic placeholder thumbnail">
  					<div class="caption">
  						<b>Barış</b>
  					</div>
  				</div>
  			</div>
  
  			<div class="col-xs-2">
  				<div class="thumbnail">
  					<img src="../img/peeps/default.jpg" alt="Generic placeholder thumbnail">
  					<div class="caption">
  						<b>Kaan</b>
  					</div>
  				</div>
  			</div>
  
  			<div class="col-xs-2">
  				<div class="thumbnail">
  					<img src="../img/peeps/ahmet.jpeg" alt="Generic placeholder thumbnail">
  					<div class="caption">
  						<b>Ahmet</b>
  					</div>
  				</div>
  			</div>
  
  			<div class="col-xs-2">
  				<div class="thumbnail">
  					<img src="../img/peeps/beyzanur.jpg" alt="Generic placeholder thumbnail">
  					<div class="caption">
  						<b>Beyzanur</b>
  					</div>
  				</div>
  			</div>

    </div>

		<div class="row">
  
  			<div class="col-xs-2">
  				<div class="thumbnail">
  					<img src="../img/peeps/ceren.jpg" alt="Generic placeholder thumbnail">
  					<div class="caption">
  						<b>Ceren</b>
  					</div>
  				</div>
  			</div>
  
 			<div class="col-xs-2">
 				<div class="thumbnail">
 					<img src="../img/peeps/ece.jpg" alt="Generic placeholder thumbnail">
 					<div class="caption">
 						<b>Ece</b>
 					</div>
 				</div>
 			</div>

			<div class="col-xs-2">
				<div class="thumbnail">
					<img class = "thumbnailImg" src="../img/peeps/eren.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Eren</b>
  					</div>
  				</div>
  			</div>
  
  			<div class="col-xs-2">
  				<div class="thumbnail">
  					<img src="../img/peeps/ezgi.jpg" alt="Generic placeholder thumbnail">
  					<div class="caption">
  						<b>Ezgi</b>
  					</div>
  				</div>
  			</div>
  
  			<div class="col-xs-2">
  				<div class="thumbnail">
  					<img src="../img/peeps/default.jpg" alt="Generic placeholder thumbnail">
  					<div class="caption">
  						<b>Gül Sena</b>
  					</div>
  				</div>
  			</div>
    </div>

		<div class="row">
  
  			<div class="col-xs-2">
  				<div class="thumbnail">
  					<img src="../img/peeps/haluk.jpeg" alt="Generic placeholder thumbnail">
  					<div class="caption">
  						<b>Haluk</b>
  					</div>
  				</div>
  			</div>
  
  			<div class="col-xs-2">
  				<div class="thumbnail">
  					<img src="../img/peeps/hasan.jpg" alt="Generic placeholder thumbnail">
  					<div class="caption">
  						<b>Hasan</b>
  					</div>
  				</div>
  			</div>
  
  		<div class="col-xs-2">
  			<div class="thumbnail">
  				<img src="../img/peeps/ipek.jpg" alt="Generic placeholder thumbnail">
  				<div class="caption">
  					<b>İpek</b>
  				</div>
  			</div>
  		</div>

			<div class="col-xs-2">
				<div class="thumbnail">
					<img class = "thumbnailImg" src="../img/peeps/levent.jpeg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Levent</b>
  					</div>
  				</div>
  			</div>
  
  			<div class="col-xs-2">
  				<div class="thumbnail">
  					<img src="../img/peeps/necla.png" alt="Generic placeholder thumbnail">
  					<div class="caption">
  						<b>Necla</b>
  					</div>
  				</div>
  			</div>

		</div>

		<div class="row">
  
  			<div class="col-xs-2">
  				<div class="thumbnail">
  					<img src="../img/peeps/default.jpg" alt="Generic placeholder thumbnail">
  					<div class="caption">
  						<b>Oğuzhan</b>
  					</div>
  				</div>
  			</div>
  
  			<div class="col-xs-2">
  				<div class="thumbnail">
  					<img src="../img/peeps/ozanD.png" alt="Generic placeholder thumbnail">
  					<div class="caption">
  						<b>Ozan D</b>
  					</div>
  				</div>
  			</div>
  
  			<div class="col-xs-2">
  				<div class="thumbnail">
  					<img src="../img/peeps/ozanN.jpeg" alt="Generic placeholder thumbnail">
  					<div class="caption">
  						<b>Ozan N</b>
  					</div>
  				</div>
  			</div>
  
 			<div class="col-xs-2">
 				<div class="thumbnail">
 					<img src="../img/peeps/quincy.jpg" alt="Generic placeholder thumbnail">
 					<div class="caption">
 						<b>Quincy</b>
 					</div>
 				</div>
 			</div>

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/sabri.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Sabri</b>
					</div>
				</div>
			</div>

		</div>

		<div class="row">

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/seher.png" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Seher</b>
					</div>
				</div>
			</div>

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/serhat.JPG" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Serhat</b>
					</div>
				</div>
			</div>

			<div class="col-xs-2">
				<div class="thumbnail">
					<img class = "thumbnailImg" src="../img/peeps/chris.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Chris</b>
					</div>
				</div>
			</div>

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/nick2.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Nick</b>
					</div>
				</div>
			</div>

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/asena.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Asena</b>
					</div>
				</div>
			</div>
		</div>

</div>
