<div>
	<div class="bs-example">
		<!-- Row -->
		<div class="row">
			<div class="col-xs-2">
				<div class="thumbnail">
					<img class = "thumbnailImg" src="../img/peeps/tyler.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Tyler</b>
					</div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/baris.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Baris</b>
					</div>
				</div>
			</div>

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/mediha.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Mediha</b>
					</div>
				</div>
			</div>

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/aybuke.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Aybüke</b>
					</div>
				</div>
			</div>

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/alper.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Alper</b>
					</div>
				</div>
			</div>

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/muharrem.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Muharrem</b>
					</div>
				</div>
			</div>
		</div>
		<div class="row">

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/burak.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Burak</b>
					</div>
				</div>
			</div>




			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/utku.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Utku</b>
					</div>
				</div>
			</div>

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/ceren.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Ceren</b>
					</div>
				</div>
			</div>

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/elif.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Elif</b>
					</div>
				</div>
			</div>

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/eren.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Eren</b>
					</div>
				</div>
			</div>

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/ezgi.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Ezgi</b>
					</div>
				</div>
			</div>

		</div>
		<div class="row">

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/melis.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Melis</b>
					</div>
				</div>
			</div>

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/cerenA.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Ceren</b>
					</div>
				</div>
			</div>

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/melike.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Melike</b>
					</div>
				</div>
			</div>

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/default.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Kaan</b>
					</div>
				</div>
			</div>

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/lisa.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Lisa</b>
					</div>
				</div>
			</div>



			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/kaanA.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Kaan</b>
					</div>
				</div>
			</div>


		</div>
		<div class="row">

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/bilgehan.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Bilgehan</b>
					</div>
				</div>
			</div>

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/ozan.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Ozan</b>
					</div>
				</div>
			</div>


			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/default.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Kaan</b>
					</div>
				</div>
			</div>

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/berkay.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Berkay</b>
					</div>
				</div>
			</div>

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/omer.png" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Omer</b>
					</div>
				</div>
			</div>

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/firtina.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Fırtına</b>
					</div>
				</div>
			</div>

		</div>
		<div class="row">

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/zeynep.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Zeynep</b>
					</div>
				</div>
			</div>

			<div class="col-xs-2">
				<div class="thumbnail">
					<img class = "thumbnailImg" src="../img/peeps/chris.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Chris</b>
					</div>
				</div>
			</div>

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/nick2.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Nick</b>
					</div>
				</div>
			</div>

			<div class="col-xs-2">
				<div class="thumbnail">
					<img src="../img/peeps/asena.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Asena</b>
					</div>
				</div>
			</div>
		</div>
</div>
