<div>
	<div class="bs-example">
		<!-- Row -->
		<div class="row">

			<div class="col-xs-2">
				<div class="thumbnail">
					<img class = "thumbnailImg" src="../img/peeps/default.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Nick</b>
  					</div>
  				</div>
  			</div>
  
  			<div class="col-xs-2">
  				<div class="thumbnail">
  					<img src="../img/peeps/default.jpg" alt="Generic placeholder thumbnail">
  					<div class="caption">
  						<b>Eliška</b>
  					</div>
  				</div>
  			</div>
  
  			<div class="col-xs-2">
  				<div class="thumbnail">
  					<img src="../img/peeps/default.jpg" alt="Generic placeholder thumbnail">
  					<div class="caption">
  						<b>Ondřej</b>
  					</div>
  				</div>
  			</div>
  
  			<div class="col-xs-2">
  				<div class="thumbnail">
  					<img src="../img/peeps/chris.jpg" alt="Generic placeholder thumbnail">
  					<div class="caption">
  						<b>Chris</b>
  					</div>
  				</div>
  			</div>
  
  			<div class="col-xs-2">
  				<div class="thumbnail">
  					<img src="../img/peeps/default.jpg" alt="Generic placeholder thumbnail">
  					<div class="caption">
  						<b>Beyzanur</b>
  					</div>
  				</div>
  			</div>

  
  			<div class="col-xs-2">
  				<div class="thumbnail">
  					<img src="../img/peeps/default.jpg" alt="Generic placeholder thumbnail">
  					<div class="caption">
  						<b>Ceren</b>
  					</div>
  				</div>
  			</div>


    </div>

    <div class="row">
  
 			<div class="col-xs-2">
 				<div class="thumbnail">
 					<img src="../img/peeps/default.jpg" alt="Generic placeholder thumbnail">
 					<div class="caption">
 						<b>Ece</b>
 					</div>
 				</div>
 			</div>

			<div class="col-xs-2">
				<div class="thumbnail">
					<img class = "thumbnailImg" src="../img/peeps/default.jpg" alt="Generic placeholder thumbnail">
					<div class="caption">
						<b>Eren</b>
  					</div>
  				</div>
  			</div>
  
  			<div class="col-xs-2">
  				<div class="thumbnail">
  					<img src="../img/peeps/default.jpg" alt="Generic placeholder thumbnail">
  					<div class="caption">
  						<b>Ezgi</b>
  					</div>
  				</div>
  			</div>
  
  			<div class="col-xs-2">
  				<div class="thumbnail">
  					<img src="../img/peeps/default.jpg" alt="Generic placeholder thumbnail">
  					<div class="caption">
  						<b>Gül Sena</b>
  					</div>
  				</div>
  			</div>
    </div>

		

</div>
