<!-- 
These scripts allow for hiding content until a specified time has passed.
To do this, simply add the class "visible-after" to the element, and add
the custom "data-visible-after" attribute to the element as well which
should be equal to the timestamp on or after which that element should be
visible.  For example:

<div class="visible-after" data-visible-after="2019070917">
	...
</div>

this element would be visible only starting at 5PM on 7/9/19.

These scripts also allow marking elements as "TA only".  This means the
elements will only be visible if the ta query param is present in the URL.
For instance, index.html will not show the elements, but index.html?ta will.

In TA mode, all elements, even ones which are not supposed to be visible
until later, are visible.
-->
<script type="text/javascript" src="{{pathToRoot}}js/moment.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		const urlParams = new URLSearchParams(window.location.search);
		const isTAMode = urlParams.get('ta');

		// If the URL param is included, it will be a string (maybe empty)
		if (isTAMode == null) {
			// only show certain content if they should be released
			$(".visible-after").each(function(i) {
			    var dateStr = $(this).attr("data-visible-after");
			    var releaseDate = moment(dateStr, "YYYYMMDDHH");
			    if (!releaseDate.isSameOrBefore(moment())) {
			    	$(this).remove();
			    }
			});
		}

		// Remove any ta-only elements
		$(".ta-only").each(function(i) {
		    if (isTAMode == null) {
		    	$(this).remove();
		    }
		});
	});
</script>

<!-- Final Project -->
<div class="visible-after" data-visible-after="2019071700">
	<h4>Final Project (<a href="{{pathToRoot}}starter/BlankJavaProject.zip">Eclipse Project Here</a>)</h4>
	<br />
</div>

<!-- Breakout -->
<div class="visible-after" data-visible-after="2019071513">
	<h4>Breakout (<a href="{{pathToRoot}}starter/Breakout.zip">Eclipse Project Here</a>)</h4>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th colspan="2">Name</th>
				<th>Topic</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><img class="projectImg" src="{{pathToRoot}}img/icons/breakout.jpg"></img></td>
				<td><a href="{{pathToRoot}}en/projects/breakout.html">Breakout!</a></td>
				<td>Interactors</td>
			</tr>
		</tbody>
	</table>
	<br />
</div>

<!-- Day 5 -->
<div class="visible-after" data-visible-after="2019071500">
	<h4>Day 5: Events (<a href="{{pathToRoot}}starter/Day5.zip">Eclipse Project Here</a>)</h4>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th colspan="2">Name</th>
				<th>Topic</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><img class="projectImg" src="{{pathToRoot}}img/icons/makingTracks.png"></img></td>
				<td><a href="{{pathToRoot}}en/projects/makingTracks.html">Making Tracks</a></td>
				<td>Events</td>
			</tr>

			<tr>
				<td><img class="projectImg" src="{{pathToRoot}}img/icons/catchMeIfYouCan.png"></img></td>
				<td><a href="{{pathToRoot}}en/projects/catchMeIfYouCan.html">Catch Me If You Can</a></td>
				<td>Instance Variables</td>
			</tr>
		</tbody>
	</table>
	<br />
</div>

<!-- Day 4 -->
<div class="visible-after" data-visible-after="2019071200">
	<h4>Day 4: Methods and Advanced Java (<a href="{{pathToRoot}}starter/Day4.zip">Eclipse Project Here</a>)</h4>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th colspan="2">Name</th>
				<th>Topic</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><img class="projectImg" src="{{pathToRoot}}img/icons/madMax.jpg"></img></td>
				<td><a href="{{pathToRoot}}en/projects/madMethods.html">Mad Methods</a></td>
				<td>Params and Returns</td>
			</tr>

			<tr>
				<td><img class="projectImg" src="{{pathToRoot}}img/icons/target.png"></img></td>
				<td><a href="{{pathToRoot}}en/projects/target.html">Target</a></td>
				<td>Parameters</td>
			</tr>

			<tr class="visible-after" data-visible-after="2019071213">
				<td><img class="projectImg" src="{{pathToRoot}}img/icons/illusion.png"></img></td>
				<td><a href="{{pathToRoot}}en/projects/illusion.html">Optical Illusion</a></td>
				<td>For Loops</td>
			</tr>

			<tr class="visible-after" data-visible-after="2019071213">
				<td><img class="projectImg" src="{{pathToRoot}}img/icons/sunset.png"></img></td>
				<td><a href="{{pathToRoot}}en/projects/sunset.html">Short Film</a></td>
				<td>Params and Returns</td>
			</tr>
		</tbody>
	</table>
	<br />
</div>

<!-- Day 3 -->
<div class="visible-after" data-visible-after="2019071100">
	<h4>Day 3: Graphics (<a href="{{pathToRoot}}starter/Day3.zip">Eclipse Project Here</a>)</h4>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th colspan="2">Name</th>
				<th>Topic</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><img class="projectImg" src="{{pathToRoot}}img/icons/awesome.png"></img></td>
				<td><a href="{{pathToRoot}}en/projects/awesome.html">Programing is Awesome</a>
					<div class="ta-only">
						<br><a href="{{pathToRoot}}sls/soln/awesome.html">TA Solution</a>
					</div>
				</td>
				<td>Graphics</td>
			</tr>

			<tr>
				<td><img class="projectImg" src="{{pathToRoot}}img/icons/mysterySquare.png"></img></td>
				<td><a href="{{pathToRoot}}en/projects/mysterySquare.html">Mystery Square</a>
					<div class="ta-only">
						<br><a href="{{pathToRoot}}sls/soln/mysterySquare.html">TA Solution</a>
					</div>
				</td>
				<td>Randomness</td>
			</tr>

			<tr>
				<td><img class="projectImg" src="{{pathToRoot}}img/icons/stringArt.png"></img></td>
				<td><a href="{{pathToRoot}}en/projects/stringArt.html">String Art</a>
					<div class="ta-only">
						<br><a href="{{pathToRoot}}sls/soln/stringArt.html">TA Solution</a>
					</div>
				</td>
				<td>For Loops</td>
			</tr>

			<tr class="visible-after" data-visible-after="2019071113">
				<td><img class="projectImg" src="{{pathToRoot}}img/icons/randomCircles.png"></img></td>
				<td><a href="{{pathToRoot}}en/projects/randomCircles.html">Random Circles</a>
					<div class="ta-only">
						<br><a href="{{pathToRoot}}sls/soln/randomCircles.html">TA Solution</a>
					</div>
				</td>
				<td>Randomness</td>
			</tr>

			<tr class="visible-after" data-visible-after="2019071113">
				<td><img class="projectImg" src="{{pathToRoot}}img/icons/bouncing.png"></img></td>
				<td><a href="{{pathToRoot}}en/projects/bouncingBall.html">Bouncing Ball</a></td>
				<td>Animation</td>
			</tr>
		</tbody>
	</table>
	<br />
</div>

<!-- Day 2 -->
<div class="visible-after" data-visible-after="2019071000">
	<h4>Day 2: Variables (<a href="{{pathToRoot}}starter/Day2.zip">Eclipse Project Here</a>)</h4>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th colspan="2">Name</th>
				<th>Topic</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><img class="projectImg" src="{{pathToRoot}}img/icons/sandcastle.jpg"></img></td>
				<td><a href="{{pathToRoot}}en/projects/sandcastles.html">Sandcastles</a>
					<div class="ta-only">
						<br><a href="{{pathToRoot}}sls/soln/sandcastles.html">TA Solution</a>
					</div>
				</td>
				<td>Variables</td>
			</tr>

			<tr>
				<td><img class="projectImg" src="{{pathToRoot}}img/icons/guess.jpg"></img></td>
				<td><a href="{{pathToRoot}}en/projects/favoriteNumber.html">Favorite Number</a>
					<div class="ta-only">
						<br><a href="{{pathToRoot}}sls/soln/favoriteNumber.html">TA Solution</a>
					</div>
				</td>
				<td>Variables</td>
			</tr>

			<tr>
				<td><img class="projectImg" src="{{pathToRoot}}img/icons/medicine.png"></img></td>
				<td><a href="{{pathToRoot}}en/projects/medicine.html">Medicine Counterfeiting</a>
					<div class="ta-only">
						<br><a href="{{pathToRoot}}sls/soln/medicine.html">TA Solution</a>
					</div>
				</td>
				<td>Concatenation</td>
			</tr>

			<tr class="visible-after" data-visible-after="2019071013">
				<td><img class="projectImg" src="{{pathToRoot}}img/icons/someSum.png"></img></td>
				<td><a href="{{pathToRoot}}en/projects/someSum.html">That's Some Sum</a>
					<div class="ta-only">
						<br><a href="{{pathToRoot}}sls/soln/someSum.html">TA Solution</a>
					</div>
				</td>
				<td>Variables</td>
			</tr>

			<tr class="visible-after" data-visible-after="2019071013">
				<td><img class="projectImg" src="{{pathToRoot}}img/icons/nim.jpg"></img></td>
				<td><a href="{{pathToRoot}}en/projects/gameOfStones.html">Game of Nimm</a>
					<div class="ta-only">
						<br><a href="{{pathToRoot}}sls/soln/gameOfStones.html">TA Solution</a>
					</div>
				</td>
				<td>Variables</td>
			</tr>
		</tbody>
	</table>
	<br />
</div>

<!-- Day 1 -->
<div class="visible-after" data-visible-after="2019070900">
	<h4>Day 1: Karel (<a href="{{pathToRoot}}starter/Day1.zip">Eclipse Project Here</a>)</h4>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th colspan="2">Name</th>
				<th>Topic</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="{{pathToRoot}}en/projects/collectNewspaper.html"><img class="projectImg" src="{{pathToRoot}}img/icons/newspaper.jpg"></img></a></td>
				<td><a href="{{pathToRoot}}en/projects/collectNewspaper.html">Collect Newspaper</a>
					<div class="ta-only">
						<!-- <br><a href="{{pathToRoot}}sls/soln/collectNewspaper.html">TA Solution</a> -->
					</div>
				</td>
				<td>Methods</td>
			</tr>

			<tr>
				<td><img class="projectImg" src="{{pathToRoot}}img/icons/charles.jpg"></img></td>
				<td><a href="{{pathToRoot}}en/projects/efes.html">Build Charles Bridge</a>
					<div class="ta-only">
						<!-- <br><a href="{{pathToRoot}}sls/soln/charles.html">TA Solution</a> -->
					</div>
				</td>
				<td>For Loops</td>
			</tr>

			<tr class="visible-after" data-visible-after="2019070913">
				<td><img class="projectImg" src="{{pathToRoot}}img/icons/mountain.png"></img></td>
				<td><a href="{{pathToRoot}}en/projects/mountain.html">Mountain Karel</a>
					<div class="ta-only">
						<!-- <br><a href="{{pathToRoot}}sls/soln/mountain.html">TA Solution</a> -->
					</div>
				</td>
				<td>While Loops</td>
			</tr>

			<tr class="visible-after" data-visible-after="2019070913">
				<td><img class="projectImg" src="{{pathToRoot}}img/icons/randomPainter2.png"></img></td>
				<td><a href="{{pathToRoot}}en/projects/randomPainter.html">Random Painter</a>
					<div class="ta-only">
						<!-- <br><a href="{{pathToRoot}}sls/soln/randomPainter.html">TA Solution</a> -->
					</div>
				</td>
				<td>If Statements</td>
			</tr>
		</tbody>
	</table>
</div>
