#idecontent {
	float:left;
	margin: 0;
	padding-right:10px;
}

#canvas {
	float:left;
	padding-left:20px;
	width:525px;
	height:525px;
}

#blurb {
	float:left;
	width:250px;
	height:525px;
	/*border-width:2px;
	border-style:solid;*/
	background:#fff;
	overflow:scroll;
	
}

